﻿
@{
    ViewBag.Title = "CalculoActuario";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/CalculoActuarioController.js"></script>
}

<h2>Calculo Actuario</h2>
<br />
<div class="container" ng-app="reports" ng-controller="calculoActuario" >
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4>Generar</h4>
            <button class="btn btn-warning" ng-click="getCalculoActuario()">Generar Calculo Actuario</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4>Descargar</h4>
            <button class="btn btn-success" ng-csv="listCaluclo" csv-header="['No Colegiado', 'Salario', 'Acumulado', 'Meses', 'Promedio']" filename="calculoActuaro.csv" ng-disabled="listCaluclo == null">Descargar Calculo Actuario</button>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
