﻿
@{
    ViewBag.Title = "CalidadyEstatusSaldos";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}


@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/calidadyEstatusSaldosController.js"></script>
}

<h2>Calidad y Estatus</h2>
<div class="container" ng-app="reports" ng-controller="calidadyEstatusSaldos">
    <div class="row">
        <div class="col-md-3">
            <h5>Universidad</h5>
            <input ng-model="inUniversity" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Tipo Colegiado</h5>
            <input ng-model="inTypeReferee" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Ingresar Lugar de colegiacion</h5>
            <input ng-model="inHead" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Tipo título</h5>
            <input ng-model="inSpecial" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Estatus Colegiado</h5>
            <input ng-model="inActive" class="form-control" />
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <button ng-click="generateList()" class="btn btn-success">Generar</button>
        </div>

    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")

