﻿
@{
    ViewBag.Title = "ChequesRechazados";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/ChequesRechazadosController.js"></script>
}

<h2>Estatus de Cheques</h2>
<div class="container" ng-app="reports" ng-controller="chequesRechazados" ng-init="init()">
    <div class="row">
        <form name="form">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success btn-xs" ng-hide="moreFilter" ng-click="moreFilter = true">Más filtros</button>
                    <button class="btn btn-warning btn-xs" ng-show="moreFilter" ng-click="moreFilter = false">Menos filtros</button>
                </div>
                <div class="col-md-3" ng-show="moreFilter">
                    <h5>Fecha Inicio</h5>
                    <md-datepicker ng-model="inDateI" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                </div>
                <div class="col-md-3" ng-show="moreFilter">
                    <h5>Fecha Final</h5>
                    <md-datepicker ng-model="inDateF" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                </div>
                <div class="col-md-3" ng-show="moreFilter">
                    <h5>Colegiado</h5>
                    <input ng-model="inRefe" ng-pattern="regexReferee" class="form-control" />
                </div>
                @if (ViewBag.verReporteGeneral)
                {
                <div class="col-md-3" ng-show="moreFilter">
                    <h5>Ingreso Sede</h5>
                    <select multiple class="form-control" ng-model="inHead" ng-options="lis as lis.address for lis in listHeadquarter" ></select>
                </div>
                }
            </div>
            <div class="row">
                <div class="col-md-3" ng-show="moreFilter">
                    <h5>Cajero</h5>
                    @if(ViewBag.verReporteGeneral){
                        <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ active : checkboxModel.value }"></select>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="1" ng-false-value="">Filtrar</label>
                    }
                    else
                    {
                        <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ id : @ViewBag.idCashier }:identical" ></select>
                    }
                </div>
                <div class="col-md-3" ng-show="moreFilter">
                    <h5>Caja</h5>
                    <select multiple class="form-control" ng-model="inCash" ng-options="lis as lis.name for lis in listCash" ></select>
                </div>
                <div class="col-md-3">
                    <h5>Rechazado</h5>
                    <select ng-model="inRec" class="form-control" ng-init="inRec = '1'">
                        <option selected value="">Ambos</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="col-md-3" ng-init="inFro = '1'">
                    <h5>Cheques de pagos congelados</h5>
                    <select ng-model="inFro" class="form-control">
                        <option value="1">Pagos congelados</option>
                        <option value="">Todos</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <br />
                    <br />
                    <button ng-click="generateList()" ng-disabled="!form.$valid"  class="btn btn-success">Generar</button>
                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
