﻿
@{
    ViewBag.Title = "CorteCajaCaja";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/CorteCajaController.js"></script>
}

<h2>CorteCajaCaja</h2>

<div class="container" ng-app="reports" ng-controller="corteCaja">
    <div class="row">
        <div class="col-md-3">
            <br />
            <br />
            <button ng-click="generateList()" class="btn btn-success">Generar</button>

        </div>

    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")