﻿
@{
    ViewBag.Title = "CorteCajaRango";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/CorteCajaRangoController.js"></script>
}

<h2>Listado Corte Caja</h2>
<div class="container" ng-app="reports" ng-controller="corteCajaRango" ng-init="init()">
    <div class="row">
        <div class="row">
            <form name="formcortecaja">
                <div class="col-md-3">
                    <h5>Fecha Inicio</h5>
                    <md-datepicker ng-model="inDateI" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                </div>
                <div class="col-md-3">
                    <h5>Fecha Final</h5>
                    <md-datepicker ng-model="inDateF" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                </div>
                <div class="col-md-3">
                    <h5>Cajero</h5>
                    @if (ViewBag.verReporteGeneral)
                    {
                        <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ active : checkboxModel.value }" required></select>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="1" ng-false-value="">Filtrar</label>
                    }
                    else
                    {
                        <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ id : @ViewBag.idCashier }:identical" required></select>
                    }
                </div>
                <div class="col-md-3">
                    <h5>Accion</h5>
                    <button ng-click="getList()" ng-disabled="!formcortecaja.$valid" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row" ng-show="listReports.length > 0">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cajero</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listReports">
                            <td>{{list.dateR | date:"dd/MM/yyyy" }}</td>
                            <td>{{getNameCashier(list.idCashier)}}</td>
                            <td>
                                <button ng-click="viewReport(list.direction)" class="btn btn-primary btn-xs">Ver Reporte</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerReportAngular")
