﻿
@{
    ViewBag.Title = "Directorio";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/DirectorioController.js"></script>
}

<h2>Directorio</h2>
<div class="container" ng-app="reports" ng-controller="directorio" ng-init="init()">
    <div class="row">
        <form name="form">
            <div class="col-md-3">
                <h5>Universidad</h5>
                <select multiple class="form-control" ng-model="inUniversity" ng-options="lis as lis.name for lis in listUniversity" ></select>
            </div>
            <div class="col-md-3">
                <h5>Tipo Colegiado</h5>
                <select multiple class="form-control" ng-model="inTypeReferee" ng-options="lis as lis.nombre for lis in listTypeReferee" ></select>
            </div>
            @if (ViewBag.verReporteGeneral)
            {
            <div class="col-md-3">
                <h5>Sede</h5>
                <select multiple class="form-control" ng-model="inHead" ng-options="lis as lis.address for lis in listHeadquarter" ></select>
            </div>
            }
            <div class="col-md-3">
                <h5>Tipo título</h5>
                <select multiple class="form-control" ng-model="inSpecial" ng-options="lis as lis.name for lis in listTypeEspeciality" ></select>
            </div>
            <div class="col-md-3">
                <h5>Estatus Colegiado</h5>
                <select ng-model="inActive" class="form-control"  ng-change="getSelectListType()">
                    <option selected value="">Todos</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                    <option value="2">Ambos</option>
                </select>
            </div>
            <div class="col-md-3">
                <h5>Colegiado</h5>
                <input ng-model="inReferee" ng-pattern="regexReferee" class="form-control" />
            </div>
            <div class="col-md-3" ng-init="selType = ''">
                <h5>Seleccione tipo</h5>
                <select class="form-control" ng-model="selType" ng-change="clearDir()">
                    <option value="">Ninguno</option>
                    <option value="3">Municipio</option>
                    <option value="2">Departamento</option>
                    <option value="1">Pais</option>
                </select>
            </div>
            <div class="col-md-12">
                <div class="col-md-3" ng-show="selType >= 1">
                    <h5>Seleccione Pais</h5>
                    <select multiple class="form-control" ng-model="selectCountry" ng-change="getDepartament()" ng-options="cou as cou.name for cou in listCountry"></select>
                </div>
                <div class="col-md-3" ng-show="selType >= 2">
                    <h5>Seleccione departamento</h5>
                    <select multiple class="form-control" ng-model="selectDepartament" ng-change="getMunicipality()" ng-options="dep as dep.name for dep in listDepartament"></select>
                </div>
                <div class="col-md-3" ng-show="selType >= 3">
                    <h5>Seleccione municipio</h5>
                    <select multiple class="form-control" ng-model="selectMunicipality" ng-change="" ng-options="mun as mun.name for mun in listMunicipality"></select>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Carga</h5>
                <input type="file" file-reader="fileContent" />
            </div>
            <div class="col-md-3">
                <h5>Definir la carga del archivo</h5>
                <button class="btn btn-warning" ng-click="define()">Definir carga</button>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
