﻿
@{
    ViewBag.Title = "DocumentosPendientes";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/documentosPendientesController.js"></script>
}

<h2>Documentos Pendientes</h2>
<div class="container" ng-app="reports" ng-controller="documentosPendientes" ng-init="init()">
    <div class="row">
        <form name="form">
            <div class="col-md-3">
                <h5>Universidad</h5>
                <select multiple class="form-control" ng-model="inUniversity" ng-options="lis as lis.name for lis in listUniversity" ></select>
            </div>
            <div class="col-md-3">
                <h5>Tipo Colegiado</h5>
                <select multiple class="form-control" ng-model="inTypeReferee" ng-options="lis as lis.nombre for lis in listTypeReferee" ></select>
            </div>
            @if (ViewBag.verReporteGeneral)
            {
            <div class="col-md-3">
                <h5>Sede</h5>
                <select multiple class="form-control" ng-model="inHead" ng-options="lis as lis.address for lis in listHeadquarter" ></select>
            </div>
            }
            <div class="col-md-3">
                <h5>Tipo especialidad</h5>
                <select multiple class="form-control" ng-model="inSpecial" ng-options="lis as lis.name for lis in listTypeEspeciality" ></select>
            </div>
            <div class="col-md-3">
                <h5>Numero colegiado</h5>
                <input ng-model="inReferee" ng-pattern="regexReferee" class="form-control" />
            </div>
            <div class="col-md-3" ng-init="inActive = ''">
                <h5>Estado documentos</h5>
                <select class="form-control" ng-model="inActive">
                    <option selected value="">Ambos</option>
                    <option value="1">Entregado</option>
                    <option value="0">No entregado</option>
                </select>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")

