﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/start.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>El documento utiliza una o más fuentes que no están disponibles actualmente en el sistema. Se utilizará otra fuente en el texto hasta que la original se encuentre disponible</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p>Instalar las respectivas librerias y plugins para continuar</p>
        </div>
    </div>
</div>

