﻿
@{
    ViewBag.Title = "EstadoCuentaConReciboColegiado";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/EstadoCuentaConReciboColController.js"></script>
}

<h2>Estado Cuenta Con Recibo Colegiado</h2>
<div class="container" ng-app="reports" ng-controller="estadoCuentaRecibo">
    <div class="row">
        <form name="form">
            <div class="col-md-3">
                <h5>Colegiado</h5>
                <input ng-model="inRefe" ng-pattern="regexReferee" class="form-control" />
            </div>
            <div class="col-md-6" ng-init="selecC = false;selecT = false; selecO = false ">
                <h5>Seleccionar</h5>
                <label class="checkbox-inline"><input type="checkbox" ng-model="selecO" value="">Otros Cargos</label>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")

