﻿
@{
    ViewBag.Title = "EstadisticaPie";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/EstadisticaPieController.js"></script>
}

<h2>Estadistica Pie</h2>
<div class="container" ng-app="reports" ng-controller="estadisticaPie" ng-init="init()">
    <div class="row">
        <div class="col-md-3">
            <h5>Sexo</h5>
            <select ng-model="inGen" class="form-control">
                <option selected value="">Ambos</option>
                <option value="1">Femenino</option>
                <option value="0">Masculino</option>
            </select>
        </div>
        <div class="col-md-3">
            <h5>Estatus Colegiado</h5>
            <select ng-model="inActive" class="form-control" ng-change="getSelectListType()">
                <option selected value="">Todos</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
                <option value="2">Ambos</option>
            </select>
        </div>
        <div class="col-md-3">
            <h5>Universidad</h5>
            <select multiple class="form-control" ng-model="inUniversity" ng-options="lis as lis.name for lis in listUniversity" required></select>
        </div>
        <div class="col-md-3">
            <h5>Tipo Colegiado</h5>
            <select multiple class="form-control" ng-model="inTypeReferee" ng-options="lis as lis.nombre for lis in listTypeReferee" required></select>
        </div>
        <div class="col-md-3">
            <h5>Sede Registrada</h5>
            <select multiple class="form-control" ng-model="inHead" ng-options="lis as lis.address for lis in listHeadquarter" required></select>
        </div>
        <div class="col-md-3">
            <h5>Tipo título</h5>
            <select multiple class="form-control" ng-model="inSpecial" ng-options="lis as lis.name for lis in listTypeEspeciality" required></select>
        </div>
        <div class="col-md-3">
            <h5>Colegiado</h5>
            <input class="form-control" ng-model="inRefe" ng-pattern="regexReferee" />
        </div>
        <div class="col-md-3" ng-init="inGroup = '1'">
            <h5>Agrupar por</h5>
            <select ng-model="inGroup" class="form-control">
                <option value="1">Sexo</option>
                <option value="2">Activo</option>
                <option value="3">Especialidad</option>
                <option value="4">Titulo</option>
                <option value="5">Universidad</option>
                <option value="6">Sede</option>
            </select>
        </div>
        <div class="col-md-3">
            <h5>Carga</h5>
            <input type="file" file-reader="fileContent" />
        </div>
        <div class="col-md-3">
            <h5>Definir la carga del archivo</h5>
            <button class="btn btn-warning" ng-click="define()">Definir carga</button>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <button ng-click="generateList()" class="btn btn-success">Generar</button>
        </div>

    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="1200" height="500"></iframe>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
