﻿
@{
    ViewBag.Title = "Etiquetas";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/EtiquetaController.js"></script>
}

<h2>Etiquetas</h2>
<div class="container" ng-app="reports" ng-controller="etiqueta" ng-init="init()">
    <div class="row">
        <div class="col-md-3">
            <h5>Universidad</h5>
            <select multiple class="form-control" ng-model="inUniversity" ng-options="lis as lis.name for lis in listUniversity" required></select>
        </div>
        <div class="col-md-3">
            <h5>Tipo Colegiado</h5>
            <select multiple class="form-control" ng-model="inTypeReferee" ng-options="lis as lis.nombre for lis in listTypeReferee" required></select>
        </div>
        @if (ViewBag.verReporteGeneral)
        {
        <div class="col-md-3">
            <h5>Sede</h5>
            <select multiple class="form-control" ng-model="inHead" ng-options="lis as lis.address for lis in listHeadquarter" required></select>
        </div>
        }
        <div class="col-md-3">
            <h5>Tipo título</h5>
            <select multiple class="form-control" ng-model="inSpecial" ng-options="lis as lis.name for lis in listTypeEspeciality" required></select>
        </div>
        <div class="col-md-3">
            <h5>Estatus Colegiado</h5>
            <select ng-model="inActive" class="form-control" ng-change="getSelectListType()">
                <option selected value="">Todos</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
                <option value="2">Ambos</option>
            </select>
        </div>
        <div class="col-md-3">
            <h5>Numero colegiado</h5>
            <input ng-model="inReferee" ng-pattern="regexReferee" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Carga</h5>
            <input type="file" file-reader="fileContent" />
        </div>
        <div class="col-md-3">
            <h5>Definir la carga del archivo</h5>
            <button class="btn btn-warning" ng-click="define()">Definir carga</button>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <button ng-click="generateList()" class="btn btn-success">Generar</button>
        </div>

    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="1200" height="500"></iframe>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")




