﻿
@{
    ViewBag.Title = "Graphics";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/graphicsController.js"></script>
}

<h2>Reportes Graficas</h2>
<br />
<div class="container" ng-app="reports" ng-controller="graphics">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form name="formgraph">
                        <div class="col-md-6">
                            <h5>Descripcion</h5>
                            <input type="text" ng-model="graphdescription" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <h5>Report ID</h5>
                            <input type="text" ng-model="graphreportid" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <h5>Workspace Collection</h5>
                            <input type="text" ng-model="graphcollection" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <h5>Workspace ID</h5>
                            <input type="text" ng-model="graphworkspace" class="form-control" required />
                        </div>
                        <div class="col-md-12">
                            <br />
                            <button ng-show="idGraphUpdate == 0 || idGraphUpdate == null" ng-disabled="!formgraph.$valid" ng-click="addGraph()" class="btn btn-success">Agregar</button>
                            <button ng-show="idGraphUpdate > 0" ng-disabled="!formgraph.$valid" ng-click="updateGraph()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idGraphUpdate > 0" ng-click="idGraphUpdate = 0" class="btn btn-default">Cancelar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Descripcion</th>
                                    <th>Coleccion</th>
                                    <th>Ver</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listGraph">
                                    <td>{{type.description}}</td>
                                    <td>{{type.workspaceCollection}}</td>
                                    <td>
                                        <button ng-click="viewGraphic(type)" class="btn btn-success btn-xs">Ver Grafica</button>
                                    </td>
                                    <td>
                                        <button ng-show="showDelete" ng-click="deleteGraph(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                        <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")

