﻿
@{
    ViewBag.Title = "HistorialUsuario";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/historialUsuarioController.js"></script>
}

<h2>Historial Usuario</h2>
<div class="container" ng-app="reports" ng-controller="historialUsuario" ng-init="init()">
    <div class="row">
        <form name="form">
            <div class="row">
                <div class="col-md-3">
                    <h5>Fecha Inicio</h5>
                    <md-datepicker class="backgroundInput" ng-model="inDateI" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                </div>
                <div class="col-md-3">
                    <h5>Fecha Final</h5>
                    <md-datepicker class="backgroundInput" ng-model="inDateF" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h5>Cajero</h5>
                    @if (ViewBag.verReporteGeneral)
                    {
                        <select multiple class="form-control" ng-model="inCashi" ng-options="lis as (lis.nombre + ' ' + lis.apellido) for lis in listCashier | filter:{ active : checkboxModel.value }"></select>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="1" ng-false-value="">Filtrar</label>
                    }
                    else
                    {
                        <select multiple class="form-control" ng-model="inCashi" ng-options="lis as (lis.nombre + ' ' + lis.apellido) for lis in listCashier | filter:{ id : @ViewBag.idUser }:identical"></select>
                    }

                </div>
                <div class="col-md-3">
                    <br />
                    <br />
                    <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
                </div>

            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
