﻿
@{
    ViewBag.Title = "HistoricoActivo";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/HistoricoActivoController.js"></script>
}

<h2>Historico Activo</h2>
<div class="container" ng-app="reports" ng-controller="historicoActivo">
    <div class="row">
        <div class="col-md-3">
            <h5>Colegiado</h5>
            <input ng-model="inReferee" class="form-control" required />
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <button ng-click="generateList()" class="btn btn-success">Generar</button>
        </div>

    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
