﻿
@{
    ViewBag.Title = "ListadoGeneralCol";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}
@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/ListadoGeneralColController.js"></script>
}

<h2>Listado General Colegiado</h2>
<div class="container" ng-app="reports" ng-controller="listadoGeneral" ng-init="init()">
    <div class="row">
        <div class="col-md-3">
            <h5>Universidad</h5>
            <select multiple class="form-control" ng-model="inUniversity" ng-options="lis as lis.name for lis in listUniversity" required></select>
        </div>
        <div class="col-md-3">
            <h5>Tipo Colegiado</h5>
            <select multiple class="form-control" ng-model="inTypeReferee" ng-options="lis as lis.nombre for lis in listTypeReferee" required></select>
        </div>
        @if (ViewBag.verReporteGeneral)
        {
        <div class="col-md-3">
            <h5>Sede de juramentación</h5>
            <select multiple class="form-control" ng-model="inHead" ng-options="lis as lis.address for lis in listHeadquarter" required></select>
        </div>
        }
        <div class="col-md-3">
            <h5>Tipo título</h5>
            <select multiple class="form-control" ng-model="inSpecial" ng-options="lis as lis.name for lis in listTypeEspeciality" required></select>
        </div>
        <div class="col-md-3">
            <h5>Estatus Colegiado</h5>
            <select ng-model="inActive" class="form-control"  ng-change="getSelectListType()">
                <option selected value="">Todos</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
                <option value="2">Ambos</option>
            </select>
        </div>
        <div class="col-md-3" ng-init="inOrder = '0'">
            <h5>Orden</h5>
            <select class="form-control" ng-model="inOrder">
                <option value="0">Ninguno</option>
                <option value="1">Alfabético primer apellido</option>
                <option value="2">Alfabético primer nombre</option>
                <option value="3">Alfabético segundo apellido</option>
                <option value="4">Alfabético segundo nombre</option>
                <option value="5">No. Colegiado</option>
            </select>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <button ng-click="generateList()" class="btn btn-success">Generar</button>
        </div>

    </div> 
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
