﻿
@{
    ViewBag.Title = "ListadoGeneralColFiltro";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/ListadoGeneralColFiltroController.js"></script>
}

<h2>Listado General Con Filtros</h2>

<div class="container" ng-app="reports" ng-controller="listadoGeneralFiltro" ng-init="init('@ViewBag.nameCashier')">
    <div class="row">
        <div class="col-md-3">
            <h5>Universidad</h5>
            <select multiple class="form-control" ng-model="inUniversity" ng-options="lis as lis.name for lis in listUniversity" required></select>
        </div>
        <div class="col-md-3">
            <h5>Tipo Colegiado</h5>
            <select multiple class="form-control" ng-model="inTypeReferee" ng-options="lis as lis.nombre for lis in listTypeReferee" required></select>
        </div>
        @if (ViewBag.verReporteGeneral)
        {
            <div class="col-md-3">
                <h5>Sede Juramentación</h5>
                <select multiple class="form-control" ng-model="inHead" ng-options="lis as lis.address for lis in listHeadquarter" required></select>
            </div>
        }
        @if (ViewBag.verReporteGeneral)
        {
            <div class="col-md-3">
                <h5>Sede Registrada</h5>
                <select multiple class="form-control" ng-model="inHeadReg" ng-options="lis as lis.address for lis in listHeadquarter" required></select>
            </div>
        }
        <div class="col-md-3">
            <h5>Tipo título</h5>
            <select multiple class="form-control" ng-model="inSpecial" ng-options="lis as lis.name for lis in listTypeEspeciality" required></select>
        </div>
        <div class="col-md-3">
            <h5>Estatus Colegiado</h5>
            <select ng-model="inActive" class="form-control" ng-change="getSelectListType()">
                <option selected value="">Todos</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
                <option value="2">Ambos</option>
            </select>
        </div>
        <div class="col-md-3" ng-init="inOrder = '0'">
            <h5>Orden</h5>
            <select class="form-control" ng-model="inOrder">
                <option value="0">Ninguno</option>
                <option value="1">Alfabético primer apellido</option>
                <option value="2">Alfabético primer nombre</option>
                <option value="3">Alfabético segundo apellido</option>
                <option value="4">Alfabético segundo nombre</option>
                <option value="5">No. Colegiado</option>
            </select>
        </div>
        <div class="col-md-3">
            <h5>Edad</h5>
            <input class="form-control" ng-model="inAge" />
        </div>
        <div class="col-md-3">
            <h5>Año de colegiación</h5>
            <input class="form-control" ng-model="inYear"/>
        </div>
        <div class="col-md-3" >
            <h5>Grado academico</h5>
            <select class="form-control" ng-model="academyspeciality">
                <option value="Licenciatura">Licenciatura</option>
                <option value="Maestría">Maestría</option>
                <option value="Doctorado">Doctorado</option>
                <option value="Diplomado">Diplomado</option>
                <option value="Curso Libre">Curso Libre</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div class="col-md-3">
            <h5>Colegiado</h5>
            <input class="form-control" ng-model="inRefe" ng-pattern="regexReferee" />
        </div>
        <div class="col-md-3">
            <h5>Evaluación</h5>
            <select class="form-control " ng-model="academyEvaluation">
                <option value="EPS">EPS</option>
                <option value="Exonerado">Exonerado</option>
                <option value="Privado">Privado</option>
                <option value="Practica">Practica</option>
                <option value="Exonerado por Crédito de Maestría">Exonerado por Crédito de Maestría</option>
            </select>
        </div>
        <div class="col-md-3">
            <h5>Dirección</h5>
            <select class="form-control " ng-model="typeDirection">
                <option value="1">Residencia</option>
                <option value="2">Trabajo</option>
                <option value="3">Notificación</option>
                <option value="4">Correspondencia</option>
            </select>
        </div>
        <div class="col-md-3">
            <h5>Seleccione Pais</h5>
            <select class="form-control" ng-model="selectCountry" ng-change="getDepartament()" ng-options="cou as cou.name for cou in listCountry"></select>
            <br />
        </div>
        <div class="col-md-3">
            <h5>Seleccione departamento</h5>
            <select multiple class="form-control" ng-model="selectDepartament" ng-change="getMunici()" ng-options="dep as dep.name for dep in listDepartament"></select>
            <br />
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <h5>No repetir</h5>
                <label class="checkbox-inline"><input ng-model="groupReferee" type="checkbox" value="">No repetir</label>
            </div>
            <div class="col-md-3">
                <h5>Carga</h5>
                <input type="file" file-reader="fileContent" />
            </div>
            <div class="col-md-3">
                <h5>Definir la carga del archivo</h5>
                <button class="btn btn-warning" ng-click="define()">Definir carga</button>
            </div>
        </div>
        <div class="col-md-3"> 
            <br />
            <br />
            <button ng-click="getListCol()" class="btn btn-success">Generar</button>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <div class="col-md-6">
                <button class="btn btn-warning btn-xs" ng-click="setChecks(true)">Habilitar todo</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning btn-xs" ng-click="setChecks(false)">Inhabilitar todo</button>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check1" type="checkbox" value="">No. </label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check2" type="checkbox" value="">Primer apellido</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check3" type="checkbox" value="">Segundo apellido</label> 
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check34" type="checkbox" value="">Apellido casada</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check4" type="checkbox" value="">Primer nombre</label> 
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check5" type="checkbox" value="">Segundo nombre</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check35" type="checkbox" value="">Tercer nombre</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check6" type="checkbox" value="">Tipo dirección</label> 
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check7" type="checkbox" value="">Estado civil</label> 
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check8" type="checkbox" value="">Fecha nacimiento</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check9" type="checkbox" value="">Descripción</label> 
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check10" type="checkbox" value="">Título</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check11" type="checkbox" value="">Universidad</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check12" type="checkbox" value="">Sexo</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check13" type="checkbox" value="">Fecha colegiación</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check14" type="checkbox" value="">Sede Juramentación</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check15" type="checkbox" value="">Estatus</label> 
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check16" type="checkbox" value="">Grado Académico</label> 
            </div>
            @*<div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check17" type="checkbox" value="">Estatus</label> 
            </div>*@
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check18" type="checkbox" value="">Sede registrada</label> 
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check19" type="checkbox" value="">Tema de Graduación</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check20" type="checkbox" value="">Evaluación</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check21" type="checkbox" value="">Telefonos</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check22" type="checkbox" value="">Correos</label>
            </div>

            @*<div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check23" type="checkbox" value="">Título</label>
            </div>*@
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check24" type="checkbox" value="">Fecha de graduación</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check25" type="checkbox" value="">Tipo de graduación</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check26" type="checkbox" value="">Abreviatura Univ.</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check30" type="checkbox" value="">DPI</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check31" type="checkbox" value="">Fecha jubilación</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check32" type="checkbox" value="">Fecha fallecimiento</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check33" type="checkbox" value="">Fecha juramentación</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check36" type="checkbox" value="">Titulo abreviado</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check37" type="checkbox" value="">Edad</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check38" type="checkbox" value="">Nacionalidad</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check39" type="checkbox" value="">Extendido en</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check40" type="checkbox" value="">Experiencia en</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check41" type="checkbox" value="">Idiomas</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check42" type="checkbox" value="">Especialidad</label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline"><input ng-model="check90" type="checkbox" value="">Dirección</label>
            </div>
        </div>
        
        <div class="col-md-3">
            <br />
            <br />
            <button type="button" class="btn btn-info btn-block" ng-csv="listDataColG" add-bom="true" charset="UTF-8" filename="ListadoGeneral.csv">Exportar CSV</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class='btn-group'>
                    <br />
                    <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
                    <button type='button' class='btn btn-default' ng-disabled='currentPage >= listDataCol.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
                </div>
                <table ng-init="configPages()" class="table table-striped">
                    <thead>
                        <tr>
                            <th ng-show="check1">No.</th>
                            <th ng-show="check2">Primer ape.</th>
                            <th ng-show="check3">Segundo ape.</th>
                            <th ng-show="check34">Casada ape.</th>
                            <th ng-show="check4">Primer nom.</th>
                            <th ng-show="check5">Segundo nom.</th>
                            <th ng-show="check35">Tercer nom.</th>
                            <th ng-show="check8">Nacimiento</th>
                            <th ng-show="check13">Fecha cole.</th>
                            <th ng-show="check15">Activo</th>
                            <th ng-show="check12">Sexo</th>
                            <th ng-show="check14">Sede juramentación</th>
                            <th ng-show="check18">Sede registrada</th>
                            <th ng-show="check9">Descripción</th>
                            <th ng-show="check7">Estado civil</th>
                            <th ng-show="check6">Tipo dir.</th>
                            <th ng-show="check90">Dirección</th>
                            <th ng-show="check10">Título</th>
                            <th ng-show="check11">Universidad</th>
                            <th ng-show="check16">Grado Académico</th>
                            <th ng-show="check19">Tema de Graduación</th>
                            <th ng-show="check20">Evaluación</th>
                            <th ng-show="check21">Telefonos</th>
                            <th ng-show="check22">Correos</th>


                            @*<th ng-show="check23">Título</th>*@
                            <th ng-show="check24">Fecha de graduación</th>
                            <th ng-show="check25">Tipo de graduación</th>
                            <th ng-show="check26">Abreviatura Univ.</th>
                            <th ng-show="check30">DPI</th>
                            <th ng-show="check31">Fecha jubilación</th>
                            <th ng-show="check32">Fecha fallecimiento</th>
                            <th ng-show="check33">Fecha juramentación</th>
                            <th ng-show="check36">Titulo abre.</th>
                            <th ng-show="check37">Edad</th>

                            <th ng-show="check38">Nacionalidad</th>
                            <th ng-show="check39">Extendideo en</th>
                            <th ng-show="check40">Experiencia en</th>
                            <th ng-show="check41">Idiomas</th>
                            <th ng-show="check42">Especialidad</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="type in listDataCol | startFromGrid: currentPage * pageSize | limitTo: pageSize">
                            <td ng-show="check1">{{type.Col_NoColegiado}}</td>
                            <td ng-show="check2">{{type.Col_PrimerApellido}}</td>
                            <td ng-show="check3">{{type.Col_SegundoApellido}}</td>
                            <td ng-show="check34">{{type.Col_CasdaApellido}}</td>
                            <td ng-show="check4">{{type.Col_PrimerNombre}}</td>
                            <td ng-show="check5">{{type.Col_SegundoNombre}}</td>
                            <td ng-show="check35">{{type.Col_TercerNombre}}</td>
                            <td ng-show="check8">{{type.nacimiento}}</td>
                            <td ng-show="check13">{{type.Col_FechaColegiacion | date:'dd/MM/yyyy'}}</td>
                            <td ng-show="check15">{{type.activo}}</td>
                            <td ng-show="check12">{{type.sexo}}</td>
                            <td ng-show="check14">{{type.fk_Sede_Nombre}}</td>
                            <td ng-show="check18">{{type.fk_SedeRegistrada_Nombre}}</td>
                            <td ng-show="check9">{{type.Tco_Descripcion}}</td>
                            <td ng-show="check7">{{type.estadoCivil}}</td>
                            <td ng-show="check6">{{type.Dir_TipoDireccion}}</td>
                            <td ng-show="check90">{{type.direccion}}</td>
                            <td ng-show="check10">{{type.TEs_NombreTipoEsp}}</td>
                            <td ng-show="check11">{{type.Uni_NombreUniversidad}}</td>
                            <td ng-show="check16">{{type.Esp_NombreEspecialidad}}</td>

                            <td ng-show="check19">{{type.Esp_Tema_Graduacion}}</td>
                            <td ng-show="check20">{{type.Esp_Evaluacion}}</td>
                            <td ng-show="check21">{{type.phones}}</td>
                            <td ng-show="check22">{{type.mails}}</td>


                            @*<td ng-show="check23">{{type.TEs_NombreTipoEsp2}}</td>*@
                            <td ng-show="check24">{{type.Esp_FechaObtuvo | date:'dd/MM/yyyy'}}</td>
                            <td ng-show="check25">{{type.Esp_Evaluacion}}</td>
                            <td ng-show="check26">{{type.Uni_NombreUniversidadabre}}</td>
                            <td ng-show="check30">{{type.Col_Dpi}}</td>
                            <td ng-show="check31">{{type.Col_jubilado  | date:'dd/MM/yyyy'}}</td>
                            <td ng-show="check32">{{type.Col_FechaFallecimiento  | date:'dd/MM/yyyy'}}</td>
                            <td ng-show="check33">{{type.Col_FechaJuramentacion | date:'dd/MM/yyyy'}}</td>
                            <td ng-show="check36">{{type.TES_Abreviacion}}</td>
                            <td ng-show="check37">{{type.edad}}</td>

                            <td ng-show="check38">{{type.Col_Nacionalidad}}</td>
                            <td ng-show="check39">{{type.Col_DpiExtendido}}</td>
                            <td ng-show="check40">{{type.Col_Experiencia_en}}</td>
                            <td ng-show="check41">{{type.idiomas}}</td>
                            <td ng-show="check42">{{type.Esp_Titulo}}</td>

                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>Total: <b>{{totalListData | currency:"":0}}</b></h3>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")