﻿
@{
    ViewBag.Title = "Grafica Lista Colegiados";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/listRefereeController.js"></script>
}

<h2>Grafica Lista Colegiados</h2>
<div class="container" ng-app="reports" ng-controller="listReferee">
    <div class="row">
        <div class="col-md-4">
            <h5>Seleccione Pais</h5>
            <select class="form-control" ng-model="selectCountry" ng-change="getDepartament()" ng-options="cou as cou.name for cou in listCountry"></select>

        </div>
        <div class="col-md-4">
            <h5>Seleccione departamento</h5>
            <select class="form-control" ng-model="selectDepartament" ng-change="getMunicipality()" ng-options="dep as dep.name for dep in listDepartament"></select>

        </div>
        <div class="col-md-4">
            <h5>Seleccione municipio</h5>
            <select class="form-control" ng-model="selectMunicipality" ng-change="" ng-options="mun as mun.name for mun in listMunicipality"></select>
        </div>
        <div class="col-md-3">
            <h5>Ingresar Colegiado</h5>
            <input ng-model="inReferee" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Ingresar Estado civil</h5>
            <input ng-model="inCivilState" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Ingresar Fecha de nacimiento</h5>
            <input ng-model="inDateBirth" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Ingresar Fecha de colegiacion</h5>
            <input ng-model="inDateReferee" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Ingresar Activo - Inactivo</h5>
            <input ng-model="inActive" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Ingresar Sexo</h5>
            <input ng-model="inGender" class="form-control" />
        </div>
        <div class="col-md-4">
            <h5>Ingresar Lugar de colegiacion</h5>
            <select class="form-control" ng-model="selectHead" ng-change="" ng-options="list as list.address for list in listHeadquaters"></select>
        </div>
        <div class="col-md-3">
            <br />
            <button ng-click="generateList()" class="btn btn-success">Generar</button>
        </div>
        
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500">
        </iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
