﻿
@{
    ViewBag.Title = "PadronAsambleas";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/PadronAsambleaController.js"></script>
}

<h2>Padrón Electoral</h2>
<div class="container" ng-app="reports" ng-controller="padronAsamblea" ng-init="init()">
    <div class="row">
        <div class="col-md-3">
            <h5>Universidad</h5>
            <select multiple class="form-control" ng-model="inUniversity" ng-options="lis as lis.name for lis in listUniversity" required></select>
        </div>
        <div class="col-md-3">
            <h5>Tipo Colegiado</h5>
            <select multiple class="form-control" ng-model="inTypeReferee" ng-options="lis as lis.nombre for lis in listTypeReferee " required></select>
        </div>
        @if (ViewBag.verReporteGeneral)
        {
        <div class="col-md-3">
            <h5>Sede</h5>
            <select multiple class="form-control" ng-model="inHead" ng-options="lis as lis.address for lis in listHeadquarter" required></select>
        </div>
        }
        <div class="col-md-3">
            <h5>Tipo título</h5>
            <select multiple class="form-control" ng-model="inSpecial" ng-options="lis as lis.name for lis in listTypeEspeciality" required></select>
        </div>
        <div class="col-md-3" ng-init="inActive = '1'">
            <h5>Estatus Colegiado</h5>
            <select ng-model="inActive"  class="form-control" ng-change="getSelectListType()">
                <option selected value="">Todos</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
                <option value="2">Ambos</option>
            </select>
        </div>
        <div class="col-md-3" ng-init="inLine = '2'">
            <h5>Lineas</h5>
            <select ng-model="inLine" class="form-control">s
                <option value="2">Dos columnas</option>
                <option value="3">Tres columnas</option>
            </select>
        </div>
        <div class="col-md-3">
            <h5>Fecha</h5>
            <md-datepicker ng-model="inDate" md-placeholder="Ingreso fecha"></md-datepicker>
        </div>
        <div class="col-md-3">
            <h5>Numero colegiado</h5>
            <input ng-model="inReferee" ng-pattern="regexReferee" class="form-control" />
        </div>
        <div class="col-md-3" ng-init="addressSelectType = ''">
            <h5>Tipo dirección</h5>
            <select ng-model="addressSelectType" class="form-control">
                <option value="1">Domicilio</option>
                <option value="2">Trabajo</option>
                <option value="">Ambos</option>
            </select>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <h5>Pais</h5>
                <select class="form-control" ng-model="selectCountry" ng-options="lis as lis.name for lis in listCountry" ng-change="getDepartament()" required></select>
            </div>
            <div class="col-md-3">
                <h5>Departamento</h5>
                <select multiple class="form-control" ng-model="inDep" ng-options="lis as lis.name for lis in listDepartament" required></select>
            </div>
        </div>
        <div class="col-md-3">
            <h5>Carga</h5>
            <input type="file" file-reader="fileContent" />
        </div>
        <div class="col-md-3">
            <h5>Definir la carga del archivo</h5>
            <button class="btn btn-warning" ng-click="define()">Definir carga</button>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <button ng-click="generateList()" class="btn btn-success">Generar</button>
        </div>

    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
