﻿
@{
    ViewBag.Title = "RecibosOperados";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/RecibosOperadosController.js"></script>
}

<h2>Recibos Operados</h2>

<div class="container" ng-app="reports" ng-controller="recibosOperados" ng-init="init()">
    <div class="row">
        <div class="row">

            <div class="col-md-3">
                <h5>Fecha Inicio</h5>
                <md-datepicker ng-model="inDateI" md-placeholder="Ingreso fecha"></md-datepicker>
            </div>
            <div class="col-md-3">
                <h5>Fecha Final</h5>
                <md-datepicker ng-model="inDateF" md-placeholder="Ingreso fecha"></md-datepicker>
            </div>
            <div class="col-md-3">
                <h5>A nombre de</h5>
                <input type="text" class="form-control" ng-model="nameOfReciver"  />
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-3">
                <h5>Solo anulados</h5>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="onlyNull">Solo recibos anulados</label>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Cajero</h5>
                @if (ViewBag.verReporteGeneral)
                {
                    <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ active : checkboxModel.value }" required></select>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="1" ng-false-value="">Filtrar</label>
                }
                else
                {
                    <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ id : @ViewBag.idCashier }:identical" required></select>
                }
                
            </div>
            @*<div class="col-md-3">
                <h5>Rechazado</h5>
                <select ng-model="inRec" class="form-control">
                    <option selected value="">Ambos</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>*@
            <div class="col-md-3">
                <br />
                <br />
                <button ng-click="generateList()" class="btn btn-success">Generar</button>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
