﻿
@{
    ViewBag.Title = "ReporteColegiado";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}
@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/ReporteColegiado.js"></script>
}
<h2>Reporte Colegiado</h2>
<div class="container" ng-app="reports" ng-controller="reporteColegiado" ng-init="init()">
    <div class="row">
        <form name="form">
            <div class="col-md-3">
                <h5>Universidad</h5>
                <select multiple class="form-control" ng-model="inUniversity" ng-options="lis as lis.name for lis in listUniversity"></select>
            </div>
            <div class="col-md-3">
                <h5>Tipo colegiado</h5>
                <select multiple class="form-control" ng-model="inTypeReferee" ng-options="lis as lis.nombre for lis in listTypeReferee"></select>
            </div>
            @if (ViewBag.verReporteGeneral)
            {
            <div class="col-md-3">
                <h5>Sede</h5>
                <select multiple class="form-control" ng-model="inHead" ng-options="lis as lis.address for lis in listHeadquarter"></select>
            </div>
            }
            <div class="col-md-3">
                <h5>Tipo título</h5>
                <select multiple class="form-control" ng-model="inSpecial" ng-options="lis as lis.name for lis in listTypeEspeciality"></select>
            </div>
            <div class="col-md-3">
                <h5>Primer nombre</h5>
                <input ng-model="inFName" class="form-control" />
            </div>
            <div class="col-md-3">
                <h5>Segundo nombre</h5>
                <input ng-model="inSName" class="form-control" />
            </div>
            <div class="col-md-3">
                <h5>Primer apellido</h5>
                <input ng-model="inLName" class="form-control" />
            </div>
            <div class="col-md-3">
                <h5>Segundo apellido</h5>
                <input ng-model="inSLName" class="form-control" />
            </div>
            <div class="col-md-3">
                <h5>Colegiado</h5>
                <input ng-model="inReferee" ng-pattern="regexReferee" class="form-control" />
            </div>
            <div class="col-md-3">
                <h5>Estatus Colegiado</h5>
                <select ng-model="inActive" class="form-control" ng-change="getSelectListType()">
                    <option selected value="">Todos</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                    <option value="2">Ambos</option>
                </select>
            </div>
            <div class="col-md-3">
                <h5>Carga</h5>
                <input type="file" file-reader="fileContent" />
            </div>
            <div class="col-md-3">
                <h5>Definir la carga del archivo</h5>
                <button class="btn btn-warning" ng-click="define()">Definir carga</button>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
