﻿
@{
    ViewBag.Title = "ReporteIngreso";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/ReporteIngresosController.js"></script>
}

<h2>Reporte Ingreso</h2>
<div class="container" ng-app="reports" ng-controller="reporteIngresos">
    <div class="row">
        <div class="col-md-3">
            <br />
            <br />
            <button ng-click="generateList()" class="btn btn-success">Generar</button>
        </div>

    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
