﻿
@{
    ViewBag.Title = "SaldoColegiado";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/SaldoColegiadoController.js"></script>
}

<h2>Saldo Colegiado</h2>
<div class="container" ng-app="reports" ng-controller="saldoColegiado">
    <div class="row">
        <form name="form">
            <div class="col-md-3">
                <h5>Colegiado</h5>
                <input ng-model="inReferee" ng-pattern="regexReferee" class="form-control" required/>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
