﻿
@{
    ViewBag.Title = "Tesis";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/TesisController.js"></script>
}

<h2>Tesis</h2>
<div class="container" ng-app="reports" ng-controller="tesis" ng-init="init()">
    <div class="row">
        <form name="form">
            <div class="col-md-3">
                <h5>Ingresar Colegiado</h5>
                <input ng-model="inReferee" ng-pattern="regexReferee" class="form-control" />
            </div>
            <div class="col-md-3">
                <h5>Título</h5>
                <input ng-model="inTitle" class="form-control" />
            </div>
            <div class="col-md-3">
                <h5>Sin tesis</h5>
                <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel" ng-true-value="1" ng-false-value="">Filtrar</label>
            </div>
            <div class="col-md-3">
                <h5>Carga</h5>
                <input type="file" file-reader="fileContent" />
            </div>
            <div class="col-md-3">
                <h5>Definir la carga del archivo</h5>
                <button class="btn btn-warning" ng-click="define()">Definir carga</button>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
