﻿
@{
    ViewBag.Title = "TimbreResumenCajeroDia";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/TimbreResumenCajeroDiaController.js"></script>
}

<h2>Timbre Resumen Cajero Dia</h2>

<div class="container" ng-app="reports" ng-controller="timbreResumenCajeroDia" ng-init="init('@ViewBag.nameCashier' )">
    <div class="row">
        <div class="col-md-3">
            <h5>Fecha Inicio</h5>
            <md-datepicker ng-model="inDateI" md-placeholder="Ingreso fecha"></md-datepicker>
        </div>
        <div class="col-md-3"> 
            <h5>Cajero</h5>
            @if (ViewBag.verReporteGeneral)
            {
                <select class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ active : checkboxModel.value }" required></select>
                <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="1" ng-false-value="">Filtrar</label>
            }
            else
            {
                <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ id : @ViewBag.idCashier }:identical" required></select>
            }

        </div>

    </div>
    <div class="row">
        <form name="form">
            <div class="row">
                <div class="col-md-3">
                    <br />
                    <br />
                    <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerReportAngular")
