﻿
@{
    ViewBag.Title = "TimbreBodega";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/TimbreBodegaController.js"></script>
}

<h2>TimbreBodega</h2>
<div class="container" ng-app="reports" ng-controller="timbreBodega" ng-init="init('@ViewBag.nameCashier' )">
    <div class="row">
        <form name="form">
            <div class="row">
                <div class="col-md-3">
                    <br />
                    <br />
                    <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerReportAngular")
