﻿
@{
    ViewBag.Title = "TimbreIngresoBodega";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/TimbreIngresoBodegaController.js"></script>
}

<h2>Timbre Ingreso Bodega</h2>
<div class="container" ng-app="reports" ng-controller="timbreIngresoBodega" ng-init="init('@ViewBag.nameCashier' )">
    <div class="row">
        <div class="col-md-3">
            <h5>Fecha Inicio</h5>
            <md-datepicker ng-model="inDateI" md-placeholder="Ingreso fecha"></md-datepicker>
        </div>
        <div class="col-md-3">
            <h5>Fecha Final</h5>
            <md-datepicker ng-model="inDateF" md-placeholder="Ingreso fecha"></md-datepicker>
        </div>

    </div>
    <div class="row">
        <form name="form">
            <div class="row">
                <div class="col-md-3">
                    <br />
                    <br />
                    <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerReportAngular")


