﻿
@{
    ViewBag.Title = "Timbres";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/timbreController.js"></script>
}

<h2>Timbres</h2>
<div class="container" ng-app="reports" ng-controller="timbre" ng-init="init()">
    <div class="row">
        <form name="form">
            <div class="row">
                <div class="col-md-3">
                    <h5>Cajero</h5>
                    @if (ViewBag.verReporteGeneral)
                    {
                        <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ active : checkboxModel.value }" required></select>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="1" ng-false-value="">Filtrar</label>
                    }
                    else
                    {
                        <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ id : @ViewBag.idCashier }:identical"></select>
                    }
                </div>
                <div class="col-md-3" ng-init="inPag = '1'">
                    <h5>Listado de Hojas</h5>
                    <select ng-model="inPag" class="form-control">
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <br />
                    <br />
                    <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerReportAngular")
