﻿
@{
    ViewBag.Title = "TimbresCajero";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/TimbresCajeroController.js"></script>
}

<h2>TimbresCajero</h2>
<div class="container" ng-app="reports" ng-controller="timbreCajero" ng-init="init('@ViewBag.nameCashier')">
    <div class="row">
        <form name="form">
            <div class="row">
                <div class="col-md-3">
                    <h5>Cajero</h5>
                    @if (ViewBag.verReporteGeneral)
                    {
                        <select class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ active : checkboxModel.value }" required></select>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="1" ng-false-value="">Filtrar</label>
                    }
                    else
                    {
                        <select multiple class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ id : @ViewBag.idCashier }:identical"></select>
                    }
                </div>
                <div class="col-md-3">
                    <br />
                    <br />
                    <button ng-click="generateList()" ng-disabled="!form.$valid" class="btn btn-success">Generar</button>
                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerReportAngular")
