﻿
@{
    ViewBag.Title = "TimbresEntradaSalida";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Report/TimbresEntradaSalidaController.js"></script>
}

<h2>Timbres Entradas y Salidas</h2>

<div class="container" ng-app="reports" ng-controller="timbresentradaSalida" ng-init="init('@ViewBag.nameCashier')">
    <div class="row">
        <div class="row">

            <div class="col-md-3">
                <h5>Fecha Inicio</h5>
                <md-datepicker ng-model="inDateI" md-placeholder="Ingreso fecha"></md-datepicker>
            </div>
            <div class="col-md-3">
                <h5>Fecha Final</h5>
                <md-datepicker ng-model="inDateF" md-placeholder="Ingreso fecha"></md-datepicker>
            </div>

        </div>
        <div class="row">
            @*<div class="col-md-3">
                    <h5>Rechazado</h5>
                    <select ng-model="inRec" class="form-control">
                        <option selected value="">Ambos</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>*@
            <div class="col-md-3">
                <br />
                <br />
                <button ng-click="generateList()" class="btn btn-success">Generar</button>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
</div>

@Scripts.Render("~/bundles/containerReportAngular")
