﻿@* EJEMPLO
    <div ng-controller="ModalCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a ng-click="selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="okButton()">OK</button>
                <button class="btn btn-warning" ng-click="cancelButton()">Cancel</button>
            </div>
        </script>

        <button class="btn btn-default" ng-click="open()">Open me!</button>
        <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
    </div>
*@


<div ng-controller="ModalCtrl">
    <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">		
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <h5>{{modalContent}}</h5>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="okButton()">{{modalOkButtonTitle}}</button>
                        <button ng-show="showCancelButton" class="btn btn-warning" ng-click="cancelButton()">{{modalCancelButtonTitle}}</button>
                    </div>
                </div>
            </div>
    </script>
</div>
