﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/angular")
</head>
<body  bgcolor="#E6E6FA">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CCEEs", "Index", "Referre", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">

                    @if(ViewBag.newEvent == true){

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EVENTOS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Colegiados</li>
                                <li><a href="#">@Html.ActionLink("Asignar eventos", "Index", "Event")</a></li>
                                <li><a href="#">@Html.ActionLink("Lista de asignados", "EventAssing", "Event")</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">No colegiados</li>
                                <li>
                                    <a href="#">@Html.ActionLink("Asignar eventos", "EventAssingNoReferee", "Event")</a>
                                </li>
                                <li>
                                    <a href="#">@Html.ActionLink("Lista de asignados", "EventAssingNoRefereeList", "Event")</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Acciones</li>
                                <li>
                                    <a href="#">@Html.ActionLink("Eventos", "AddEvent", "Event")</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NO COLEGIADO<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.buscarNoColegiado)
                                {
                                    <li><a href="#">@Html.ActionLink("No colegiado", "NotReferee", "Referre")</a></li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CONFIGURACIÓN<span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Sistema</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.varColegiado)
                                        {
                                        <li><a href="#">@Html.ActionLink("Variables Generales", "GlobalVars", "GeneralActions")</a></li>
                                        }
                                    </ul>
                                </li>
                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Generales</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.buscarTipoCol)
                                        {
                                        <li><a href="#">@Html.ActionLink("Tipo de colegiado", "TipeReferee", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarTipoBen)
                                        {
                                        <li><a href="#">@Html.ActionLink("Tipo Beneficiario", "TypeBeneficiary", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarTipoEsp)
                                        {
                                        <li><a href="#">@Html.ActionLink("Tipo de Título", "Typespecialty", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarUniversidad)
                                        {
                                        <li><a href="#">@Html.ActionLink("Universidades", "University", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarLenguaje)
                                        {
                                        <li><a href="#">@Html.ActionLink("Lenguajes", "Language", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarExpediente)
                                        {
                                        <li><a href="#">@Html.ActionLink("Expedientes Colegiado", "Files", "Users")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Geografía</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.buscarPais)
                                        {
                                        <li><a href="#">@Html.ActionLink("Pais", "Country", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarDepartamento)
                                        {
                                        <li><a href="#">@Html.ActionLink("Departamento", "Department", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarMunicipio)
                                        {
                                        <li><a href="#">@Html.ActionLink("Municipio", "Municipality", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarSede)
                                        {
                                        <li><a href="#">@Html.ActionLink("Sede", "Headquarters", "GeneralActions")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Documentos</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.buscarDocGenerales)
                                        {
                                        <li><a href="#">@Html.ActionLink("Documentos Generales", "TypeDocument", "Document")</a></li>
                                        }
                                        @if (ViewBag.buscarDocContables)
                                        {
                                        <li><a href="#">@Html.ActionLink("Documentos Contables", "TypeDocumentAccounting", "Document")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Contable</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.buscarTipoPartida)
                                        {
                                        <li><a href="#">@Html.ActionLink("Tipo Partida", "TypeAccounting", "Payment")</a></li>
                                        }
                                        @if (ViewBag.buscarPartidaCont)
                                        {
                                        <li><a href="#">@Html.ActionLink("Partida Contable", "Accounting", "Payment")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Pagos</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.buscarBanco)
                                        {
                                        <li><a href="#">@Html.ActionLink("Bancos", "IssuingBanck", "Payment")</a></li>
                                        }
                                        @if (ViewBag.buscarCuentaBanc)
                                        {
                                        <li><a href="#">@Html.ActionLink("Cuentas Bancarias", "BanckAccounts", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarMedioPago)
                                        {
                                        <li><a href="#">@Html.ActionLink("Medio Pago", "PaymentMethod", "Payment")</a></li>
                                        }
                                        @*<li><a href="#">@Html.ActionLink("Medio Pago", "PaymentMethodPay", "Payment")</a></li>*@
                                        @if (ViewBag.buscarCargoEcono)
                                        {
                                        <li><a href="#">@Html.ActionLink("Cargo Economico", "TypeEconomic", "Payment")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Cobros</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.buscarCentroPago)
                                        {
                                        <li><a href="#">@Html.ActionLink("Centro de Pago", "PaymentCenter", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarcaja)
                                        {
                                        <li><a href="#">@Html.ActionLink("Caja", "Cash", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarCajero)
                                        {
                                        <li><a href="#">@Html.ActionLink("Cajero", "Cashier", "Payment")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Timbres</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.buscarBodega)
                                        {
                                        <li><a href="#">@Html.ActionLink("Bodega", "Cellar", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.buscarValorTimb)
                                        {
                                        <li><a href="#">@Html.ActionLink("Denominaciones Timbres", "ValueTimbre", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.ejecutarCambioTimbre)
                                        {
                                            <li><a href="#">@Html.ActionLink("Cambio de timbres", "TimbreChange", "GeneralActions")</a></li>
                                        }
                                    </ul>
                                </li>
                                @if (ViewBag.actualizarTodosEstatus)
                                {
                                    <li><a href="#">@Html.ActionLink("Actualizar Colegiados", "ChangeAllReferee", "Referre")</a></li>
                                }
                            </ul>
                        </li>

                        <li class="dropdown">
                            @if (ViewBag.cashier)
                            {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PAGOS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.ejecutarCaja)
                                {
                                    <li><a href="#">@Html.ActionLink("Apertura Cierre", "OpenCloseCash", "GeneralActions")</a></li>
                                }
                                @if (ViewBag.ejecutarPago)
                                {
                                    <li><a href="#">@Html.ActionLink("Recuperar Pago", "RecoverReceipt", "Payment")</a></li>
                                }
                                @if (ViewBag.ejecutarPago)
                                {
                                    <li><a href="#">@Html.ActionLink("Recibos no generados por cajero", "IncompletePayment", "Payment")</a></li>
                                }
                                @*@if (ViewBag.ejecutarTimbre)
                                {
                                    <li><a href="#">@Html.ActionLink("Timbres por demanda", "TimbresOfDemand", "GeneralActions")</a></li>
                                }*@
                                @if (ViewBag.ejecutarCarga)
                                {
                                    <li><a href="#">@Html.ActionLink("Ingreso planilla", "UploadNomina", "Document")</a></li>
                                }
                                @if (ViewBag.ejecutarListadoDoc)
                                {
                                    <li><a href="#">@Html.ActionLink("Listado documentos", "ListedDocuments", "GeneralActions")</a></li>
                                }
                                @if (ViewBag.ejecutarDocumentosRec)
                                {
                                    <li><a href="#">@Html.ActionLink("Documentos por recibo", "DocumentForReceipt", "GeneralActions")</a></li>
                                }

                                @if (ViewBag.ejecutarDocumentosRec)
                                {
                                    <li><a href="#">@Html.ActionLink("KARDEX", "ReceiptPayReferee", "GeneralActions")</a></li>
                                }

                                @if (ViewBag.ejecutarInvalidarCert)
                                {
                                    <li><a href="#">@Html.ActionLink("Invalidar certificaciones", "CancelDocument", "Document")</a></li>
                                }

                            </ul>
                            }
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CONTABILIDAD<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.cashier && ViewBag.ejecutarBoleta)
                                {
                                <li><a href="#">@Html.ActionLink("Interfaz contable", "DepositSlip", "Payment")</a></li>
                                }
                                @if (ViewBag.ejecutarRecibo)
                                {
                                <li><a href="#">@Html.ActionLink("Recibos", "Receipt", "Payment")</a></li>
                                }
                                @if (ViewBag.ejecutarCheque)
                                {
                                    <li><a href="#">@Html.ActionLink("Cheques", "RejectedCheck", "GeneralActions")</a></li>
                                }
                                @if (ViewBag.ejecutarListadoDoc)
                                {
                                    <li><a href="#">@Html.ActionLink("Historial de Pago", "RefereeReceipt", "GeneralActions")</a></li>
                                }
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REPORTERIA<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Contables</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.reporteDesgloseN)
                                        {
                                        <li><a href="#">@Html.ActionLink("Desglose cuenta nuevo colegiado", "DesgloseCuentaNColegiado", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteDesgloseC)
                                        {
                                        <li><a href="#">@Html.ActionLink("Desglose cuentas", "DesgloseCuentas", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteIngresos)
                                        {
                                        @*<li><a href="#">@Html.ActionLink("Reporte Ingresos *", "ReporteIngreso", "Reports")</a></li>*@
                                        }
                                        @if (ViewBag.reporteConsolidados)
                                        {
                                        @*<li><a href="#">@Html.ActionLink("Consolidado de cuentas *", "ConsolidadoDeudas", "Reports")</a></li>*@
                                        }
                                        @if (ViewBag.reporteCheques)
                                        {
                                        <li><a href="#">@Html.ActionLink("Estatus de cheques", "ChequesRechazados", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteRecibos)
                                        {
                                        <li><a href="#">@Html.ActionLink("Recibos operados", "RecibosOperados", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteCorteCaja)
                                        {
                                        <li><a href="#">@Html.ActionLink("Corte Caja", "CorteCajaRango", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteTimbre)
                                        {
                                            @*<li><a href="#">@Html.ActionLink("Timbres", "Timbres", "Reports")</a></li>*@
                                        }
                                        @if (ViewBag.reporteTimbreBod)
                                        {
                                            @*<li><a href="#">@Html.ActionLink("Timbres bodega", "TimbreBodega", "Reports")</a></li>*@
                                        }
                                        @if (ViewBag.reporteResumenInv)
                                        {
                                            @*<li><a href="#">@Html.ActionLink("Resumen Inventario", "TimbresResumenInventario", "Reports")</a></li>*@
                                        }
                                        @if (ViewBag.reporteTimbreCaj)
                                        {
                                            @*<li><a href="#">@Html.ActionLink("Timbres por Cajero", "TimbresCajero", "Reports")</a></li>*@
                                        }
                                        @if (ViewBag.reporteEntradaSali)
                                        {
                                            @*<li><a href="#">@Html.ActionLink("Entradas y Salidas", "TimbresEntradaSalida", "Reports")</a></li>*@
                                        }
                                        @if (ViewBag.reporteCertificacion)
                                        {
                                            <li><a href="#">@Html.ActionLink("Certificaciones", "Certificaciones", "Reports")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Colegiado</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.reporteFicha)
                                        {
                                        <li><a href="#">@Html.ActionLink("Ficha General", "FichaColegiado", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteFichaResumida)
                                        {
                                            <li><a href="#">@Html.ActionLink("Ficha Resumida", "FichaResumida", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteSaldo)
                                        {
                                        <li><a href="#">@Html.ActionLink("Saldo", "SaldoColegiado", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteEstado)
                                        {
                                        <li><a href="#">@Html.ActionLink("Estado cuenta", "EstadoCuentaColegiado", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteEstado)
                                        {
                                            <li><a href="#">@Html.ActionLink("Estado cuenta Recibo", "EstadoCuentaConReciboColegiado", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteDocumentos)
                                        {
                                        <li><a href="#">@Html.ActionLink("Documentos Pendientes", "DocumentosPendientes", "Reports")</a></li>
                                        }
                                        @if (ViewBag.historicoAc)
                                        {
                                            <li><a href="#">@Html.ActionLink("Historico Activo", "HistoricoActivo", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteDiplomaNuevo)
                                        {
                                            <li><a href="#">@Html.ActionLink("Diploma Nuevo Colegiado", "DiplomaNewReferee", "GeneralActions")</a></li>
                                        }
                                        @if (ViewBag.reporteCarnet)
                                        {
                                            <li><a href="#">@Html.ActionLink("Carné", "Carnet", "Reports")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Generales</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.reporteColegiado)
                                        {
                                        <li><a href="#">@Html.ActionLink("Reporte Colegiado", "ReporteColegiado", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteListadoCol)
                                        {
                                        <li><a href="#">@Html.ActionLink("Listado General Col", "ListadoGeneralCol", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteListadoCol)
                                        {
                                            <li><a href="#">@Html.ActionLink("Listado General Col. Fil.", "ListadoGeneralColFiltro", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteCalidadEst)
                                        {
                                        <li><a href="#">@Html.ActionLink("Calidad y Estatus Saldo", "CalidadEstatusSaldo", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteEstadisticas)
                                        {
                                        <li><a href="#">@Html.ActionLink("Estadisticas", "EstadisticaPie", "Reports")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Otros</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.reportePadron)
                                        {
                                        <li><a href="#">@Html.ActionLink("Padrón Electoral", "PadronAsambleas", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteAsamblea)
                                        {
                                            <li><a href="#">@Html.ActionLink("Asamblea de Presidentes", "Asamblea", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteEtiqueta)
                                        {
                                        <li><a href="#">@Html.ActionLink("Etiquetas", "Etiquetas", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteDirectorio)
                                        {
                                        <li><a href="#">@Html.ActionLink("Directorio", "Directorio", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteTesis)
                                        {
                                            <li><a href="#">@Html.ActionLink("Tesis", "Tesis", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteCalculoActuario)
                                        {
                                            <li><a href="#">@Html.ActionLink("Calculo Actuario", "CalculoActuario", "Reports")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Bitacora</a>
                                    <ul class="dropdown-menu">
                                        @if (ViewBag.reporteHistorialUsu)
                                        {
                                        <li><a href="#">@Html.ActionLink("Historial de Actividad", "HistorialUsuario", "Reports")</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Timbres</a>
                                    <ul class="dropdown-menu">
                                        
                                        @if (ViewBag.reporteTimbreCaj)
                                        {
                                            <li><a href="#">@Html.ActionLink("Timbres por Cajero", "TimbresCajero", "Reports")</a></li>
                                        }
                                        
                                        @if (ViewBag.reporteIngresoTimbreBod)
                                        {
                                            <li><a href="#">@Html.ActionLink("Ingreso Timbres Bod.", "TimbreIngresoBodega", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteEntregaTimbreCaj)
                                        {
                                            <li><a href="#">@Html.ActionLink("Entrega Timbres Caj", "TimbreEntregaBodegaCaj", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteEntradasSalidas)
                                        {
                                            <li><a href="#">@Html.ActionLink("Entradas y Salidas", "TimbresEntradaSalida", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteResumenInventarioTim)
                                        { 
                                            <li><a href="#">@Html.ActionLink("Resumen Inventario", "TimbresResumenInventario", "Reports")</a></li>
                                        }
                                        @if (ViewBag.reporteResumenCajaDia)
                                        {
                                            <li><a href="#">@Html.ActionLink("Resumen Cajero Dia", "TimbreResumenCajeroDia", "Reports")</a></li>
                                        }


                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REPORTES<span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li><a href="#">Some action</a></li>
                                <li><a href="#">Some other action</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Hover me for more options</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="#">Second level</a></li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Even More..</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">3rd level</a></li>
                                                <li><a href="#">3rd level</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Second level</a></li>
                                        <li><a href="#">Second level</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@
                    }

                    

                    
                    @if (ViewBag.newUsers == true)
                    {

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SEGURIDAD<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="#">@Html.ActionLink("MI PERFIL", "Profile", "Users")</a></li>
                                
                                @if (ViewBag.buscarUsuario)
                                {
                                <li><a href="#">@Html.ActionLink("CREAR USUARIOS", "Index", "Users")</a></li>
                                }
                                @if (ViewBag.buscarRol)
                                {
                                <li><a href="#">@Html.ActionLink("ROLES", "Roles", "Users")</a></li>
                                }
                                @if (ViewBag.buscarAsingCajero)
                                {
                                <li><a href="#">@Html.ActionLink("ASIGNAR CAJERO", "UserCash", "Users")</a></li>
                                }
                                @*<li><a href="#">Municipios</a></li>*@
                            </ul>
                        </li>
                        

                    }
                    <li>@Html.ActionLink("CLOSE", "Close", "Referre")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CCEE Guatemala</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularmaterial")

    @RenderSection("scripts", required: false)
</body>
</html>

