﻿@using reCaptcha
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WithOutBar.cshtml";
}

@section scripts{
    <script src="~/Scripts/angular-aria.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-material/angular-material.js"></script>
    <script src="~/Scripts/angular-recaptcha.min.js"></script>
    <script src="~/Scripts/moduleAngular/account.js?ver=1.0.6"></script>
    <script src="~/Scripts/moduleAngular/constant/AccountConstant.js"></script>
}

<div ng-app="account" ng-controller="reset">
    <br />
    <br />
    <br />
    <div class="container" ng-hide="false">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                <h1>Olvide mi contraseña</h1>
                <div class="col-md-6">
                    <form name="formVal">
                        <div class="col-md-2">
                            <h5 style="width: 460px;">Numero de Colegiado:</h5>
                            <input type="number" style="width: 460px;" class="form-control" ng-model="idReferee" required />
                        </div>
                        <div class="col-md-12">
                            <h5 style="width: 460px;">Correo Registrado:</h5>
                            <input style="width: 460px;" type="email" ng-model="mailReferee" class="form-control" required />
                        </div>
                        <div class="col-md-12" style="width:750px;">
                            <br />
                            @*<img style="width:270px;height:60px;" src="~/images/reCAPTCHA.jpg" alt="Italian Trulli">*@

                            <div vc-recaptcha
                                 ng-model="rcaptcha"
                                 on-expire="cbExpiration()"
                                 key="'6LcT9OkUAAAAAH0gC31IpiUZsCNMPZqWKz3l9cse'">
                            </div>
                        </div>


                        <div class="col-md-3">
                            <br />
                            <h5 ng-show="showError1" style="width: 460px;">{{ErrorMsj}}</h5>
                            <h5 ng-show="showError" style="width: 460px;">Por favor, complete los campos requeridos.</h5>
                            <br />

                            <table>
                                <tr>
                                    <td>
                                        <a href="/Document/TimbreUsuario" style="width:120px;height:40px;" class="btn btn-primary">Login</a>
                                    </td>
                                    <td>
                                        <button ng-click="submit1()" class="btn btn-primary" style="width:150px;height:40px;">Enviar Clave</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>

                @*<form name="formquestion">
                    <h5>Ingrese su correo</h5>
                    <input type="text" class="form-control" ng-model="email.email" />
                    <br />
                    <h5>Recuperar contraseña</h5>
                    <button class="btn btn-info" ng-click="getQuestion(formquestion, email)">Por pregunta</button>
                </form>*@
            </div>
        </div>
    </div>


    @if (!ViewBag.status)
    {
    
    <div class="container" ng-show="!showPassword">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form name="formanswer">
                    <h5>Responda la siguiente pregunta:</h5>
                    <h4>¿ @ViewBag.question ?</h4>
                    <input type="text" class="form-control" ng-model="answer.answer" />
                    <br />
                    <button class="btn btn-info" ng-click="confirmQuestion(formquestion, answer, @ViewBag.idmail)">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" ng-show="showPassword">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form name="formnewpassword">
                    <h5>Ingresar nueva contraseña</h5>
                    <input type="password" class="form-control" ng-model="password.password" required />
                    <h6>{{errorPassword}}</h6>
                    <h5>Repetir nueva contraseña</h5>
                    <input type="password" class="form-control" ng-model="password.repeat" required />
                    <h6>{{errorRepeatPass}}</h6>
                    <button class="btn btn-danger" ng-click="changePassword(formnewpassword, password, @ViewBag.idmail)">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    }

    <div class="ng-class: showNotify" ;>
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

