﻿
@{
    ViewBag.Title = "NewPassword";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/account.js"></script>
    <script src="~/Scripts/moduleAngular/constant/UserConstant.js"></script>
}

<h2>NewPassword</h2>
<div  ng-app="account" ng-controller="reset">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form name="formnewpassword">
                    <h5>Ingresar nueva contraseña</h5>
                    <input type="password" class="form-control" ng-model="" />
                    <h5>Repetir nueva contraseña</h5>
                    <input type="password" class="form-control" ng-model="" />
                    <h6>Problemas con contrasenia</h6>
                    <button class="btn btn-danger" ng-click="changePassword(formnewpassword, )">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

