﻿@using reCaptcha
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_WithOutBar.cshtml";
}

@section scripts{
    <script src="~/Scripts/angular-aria.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-material/angular-material.js"></script>
    <script src="~/Scripts/angular-recaptcha.min.js"></script>
    <script src="~/Scripts/moduleAngular/account.js?ver=1.0.20"></script>
    <script src="~/Scripts/moduleAngular/constant/AccountConstant.js?ver=1.0.21"></script>
}

<div ng-app="account" ng-controller="reset" ng-init="onInit()">
    <form name="formVal">
        <div class="container">
            <div class="row justify-content-center">
                <div>
                    <table style="margin: auto;width: 60% !important;">
                        <tr style="text-align: center;vertical-align: middle;">
                            <td colspan="2">
                                <h1>Registrarse</h1>
                            </td>
                        </tr>
                        <tr style="text-align: center;vertical-align: middle;">
                            <td colspan="2">
                                <h5>Los campos marcados con un (<span style="color: red">*</span>) son necesarios para su registro. <br /> Informacion de los colegiados actualizada hasta el dia 17 de Abril del año 2020.</h5>
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td>
                                <h5>Numero de Colegiado: <span style="color: red;">*</span></h5>
                                <input style="width: 460px;" type="number" class="form-control" ng-model="idReferee" required />
                            </td>
                            <td>
                                <h5>Número Telefono (Principal): <span style="color: red">*</span> <span style="color: dimgray;font-size:10px;">(Sin guiones. Ej. 41359629)</span></h5>
                                <input style="width: 460px;" type="text" ng-pattern="regexPhone" ng-model="telR" class="form-control" required />
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td>
                                <h5>Primer Nombre: <span style="color: red">*</span></h5>
                                <input style="width: 460px;" type="text" ng-model="FNRef" class="form-control" required />
                            </td>
                            <td>
                                <h5>Segundo Nombre:</h5>
                                <input style="width: 460px;" type="text" ng-model="SNRef" class="form-control" />
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td>
                                <h5>Primer Apellido: <span style="color: red">*</span></h5>
                                <input style="width: 460px;" type="text" ng-model="FSNRef" class="form-control" required />
                            </td>
                            <td>
                                <h5>Segundo Apellido:</h5>
                                <input style="width: 460px;" type="text" ng-model="SSNRef" class="form-control" />
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td>
                                <h5>Correo a Registrar: <span style="color: red">*</span></h5>
                                <input style="width: 460px;" type="email" ng-model="mailReferee" class="form-control" required />
                            </td>
                            <td>
                                <h5>Confirmar Correo: <span style="color: red">*</span></h5>
                                <input style="width: 460px;" type="email" ng-model="mailRefereeC" class="form-control" required />
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td>
                                <h5>No. NIT: <span style="color: red">*</span> <span style="color: dimgray;font-size:10px;">(Guion necesario. Ej. 7124013-4)</span></h5>
                                <p style="color: firebrick;font-size:10px;" ng-messages="formVal.nitR.$error" ng-show="formVal.nitR.$error.pattern">
                                    El NIT no cumple con el patrón
                                </p>
                                <input style="width: 460px;" ng-pattern="regexNit" type="text" name="nitR" ng-model="nitR" class="form-control" required />
                            </td>
                            <td>
                                <h5>No. CUI: <span style="color: red">*</span> <span style="color: dimgray;font-size:10px;">(Sin guiones. Ej. 2695442630101)</span></h5>
                                <input style="width: 460px;" type="text" ng-model="cuiR" name="cuiR" class="form-control" required/>
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td>
                                <h5>Fecha Nacimiento: <span style="color: red">*</span></h5>
                                <input style="width: 460px;" type="date" ng-model="datenac" class="form-control" required />
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td colspan="2">
                                <br />
                                <input style="width:auto" type="checkbox" id="vehicle1" ng-model="terminosycon" name="vehicle1" value="true">
                                <label for="vehicle1">Acepto terminos y condiciones.<span style="color: red">*</span></label>
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td colspan="2">
                                <a style="color:blue;" href="/Account/TermsAndConditions" target="_blank">Ver terminos y condiciones</a>
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td colspan="2">
                                <div style="margin-left:auto;margin-right:auto;width:50%" vc-recaptcha
                                     ng-model="rcaptcha"
                                     on-expire="cbExpiration()"
                                     key="'6LcT9OkUAAAAAH0gC31IpiUZsCNMPZqWKz3l9cse'">
                                </div>
                                <br />
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td colspan="2">
                                <h5 ng-show="MsjRegister">{{ErrorMsj}}</h5>
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td colspan="2">
                                <h5 ng-show="ErrorRegister">Por favor, complete los campos requeridos.</h5>
                            </td>
                        </tr>
                        <tr class="form-inline" style="text-align: center;vertical-align: middle;">
                            <td colspan="2">
                                <a href="/Document/TimbreUsuario" style="width:30%;height:40%;" class="btn btn-primary">Volver al Login</a>
                                <button ng-click="Registrar()" class="btn btn-primary" style="width:30%;height:40%;">Enviar</button>
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
        </div>
    </form>
    <div class="ng-class: showNotify";>
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>


@*    @if (ViewBag.status)
    {
        using (Html.BeginForm())
        {
            <h5>Ingrese su correo</h5>
            @Html.TextBox("email", null, new { @class = "form-control", @placeholder = "Correo" })
            <br />
            @ReCaptcha.GetHtml(@ViewBag.publicKey)
            <br />

            if (ViewBag.RecaptchaLastErrors != null)
            {
                <div>Oops! Invalid reCAPTCHA</div>
            }
        }
    }*@



@*<form name="formquestion">
        <h5>Ingrese su correo</h5>
        <input type="text" class="form-control" ng-model="email.email" />
        <br />
        <h5>Recuperar contraseña</h5>
        <button class="btn btn-info" ng-click="getQuestion(formquestion, email)">Por pregunta</button>
    </form>*@



@*
            @if (!ViewBag.status)
            {

                <div class="container" ng-show="!showPassword">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <form name="formanswer">
                                <h5>Responda la siguiente pregunta:</h5>
                                <h4>¿ @ViewBag.question ?</h4>
                                <input type="text" class="form-control" ng-model="answer.answer" />
                                <br />
                                <button class="btn btn-info" ng-click="confirmQuestion(formquestion, answer, @ViewBag.idmail)">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container" ng-show="showPassword">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <form name="formnewpassword">
                                <h5>Ingresar nueva contraseña</h5>
                                <input type="password" class="form-control" ng-model="password.password" required />
                                <h6>{{errorPassword}}</h6>
                                <h5>Repetir nueva contraseña</h5>
                                <input type="password" class="form-control" ng-model="password.repeat" required />
                                <h6>{{errorRepeatPass}}</h6>
                                <button class="btn btn-danger" ng-click="changePassword(formnewpassword, password, @ViewBag.idmail)">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
    </div>



    @*<h2>Register</h2>


        @using (Html.BeginForm())
        {
            <h4>Correo</h4>
            @Html.TextBox("email", null, new { @class = "form-control", @placeholder = "Correo" })
            <br />
            <h4>Contrasenia</h4>
            @Html.Password("password", null, new { @class = "form-control", @placeholder = "Contraseña" })
            <br />
            @ReCaptcha.GetHtml(@ViewBag.publicKey)
            <br/>
            if (ViewBag.RecaptchaLastErrors != null)
            {
                <div>Oops! Invalid reCAPTCHA =(</div>
            }
            <input type="submit" value="Ingresar" class="btn btn-primary" />
        }

*@
