﻿
@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Views/Shared/_WithOutBar.cshtml";
}

<div class="container">
    <div class="col-xs-1">
    </div>
    <div class="col-md-10">
        <h1 style="text-align:center">Términos y Condiciones de Uso</h1>
        <ul style="list-style-type:none">
            <li>
                <div class="row">
                    <div class="text-left">
                        <h3>1. Introducción</h3>
                    </div>
                    <h4 class="text-center text-justify">
                        Las presentes condiciones generales de uso de este servicio, regulan los términos y condiciones de acceso y uso de este Portal propiedad del Colegio de Economistas, Contadores Públicos y Auditores y Administradores de Empresas, con domicilio en 0 calle 15-46, zona 15, 8º. Nivel del Edifico de los Colegios Profesionales y con Número de Identificación Tributaria 35532-1, en adelante, «la Institución», que el usuario del Portal deberá de leer y aceptar para usar todos los servicios e información que se facilitan desde el Portal. El mero acceso y/o utilización del Portal, de todos o parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso.
                    </h4>
                </div>

                <div class="row">
                    <div class="text-left">
                        <h3>2. Condiciones de uso</h3>
                    </div>
                    <h4 class="text-center text-justify">
                        Las presentes condiciones generales de uso del Portal regulan el acceso y la utilización del Portal, incluyendo los contenidos y los servicios puestos a disposición de los usuarios en y/o a través del Portal, bien por el Portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilización de ciertos contenidos y/o servicios pueden encontrarse sometido a determinadas condiciones específicas.
                    </h4>
                </div>

                <div class="row">
                    <div class="text-left">
                        <h3>3. Modificaciones</h3>
                    </div>
                    <h4 class="text-center text-justify">
                        La Institución se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del Portal. En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del Portal, ya que pueden ser modificados.
                    </h4>
                </div>

                <div class="row">
                    <div class="text-left">
                        <h3>4. Obligaciones del Usuario</h3>
                    </div>
                    <h4 class="text-center text-justify">
                        El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del Portal. De forma expresa el usuario manifiesta que utilizará el Portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.
                    </h4>
                    <h4 class="text-center text-justify">
                        Así mismo, el usuario no podrá utilizar el Portal para transmitir, almacenar, divulgar promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones.
                    </h4>
                </div>

                <div class="row">
                    <div class="text-left">
                        <h3>5. Responsabilidad del Portal</h3>
                    </div>
                    <h4 class="text-center text-justify">
                        El usuario conoce y acepta que el Portal no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el Portal.
                    </h4>
                    <h4 class="text-center text-justify">
                        Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del Portal.
                    </h4>
                    <h4 class="text-center text-justify">
                        En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Institución. Toda responsabilidad será del tercero ya sea proveedor o colaborador.
                    </h4>
                </div>

                <div class="row">
                    <div class="text-left">
                        <h3>6. Propiedad intelectual e industrial</h3>
                    </div>
                    <h4 class="text-center text-justify">
                        Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el Portal corresponden exclusivamente a la Institución o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante de las páginas web del Portal sin la autorización de la Institución, siempre que no sean a una página web del Portal que no requiera identificación o autenticación para su acceso, o el mismo esté restringido.
                    </h4>
                    <h4 class="text-center text-justify">
                        En cualquier caso, el Portal se reserva todos los derechos sobre los contenidos, información datos y servicios que ostente sobre los mismos. El Portal no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del Portal.
                    </h4>
                </div>
                <div class="row">
                    <div class="text-left">
                        <h3>7. Legislación aplicable, jurisdicción competente y notificaciones</h3>
                    </div>
                    <h4 class="text-center text-justify">
                        Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de Guatemala. Para cualquier reclamación serán competentes los juzgados y tribunales de Guatemala. Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el Usuario desee efectuar a la Institución titular del Portal deberán realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección administracion@ccee.org.gt
                    </h4>
                </div>

            </li>
        </ul>
    </div>
    <div class="col-xs-1">
    </div>
</div>

