﻿<div id="academy" class="tab-pane fade">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Academica</h4>
                    </div>
                    @if (ViewBag.nuevoAcademia)
                    {
                    <div class="col-md-12">
                        <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" ng-hide="menuAcademy" ng-click="showMenuAcademyCreate()" class="btn btn-info">Crear Academica</button>
                    </div>
                    }
                </div>
            </div>
            <div class="container" ng-show="menuAcademy">
                <form name="formacademyreferee" novalidate>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Titulo: {{academytextEspecial}}</h5>
                                <select ng-disabled="updateObjectAcademy != null" class="form-control backgroundInput" ng-model="academyselectEspecial" ng-options="esp as esp.name for esp in listTypeEspecialty"></select>
                            </div>
                            <div class="col-md-4">
                                <h5>Universidad: {{academytextUniversity}}</h5>
                                <select ng-disabled="updateObjectAcademy != null" class="form-control backgroundInput" ng-model="academyselectUniversity" ng-options="uni as uni.name for uni in listUniversity"></select>
                            </div>
                            <div class="col-md-4" ng-init="academyspeciality = 'Licenciatura'">
                                <h5>Grado academico</h5>
                                <select class="form-control backgroundInput" ng-model="academyspeciality" required>
                                    <option value="Licenciatura">Licenciatura</option>
                                    <option value="Maestría">Maestría</option>
                                    <option value="Doctorado">Doctorado</option>
                                    <option value="Diplomado">Diplomado</option>
                                    <option value="Curso Libre">Curso Libre</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Especialidad</h5>
                                <input type="text" class="form-control" ng-model="academytitle" />
                            </div>
                            @if (ViewBag.cambioFechaAcadem && ViewBag.editarAcademia)
                            {
                                <div class="col-md-4">
                                    <h5>Fecha de Graduación: {{academydateText}}</h5>
                                    <md-datepicker class="backgroundInput" ng-model="academydate" md-placeholder="Ingreso fecha"></md-datepicker>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4">
                                    <h5>Fecha de Graduación: {{academydateText}}</h5>
                                    <md-datepicker class="backgroundInput" ng-disabled="updateObjectAcademy != null" ng-model="academydate" md-placeholder="Ingreso fecha"></md-datepicker>
                                </div>
                            }
                            <div class="col-md-4">
                                <h5>Evaluación</h5>
                                <select class="form-control backgroundInput" ng-model="academyEvaluation" required>
                                    <option value="EPS">EPS</option>
                                    <option value="Exonerado">Exonerado</option>
                                    <option value="Privado">Privado</option>
                                    <option value="Practica">Practica</option>
                                    <option value="Exonerado por Crédito de Maestría">Exonerado por Crédito de Maestría</option>
                                </select>
                            </div>
                            <div class="col-md-12" ng-show="academyEvaluation == 'EPS' || academyEvaluation == 'Privado'">
                                <h5>Tema de graduación</h5>
                                <textarea ng-model="academyGraduation" cols="15" rows="5" class="form-control">
                                    {{academyGraduation}}
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            @if (ViewBag.nuevoAcademia)
                            {
                            <button ng-click="addAcademyReferee()" ng-disabled="!formacademyreferee.$valid || academyselectEspecial == null || academyselectUniversity == null" ng-show="updateObjectAcademy == null" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarAcademia)
                            {
                            <button ng-click="updateAcademyReferee()" ng-disabled="!formacademyreferee.$valid" ng-show="updateObjectAcademy != null" class="btn btn-success">Actualizar</button>
                            }
                            <button ng-click="showMenuAcademyCreate();clearDataAcademy()" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </form>
                
            </div>
            
            <br />
            <br />
            @if (ViewBag.buscarAcademia)
            {
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Universidad</th>
                                    <th>Nombre especialidad</th>
                                    <th>Especialidad</th>
                                    <th>Fecha</th>
                                    <th>Tema</th>
                                    <th>Evaluación</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="acad in listAcademy">
                                    <td>{{acad.specialty}}</td>
                                    <td>{{acad.fullNameUniversity}}</td>
                                    <td>{{acad.name}}</td>
                                    <td>{{acad.title}}</td>
                                    <td>{{acad.dateText}}</td>
                                    <td>{{acad.graduationSubject}}</td>
                                    <td>{{acad.evaluation}}</td>
                                    <td>
                                        @if (ViewBag.editarAcademia)
                                        {
                                        <button ng-click="showMenuAcademyEdit(acad)" ng-hide="menuAcademyDelete" class="btn btn-success btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarAcademia)
                                        {
                                        <button ng-click="menuAcademyDelete = true" ng-hide="menuAcademyDelete" class="btn btn-danger btn-xs">Eliminar</button>
                                        <button ng-click="deleteAcademyReferee(acad)" ng-show="menuAcademyDelete" class="btn btn-danger btn-xs">Eliminar</button>
                                        <button ng-click="menuAcademyDelete = false" ng-show="menuAcademyDelete" class="btn btn-warning btn-xs">Cancelar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <h5>Seleccionar Idioma</h5>
                    <select class="form-control" ng-model="selectLanguageReferee" ng-options="listL as listL.name for listL in listLanguageGeneral track by listL.id"></select>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <button ng-click="addLanguageReferee()" ng-disabled="idRefereeContent == 0 || idRefereeContent == null" class="btn btn-success">Agregar</button>
                </div>
                <div class="col-md-12">
                    <br />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="type in listLanguage">
                                <td>{{type.nameLanguage}}</td>
                                <td>
                                    <button ng-click="deleteLanguageReferee(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
