﻿<div id="dir" class="tab-pane fade">
    <div class="container">
        <br />
        @if (ViewBag.nuevoDireccion)
        {
        <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" ng-hide="menuAddress" ng-click="showMenuAddress()" class="btn btn-info">Crear direccion</button>
        }
        <div ng-show="menuAddress" class="row">
            <form name="formaddressreferee">
                <div class="col-md-12"><h4>Dirección</h4></div>
                <div class="col-md-4">
                    <h5>(1) Dirección</h5>
                    <input type="text" ng-model="addressStreet" class="form-control" required />
                </div>
                <div class="col-md-4">
                    <h5>(2) Código Postal</h5>
                    <input type="text" ng-model="addressNumber" class="form-control" />
                </div>
                <div class="col-md-4">
                    <h5>(3) Zona</h5>
                    <input type="text" ng-model="addressZone" class="form-control" />
                </div>
                <div class="col-md-4">
                    <h5>(4) Colonia</h5>
                    <input type="text" ng-model="addressColony" class="form-control" />
                </div>
                <div class="col-md-4">
                    <h5>(5) Caserio</h5>
                    <input type="text" ng-model="addressCaserio" class="form-control" />
                </div>
                <div class="col-md-4">
                    <h5>(6) Barrio</h5>
                    <input type="text" ng-model="addressBarrio" class="form-control" />
                </div>
                <div class="col-md-4">
                    <h5>(7) Tipo dirección: {{addressType}}</h5>
                    <select ng-model="addressSelectType" class="form-control backgroundInput">
                        <option value="1">Domicilio</option>
                        <option value="2">Trabajo</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <h5>(8) Pais: {{addressCountry}}</h5>
                    <select class="form-control backgroundInput" ng-change="getDepartamentReferee()" ng-model="addressSelectCountry" ng-options="con as con.name for con in listCountry"></select>
                </div>
                <div class="col-md-4">
                    <h5>(9) Departamento: {{addressDep}}</h5>
                    <select ng-disabled="addressSelectCountry == null" class="form-control backgroundInput" ng-change="getMunicipalityReferee()" ng-model="addressSelectDep" ng-options="con as con.name for con in listDepartament"></select>
                </div>
                <div class="col-md-4">
                    <h5>(10) Municipio: {{addressMuni}}</h5>
                    <select ng-disabled="addressSelectDep == null" class="form-control backgroundInput" ng-change="" ng-model="addressSelectMuni" ng-options="con as con.name for con in listMunicipality"></select>
                </div>
                <div class="col-md-4">
                    <h5>(11) Habiliar notificaciones</h5>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="addressEnableNot" value="">Dirección de notificaciones</label>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h5>Acciones</h5>
                    @if (ViewBag.nuevoDireccion)
                    {
                    <button ng-disabled="!formaddressreferee.$valid || addressSelectMuni == null || addressSelectType == null" ng-click="addAddressReferee()" ng-show="updateIdReferee == null" class="btn btn-info">Crear</button>
                    }
                    @if (ViewBag.editarDireccion)
                    {
                    <button ng-show="updateIdReferee != null" ng-click="updateAddressReferee()" class="btn btn-danger">Actualizar</button>
                    }
                    <button ng-click="showMenuAddress();clearDataAddress()" class="btn btn-warning">Cancelar</button>
                </div>
                <div class="col-md-12"><hr /></div>
            </form>
        </div>
        <br />
        @if (ViewBag.buscarDireccion) {
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Dirección</th>
                                    <th>Código Postal</th>
                                    <th>Zona</th>
                                    <th>Colonia</th>
                                    <th>Barrio</th>
                                    <th>Caserio</th>
                                    <th>Tipo dirección</th>
                                    <th>Pais</th>
                                    <th>Departamento</th>
                                    <th>Municipio</th>
                                    <th>Ntotifiaciones</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="addre in listAddress">
                                    <td>{{addre.street}}</td>
                                    <td>{{addre.number}}</td>
                                    <td>{{addre.zone}}</td>
                                    <td>{{addre.colony}}</td>
                                    <td>{{addre.barrio}}</td>
                                    <td>{{addre.caserio}}</td>
                                    <td>{{changeTypeAddress(addre.typeAddress)}}</td>
                                    <td>{{addre.country}}</td>
                                    <td>{{addre.departament}}</td>
                                    <td>{{addre.municipality}}</td>
                                    <td>{{((addre.notification == 1) ? 'Habilitada' : 'No habilitada')}}</td>
                                    <td>
                                        @if (ViewBag.editarDireccion)
                                        {
                                            <button ng-show="menuAddressDelete" class="btn btn-default btn-xs" ng-click="showEditAddress(addre)">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarDireccion)
                                        {
                                            <button ng-show="menuAddressDelete" class="btn btn-danger btn-xs" ng-click="showMenuAddressDelete()">Eliminar</button>

                                            <button ng-hide="menuAddressDelete" class="btn btn-danger btn-xs" ng-click="deleteAddressReferee(addre)">Eliminar</button>
                                            <button ng-hide="menuAddressDelete" class="btn btn-warning btn-xs" ng-click="showMenuAddressDelete()">Cancelar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        @*<div ng-repeat="addre in listAddress">
            <div class="row  table-content">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            {{addre.street}}
                        </div>
                        <div class="col-md-2">
                            {{addre.number}}
                        </div>
                        <div class="col-md-2">
                            {{addre.zone}}
                        </div>
                        <div class="col-md-3">
                            {{addre.colony}}
                        </div>
                        <div class="col-md-2">
                            {{addre.caserio}}
                        </div>
                        <div class="col-md-3">
                            {{addre.barrio}}
                        </div>
                        <div class="col-md-2">
                            {{ changeTypeAddress(addre.typeAddress) }}
                        </div>
                        <div class="col-md-2">
                            {{addre.country}}
                        </div>
                        <div class="col-md-2">
                            {{addre.departament}}
                        </div>
                        <div class="col-md-3">
                            {{addre.municipality}}
                        </div>
                        <div class="col-md-3">
                            {{((addre.notification == 1) ? 'Es dirección de notificación' : 'No es dirección de notificación')}}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    @if (ViewBag.editarDireccion)
                    {
                    <button ng-show="menuAddressDelete" class="btn btn-default btn-sm" ng-click="showEditAddress(addre)">Actualizar</button>
                    }
                    @if (ViewBag.eliminarDireccion)
                    {
                    <button ng-show="menuAddressDelete" class="btn btn-danger btn-sm" ng-click="showMenuAddressDelete()">Eliminar</button>

                    <button ng-hide="menuAddressDelete" class="btn btn-danger btn-sm" ng-click="deleteAddressReferee(addre)">Eliminar</button>
                    <button ng-hide="menuAddressDelete" class="btn btn-warning btn-sm" ng-click="showMenuAddressDelete()">Cancelar</button>
                    }
                </div>
            </div>
        </div>*@
        }
        <br />
        <div class="row">
            <div class="col-md-12"><h4>Contacto</h4></div>
            @if (ViewBag.buscarTelefono)
            {
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-10">
                        Numero de telefono
                    </div>
                    <div class="col-md-2">
                        Acciones
                    </div>
                    <div class="col-md-12"><hr /></div>
                    <div class="col-md-12" ng-repeat="phon in listPhone">
                        <div class="col-md-4">
                            <h5>{{phon.state}} - {{phon.number}}</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 class="col-md-12" ng-show="phon.idfamily != null || phon.idfamily > 0">Beneficiario</h5>
                            <h5 class="col-md-12" ng-show="phon.idfamily == null || phon.idfamily == 0">Personal</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>{{defineTypePhone(phon.type)}}</h5>
                        </div>
                        <div class="col-md-2">
                            @if (ViewBag.eliminarTelefono)
                            {
                            <button ng-click="deletePhoneReferee(phon)" class="btn btn-danger btn-xs">Eliminar</button>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                @if (ViewBag.nuevoTelefono)
                {
                <div class="row">
                    <form name="formaddressphone">
                        <div class="col-md-3">
                            <h5>Codigo Pais</h5>
                            <input type="text" ng-pattern="regexPhoneState" ng-model="adressPhone.cod" placeholder="502 por defecto" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <h5>Numero telefonico</h5>
                            <input type="text" ng-pattern="regexPhone" ng-model="adressPhone.number" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <h5>Tipo de teléfono</h5>
                            <select class="form-control backgroundInput" ng-model="adressPhone.type" required>
                                <option value="4">Celular</option>
                                <option value="1">Teléfono casa</option>
                                <option value="2">Teléfono oficina</option>
                                <option value="5">Otro</option>
                                <option value="3">Fax oficina</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <h5>Acciones</h5>
                            <button ng-disabled="!formaddressphone.$valid" ng-click="addPhone(adressPhone)" class="btn btn-success btn-sm">Agregar</button>
                        </div>
                    </form>
                </div>
                }
            </div>
            }
            @*--------------------------------------------------------*@
            @if (ViewBag.buscarMail)
            {
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8">
                        Correo electronico
                    </div>
                    <div class="col-md-4">
                        Acciones
                    </div>
                    <div class="col-md-12"><hr /></div>
                    <div ng-repeat="mail in listMail">
                        <div class="col-md-8">
                            <h5>{{mail.mail}}</h5>
                        </div>
                        <div class="col-md-4">
                            @if (ViewBag.eliminarMail)
                            {
                            <button ng-click="deleteMailReferee(mail)" class="btn btn-danger btn-xs">Eliminar</button>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                @if (ViewBag.nuevoMail)
                {
                <div class="row">
                    <form name="formaddressmail">
                        <div class="col-md-8">
                            <h5>Correo</h5>
                            <input ng-pattern="regexMail" ng-model="mail.text" type="text" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <br />
                            <br />
                            <button ng-disabled="!formaddressmail.$valid" ng-click="addMailReferee(mail)" class="btn btn-success btn-sm">Agregar</button>
                        </div>
                    </form>
                </div>
                }
            </div>
            }
        </div>
        <br />
    </div>
</div>