﻿<div id="balance" class="tab-pane fade">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Cuota</h4>
                    </div>
                </div>
            </div>
            
            <br />
            <br />
            @if (ViewBag.verSaldo)
            {
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Descripción</h5>
                    </div>
                    <div class="col-md-1">
                        <h5>Cantidad</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>Valor</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Último mes pagado</h5>
                    </div>
                    <div class="col-md-3">
                        <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" class="btn btn-success btn-xs" ng-click="changeSaldo()">Ver Cuota</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5>Cuota colegio</h5>
                    </div>
                    <div class="col-md-1">
                        <h5>{{balanceCountReferee}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>{{balanceMountReferee | currency:"QTZ Q."}}</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>{{balanceDateReferee | date :  "MM/yyyy"}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5>Cuota timbre</h5>
                    </div>
                    <div class="col-md-1">
                        <h5>{{balanceCountTimbre}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>{{balanceMountTimbre | currency:"QTZ Q."}}</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>{{balanceDateTimbre | date :  "MM/yyyy"}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5>Auxilio Póstumo</h5>
                    </div>
                    <div class="col-md-1">
                        <h5>{{balanceCountPstumo}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>{{balanceMountPostumo | currency:"QTZ Q."}}</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>{{balanceDatePostumo | date :  "MM/yyyy"}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Cuota Extraordinaria Timbre</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>{{balanceMountMora | currency:"QTZ Q."}}</h5>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-3">
                        <h5>Cuotas Pendientes Otros</h5>
                    </div>
                    <div class="col-md-1">
                        <h5>{{balanceCountOther}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>{{balanceMountOther | currency:"QTZ Q."}}</h5>
                    </div>
                </div>*@
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <h5>Total (Redondeado)</h5>
                    </div>
                    <div class="col-md-3">
                        <h4>{{ aproxNext(balanceMountReferee + balanceMountTimbre + balanceMountPostumo + balanceMountMora) | currency:"QTZ Q."}}</h4>
                        @*<h4>{{ (balanceMountReferee + balanceMountTimbre + balanceMountPostumo + balanceMountOther + balanceMountMora) | currency:"QTZ Q."}}</h4>*@
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
