﻿<div id="employment" class="tab-pane fade">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Historial Laboral</h4>
                    </div>
                    @if (ViewBag.nuevoHistorial)
                    {
                    <div class="col-md-12">
                        <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" ng-hide="menuEmployment" ng-click="showMenuEmployCreate()" class="btn btn-info">Crear historial</button>
                    </div>
                    }
                </div>
            </div>
            <div ng-show="menuEmployment" class="container">
                <form name="formemploymentreferee" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Fecha inicio {{employmentdatestartText}}</h5>
                                    <md-datepicker class="backgroundInput" ng-model="employmentdatestart" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                                </div>
                                <div class="col-md-4">
                                    <h5>Fecha final {{employmentdatefinishText}}</h5>
                                    <md-datepicker ng-model="employmentdatefinish"></md-datepicker>
                                </div>
                                <div class="col-md-4">
                                    <h5>Hasta la fecha</h5>
                                    <input type="checkbox" ng-checked="employmentToDate" class="form-control" ng-model="employmentToDate" value="1"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5>Empleador</h5>
                            <input type="text" class="form-control" ng-model="employmentemploy" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Puesto</h5>
                            <input type="text" class="form-control" ng-model="employmentpuesto" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Telefono</h5>
                            <input type="text" ng-pattern="regexPhone" ng-model="employmentphone" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Dirección</h5>
                            <input type="text" class="form-control" ng-model="employmentaddress" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Salario</h5>
                            <input type="text" class="form-control" ng-model="employmentsalario" ng-pattern="regexAmount" required />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            @if (ViewBag.nuevoHistorial)
                            {
                            <button ng-click="addEmploymentReferee()" ng-disabled="!formemploymentreferee.$valid" ng-show="updateIdReferee == null" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarHistorial)
                            {
                            <button ng-click="updateEmploymentReferee()" ng-disabled="!formemploymentreferee.$valid" ng-show="updateIdReferee != null" class="btn btn-success">Actualizar</button>
                            }
                            <button ng-click="showMenuEmployCreate();clearDataEmployment()" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <br />
            @if (ViewBag.buscarHistorial)
            {
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <button class="btn btn-link" ng-click="sortType = 'datestartText'; sortReverse = !sortReverse">
                                            Fecha Inicio
                                        </button>
                                    </th>
                                    <th><button class="btn btn-link" ng-click="sortType = 'datefinishText'; sortReverse = !sortReverse">Fecha Final</button></th>
                                    <th><button class="btn btn-link" ng-click="sortType = 'empleador'; sortReverse = !sortReverse">Empleado</button></th>
                                    <th><button class="btn btn-link" ng-click="sortType = 'puesto'; sortReverse = !sortReverse">Puesto</button></th>
                                    <th><button class="btn btn-link" ng-click="sortType = 'phone'; sortReverse = !sortReverse">Telefono</button></th>
                                    <th><button class="btn btn-link" ng-click="sortType = 'address'; sortReverse = !sortReverse">Direccion</button></th>
                                    <th><button class="btn btn-link" ng-click="sortType = 'salario'; sortReverse = !sortReverse">Salario</button></th>
                                    <th><button class="btn btn-link" ng-click="sortType = 'actual'; sortReverse = !sortReverse">Puesto Actual</button></th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="emplo in listEmployment | orderBy:sortType:sortReverse">
                                    <td>{{emplo.datestartText}}</td>
                                    <td>{{emplo.datefinishText}}</td>
                                    <td>{{emplo.empleador}}</td>
                                    <td>{{emplo.puesto}}</td>
                                    <td>{{emplo.phone}}</td>
                                    <td>{{emplo.address}}</td>
                                    <td>{{emplo.salario}}</td>
                                    <td>{{changeActualEmployment(emplo.actual)}}</td>
                                    <td>
                                        @if (ViewBag.editarHistorial)
                                        {
                                        <button ng-click="showMenuEmployEdit(emplo)" ng-hide="menuEmploymentDelete" class="btn btn-success btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarHistorial)
                                        {
                                        <button ng-click="menuEmploymentDelete = true" ng-hide="menuEmploymentDelete" class="btn btn-danger btn-xs">Eliminar</button>
                                        <button ng-click="deleteEmploymentReferee(emplo)" ng-show="menuEmploymentDelete" class="btn btn-danger btn-xs">Eliminar</button>
                                        <button ng-click="menuEmploymentDelete = false" ng-show="menuEmploymentDelete" class="btn btn-warning btn-xs">Cancelar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
