﻿<div id="family" class="tab-pane fade">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><h4>Beneficiario</h4></div>
                    @if (ViewBag.nuevoBeneficiario)
                    {
                    <div  ng-hide="menuFamily" ng-click="showMenuFamily()" class="col-md-3">
                        <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" class="btn btn-info">Crear beneficiario</button>
                    </div>
                    <div class="col-md-3">
                        <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" ng-click="changeDocument()" class="btn btn-success">Ver Documentación</button>
                    </div>
                    }
                </div>
            </div>
            <div ng-show="menuFamily" class="container">
                <form name="formfamily" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Primer Nombre</h5>
                            <input type="text" ng-model="familyfirstname" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Segundo Nombre</h5>
                            <input type="text" ng-model="familysecoundname" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Tercer nombre</h5>
                            <input type="text" ng-model="familythirdname" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Primer Apellido</h5>
                            <input type="text" ng-model="familyfirslastname" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Segundo Apellido</h5>
                            <input type="text" ng-model="familysecoundlastname" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Apellido de Casada</h5>
                            <input type="text" ng-model="familymarriedname" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Tipo de Beneficiario: {{findTypeFamily(familyTypeBeneficiary)}}</h5>
                            <select class="form-control backgroundInput" ng-model="familyselectBeneficiary" ng-options="ben as ben.name for ben in listBeneficiary"></select>
                        </div>
                        <div class="col-md-4">
                            <h5>Porcentaje</h5>
                            <input type="number" ng-model="familypercentage" min="0" max="100" class="form-control" ng-pattern="regexDigit" />
                        </div>
                        <div class="col-md-4">
                            <h5>Dpi</h5>
                            <input type="text" ng-model="familydpi" class="form-control" ng-pattern="regexDigit" />
                        </div>
                        <div class="col-md-12">
                            <h5>Observaciones</h5>
                            <textarea rows="4" cols="75" class="form-control" ng-model="familyremark">
                            </textarea> 
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            @if (ViewBag.nuevoBeneficiario)
                            {
                            <button ng-disabled="!formfamily.$valid || familyselectBeneficiary == null" ng-click="addFamilyReferee()" ng-show="updateIdReferee == null" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarBeneficiario)
                            {
                            <button ng-disabled="!formfamily.$valid" ng-show="updateIdReferee != null" ng-click="updateFamilyReferee()" class="btn btn-success">Actualizar</button>
                            }
                            <button ng-click="showMenuFamily();clearDataFamily()" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
            <br />
            @if (ViewBag.buscarBeneficiario)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre del beneficiario</th>
                                            <th>Tipo de beneficiario</th>
                                            <th>Porcentaje</th>
                                            <th>DPI</th>
                                            <th>Observaciones</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="fami in listFamily">
                                            <td>{{fami.firstName}} {{fami.secoundName}} {{fami.thirdName}} {{fami.firstLastName}} {{fami.secoundLastName}} {{fami.marriedName}}</td>
                                            <td>{{fami.nameTypeBeneficiary}}</td>
                                            <td>{{fami.percentage}} %</td>
                                            <td>{{fami.dpi}}</td>
                                            <td>{{fami.remark}}</td>
                                            <td>
                                                @if (ViewBag.editarBeneficiario)
                                                {
                                                    <button ng-click="showEditFamily(fami)" ng-show="menuFamilyDelete" class="btn btn-success btn-xs">Actualizar</button>
                                                    <button ng-click="showMenuFamilyPhone(fami)" ng-show="menuFamilyDelete" class="btn btn-warning btn-xs">Telefono</button>
                                                    <button ng-click="showMenuFamilyAddress(fami)" ng-show="menuFamilyDelete" class="btn btn-warning btn-xs">Direccion</button>
                                                }
                                                @if (ViewBag.eliminarBeneficiario)
                                                {
                                                    <button ng-click="showMenuFamilyDelete()" ng-show="menuFamilyDelete" class="btn btn-danger btn-xs">Eliminar</button>

                                                    <button ng-click="deleteFamilyReferee(fami)" ng-hide="menuFamilyDelete" class="btn btn-danger btn-xs">Eliminar</button>

                                                    <button ng-click="showMenuFamilyDelete()" ng-hide="menuFamilyDelete" class="btn btn-warning btn-xs">Cancelar</button>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            @*<div class="container">
                <div class="row table-title">
                    <div class="col-md-6">
                        Nombre del beneficiario
                    </div>
                    <div class="col-md-2">
                        Tipo de beneficiario
                    </div>
                    <div class="col-md-2">
                        Acciones
                    </div>
                </div>
            </div>
            <div ng-repeat="fami in listFamily">
                <div class="container">
                    <div class="row table-content">
                        <div class="col-md-6">
                            {{fami.firstName}} {{fami.secoundName}} {{fami.thirdName}} {{fami.firstLastName}} {{fami.secoundLastName}} {{fami.marriedName}}
                        </div>
                        <div class="col-md-2">
                            {{fami.nameTypeBeneficiary}}
                        </div>
                        <div class="col-md-4">
                            @if (ViewBag.editarBeneficiario)
                            {
                            <button ng-click="showEditFamily(fami)" ng-show="menuFamilyDelete" class="btn btn-success btn-sm">Actualizar</button>
                            <button ng-click="showMenuFamilyPhone(fami)" ng-show="menuFamilyDelete" class="btn btn-warning btn-sm">Telefono</button>
                            <button ng-click="showMenuFamilyAddress(fami)" ng-show="menuFamilyDelete" class="btn btn-warning btn-sm">Direccion</button>
                            }
                            @if (ViewBag.eliminarBeneficiario)
                            {
                            <button ng-click="showMenuFamilyDelete()" ng-show="menuFamilyDelete" class="btn btn-danger btn-sm">Eliminar</button>

                            <button ng-click="deleteFamilyReferee(fami)" ng-hide="menuFamilyDelete" class="btn btn-danger btn-sm">Eliminar</button>

                            <button ng-click="showMenuFamilyDelete()" ng-hide="menuFamilyDelete" class="btn btn-warning btn-sm">Cancelar</button>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>*@
            }
            <br />
            <br />
            <div ng-show="menuFamilyAddress || menuFamilyPhone" class="container">
                <div class="row">
                    <div class="col-md-12"><h4>Contacto: {{nameFamily}}</h4></div>
                    <div ng-show="menuFamilyPhone" class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                Numero de telefono
                            </div>
                            <div class="col-md-4">
                                Acciones
                            </div>
                            <div class="col-md-12"><hr /></div>
                            <div  ng-repeat="phonfami in listPhoneFamily">
                                <div class="col-md-8">
                                    <h5>{{phonfami.state}} - {{phonfami.number}}</h5>
                                </div>
                                <div class="col-md-4">
                                    <button ng-click="deletePhoneFamilyRefereeWithSelect(phonfami)" class="btn btn-danger btn-xs">Eliminar</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <form name="formphonefamily">
                                <div class="col-md-4">
                                    <h5>Codigo Pais </h5>
                                    <input type="text" ng-pattern="regexPhoneState" ng-model="familyPhone.cod" placeholder="502 por defecto" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <h5>Numero telefonico</h5>
                                    <input type="text" ng-pattern="regexPhone" ng-model="familyPhone.number" class="form-control" required />
                                </div>
                                <div class="col-md-4">
                                    <br />
                                    <br />
                                    <button ng-click="addPhoneFamilyReferee(familyPhone)" ng-disabled="!formphonefamily.$valid" class="btn btn-success btn-sm">Agregar</button>
                                </div>
                            </form>
                            <form name="formphonefamilyselect">
                                <div class="col-md-8">
                                    <h5>Listado de telefonos del colegiado</h5>
                                    <select class="form-control" ng-model="selectFamilyPhone" ng-options="ben as ben.number for ben in listPhone" required></select>
                                </div>
                                <div class="col-md-4">
                                    <br />
                                    <br />
                                    <button ng-click="addPhoneFamilyRefereeWithSelect(selectFamilyPhone)" ng-disabled="!formphonefamilyselect.$valid" class="btn btn-success btn-sm">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-show="menuFamilyAddress" class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                Direccion
                            </div>
                            <div class="col-md-4">
                                Acciones
                            </div>
                            <div class="col-md-12"><hr /></div>
                            <div class="col-md-12" ng-repeat="addre in listAddressfamily">
                                <div class="col-md-8">
                                    <h5>{{((addre.street == null)? "" : addre.street)}},{{((addre.number == null)? "" : addre.number)}},{{((addre.zone == null)? "" : addre.zone)}},{{ ((addre.colony == null)? "" : addre.colony)}}</h5>
                                </div>
                                <div class="col-md-4">
                                    <button ng-click="deleteAddressRefereeFamily(addre)" class="btn btn-danger btn-xs">Eliminar</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <form name="formaddressfamilyselect">
                                <div class="col-md-8">
                                    <h5>Listado de direcciones del colegiado</h5>
                                    <select class="form-control" ng-model="selectFamilyAddres" ng-options="add as (((add.street == null)? '' : add.street) + ',' + ((add.number == null)? '' : add.number) + ',' + ((add.zone == null)? '' : add.zone) + ',' + ((add.country == null)? '' : add.country)) for add in listAddress" required></select>
                                </div>
                                <div class="col-md-4">
                                    <br />
                                    <br />
                                    <button ng-disabled="!formaddressfamilyselect.$valid" ng-click="addAddressRefereeFamily(selectFamilyAddres)" class="btn btn-success btn-sm">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>