﻿<div id="frozen" class="tab-pane fade">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Cheques Rechazados</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha de pago</th>
                                <th>Monto</th>
                                <th>Recibo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in listDataFozen">
                                <td>{{list.datePay | date:"dd/MM/yyyy"}}</td>
                                <td>{{list.total | currency:"Q."}}</td>
                                <td>{{list.document}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
