﻿<div id="general" class="tab-pane fade in active">
    @if (ViewBag.cashier && ViewBag.stateCash && ViewBag.ejecutarPago)
    {
        @*<div class="col-md-4">
                <h5>Pagos</h5>
                <button ng-click="changePay()" ng-disabled="idRefereeContent == 0 || idRefereeContent == null" class="btn btn-warning">Pagos</button>
            </div>*@
    }
    <form name="formGeneralReferee" novalidate>
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Primer Nombre</h5>
                            <input ng-model="firstNameReferee" type="text" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Segundo Nombre</h5>
                            <input ng-model="secoundNameReferee" type="text" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Tercer Nombre</h5>
                            <input ng-model="thirdNameReferee" type="text" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Primer Apellido</h5>
                            <input ng-model="fistLastNameReferee" type="text" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Segundo Apellido</h5>
                            <input ng-model="secoundLastNameReferee" type="text" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Apellido de Casada</h5>
                            <input ng-model="marriedNameReferee" type="text" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Salario Actual: {{ salaryReferee | currency:"QTZ Q."}}</h5>
                            <input ng-model="salaryReferee" ng-pattern="regexAmount" type="text" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Ubicación: {{headquarterReferee}}</h5>
                            <select class="form-control" ng-model="selectHeadquarReferee" ng-options="mun as mun.address for mun in listHeadquarters"></select>
                        </div>
                        @if (ViewBag.editarEstadoTipoCol)
                        {
                            if (ViewBag.verConvenio && ViewBag.verPlanilla)
                            {
                                <div class="col-md-4" ng-init="setAuthorizationType(true, true)">
                                    <h5>Estatus: {{typeReferee}}</h5>
                                    <select class="form-control" ng-model="selectTypeReferee" ng-options="listT as listT.nombre for listT in listTypeReferee track by listT.idTypeReferee"></select>
                                </div>
                            }
                            else if (ViewBag.verConvenio)
                            {
                                <div class="col-md-4" ng-init="setAuthorizationType(true, false)">
                                    <h5>Estatus: {{typeReferee}}</h5>
                                    <select class="form-control" ng-model="selectTypeReferee" ng-options="listT as listT.nombre for listT in listTypeReferee track by listT.idTypeReferee"></select>
                                </div>
                            }
                            else if (ViewBag.verPlanilla)
                            {
                                <div class="col-md-4" ng-init="setAuthorizationType(false, true)">
                                    <h5>Estatus: {{typeReferee}}</h5>
                                    <select class="form-control" ng-model="selectTypeReferee" ng-options="listT as listT.nombre for listT in listTypeReferee track by listT.idTypeReferee"></select>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4" ng-init="setAuthorizationType(false, false)">
                                    <h5>Estatus: {{typeReferee}}</h5>
                                    <select class="form-control" ng-model="selectTypeReferee" ng-options="listT as listT.nombre for listT in listTypeReferee track by listT.idTypeReferee"></select>
                                </div>
                            }


                        }
                        <div class="col-md-4">
                            <h5>Genero: {{genderReferee}}</h5>
                            <select class="form-control" ng-model="genderDefineReferee">
                                <option value="0">Masculino</option>
                                <option value="1">Femenino</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <h5>Estado civil: {{changeTypeStateCivil(statuscivilReferee)}}</h5>
                            <select class="form-control" ng-model="statuscivilDefineReferee">
                                <option value="0">NA</option>
                                <option value="1">Soltero/a</option>
                                <option value="2">Casado/a</option>
                                <option value="3">Separado/a</option>
                                <option value="4">Viudo/a</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <h5>Fecha de fallecimiento: {{deathReferee | date:"dd/MM/yyyy"}}</h5>
                            <md-datepicker ng-model="deathTextReferee" md-placeholder="Ingreso fecha"></md-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="off_margin" />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12"><h4 class="off_margin">Datos de documentación</h4></div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>No. DPI</h5>
                            <input ng-model="noDpiReferee" type="text" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>DPI extendido en:</h5>
                            <input ng-model="extDpieferee" type="text" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Nit</h5>
                            <input ng-pattern="regexNit" ng-model="nitReferee" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-4">
                            <h5>Numero de Orden Cedula</h5>
                            <input ng-model="regCedulaReferee" type="text" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>No. Cedula</h5>
                            <input ng-model="noCedulaReferee" type="text" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <h5>Cedula extendida en:</h5>
                            <input ng-model="extCedulaReferee" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Documentacion</h5>
                            <button  ng-disabled="idRefereeContent == 0 || idRefereeContent == null" ng-click="changeDocument()" class="btn btn-success">Ver Documentación</button>
                        </div>
                        <div class="col-md-4">
                            <h5>Firma</h5>
                            <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" ng-click="changeFirm()" class="btn btn-success">Imagen de firma</button>
                        </div>
                        @if (ViewBag.ejecutarDiplomaNuevo)
                        {
                        <div class="col-md-4">
                            <h5>Obtener diploma colegiado</h5>
                            <button ng-click="getDiploma()" ng-disabled="idRefereeContent == 0 || idRefereeContent == null" class="btn btn-primary">Diploma</button>
                        </div>
                        }
                    </div>
                    
                </div>
            </div>
            <hr class="off_margin" />
            <div class="row">
                <div class="col-md-12"><h4  class="off_margin">Otros</h4></div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Lugar de Nacimiento:</h5>
                        <input ng-model="placeBirthReferee" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Nacionalidad:</h5>
                        <input ng-model="nacionalityReferee" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Sede Juramentación: {{headquarterRefereeJu}}</h5>
                        <select class="form-control" ng-model="selectHeadquarJuReferee" ng-options="mun as mun.address for mun in listHeadquarters"></select>
                    </div>
                    <div class="col-md-4">
                        <h5>Fecha de Ingreso: {{dateSweReferee}}</h5>
                        <md-datepicker ng-model="dateTextSweReferee" md-placeholder="Ingreso fecha"></md-datepicker>
                    </div>
                    
                    <div class="col-md-4">
                        <h5>Fecha colegiacion: {{dateReferee}}</h5>
                        <md-datepicker ng-model="dateTextReferee" md-placeholder="Ingreso fecha"></md-datepicker>
                    </div>
                    <div class="col-md-4">
                        <h5>Fecha de nacimiento: {{birthdayReferee}}</h5>
                        <md-datepicker ng-model="birthdayTextReferee" md-placeholder="Ingreso fecha"></md-datepicker>
                    </div>
                    <div class="col-md-4">
                        <h5>Fecha de jubilación: {{dateJubilacionReferee}}</h5>
                        <md-datepicker ng-model="dateJubilacionTextReferee" md-placeholder="Ingreso fecha"></md-datepicker>
                    </div>
                    <div class="col-md-4">
                        <h5>Juramentación</h5>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="enableJu" value="">Se presento a juramentación</label>
                    </div>
                    <div class="col-md-4">
                        <h5>Experiencia en:</h5>
                        <input ng-model="experenceReferee" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Ver Pendientes</h5>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="enablePen" value="">Ver pendientes en el encabezado</label>
                    </div>
                </div>
                <div class="row">
                    
                    @*<div class="col-md-4">
                        <h5>Actualizar estado:</h5>
                        <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" class="btn btn-success" ng-click="getStatus()">Estado</button>
                    </div>*@
                    @*<div class="col-md-4">
                        <h5>Notificaion:</h5>
                        <input ng-model="notifyReferee" type="text" class="form-control" />
                    </div>*@
                </div>
                <div class="col-md-8">
                    <h5>Pendientes</h5>
                    <textarea ng-model="remarkReferee" cols="15" rows="5" class="form-control">
                        {{remarkReferee}}
                    </textarea>
                </div>
            </div>
            <hr class="off_margin" />
            <br />
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2">{{statusUpdate}}</div>
                <div class="col-md-2">
                    @if (ViewBag.editarColegiado)
                    {
                    <button ng-disabled="!formGeneralReferee.$valid" ng-click="updateReferee()" class="btn btn-warning btn-lg">Actualizar</button>
                    }
                </div>
            </div>
        </div>
    </form>


</div>
