﻿
@{
    ViewBag.Title = "ChangeAllReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Referee/changeAllRefereeController.js"></script>
}

<h2>ChangeAllReferee</h2>
<div class="container"  ng-app="referee" ng-controller="changeAllReferee" ng-init="setAuth()">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button class="btn btn-success" ng-click="getListStatus()">Cargar</button>
        </div>
    </div>
    <div class="row">
        <h4>Cantidad de colegiados: {{listData.length}}</h4>
        <h3>Número de colegiado procesando: {{processReferee}}</h3>
    </div>
    <div class="row">
        <form name="formlist">
            <div class="col-md-3">
                <h5>Colegiado de inicio</h5>
                <input type="number" class="form-control" ng-model="initlist" ng-required="true"/>
            </div>
            <div class="col-md-3">
                <h5>Colegiado de finalización</h5>
                <input type="number" class="form-control" ng-model="finishlist" ng-required="true"/>
            </div>
            <div class="col-md-3">
                <h5>Acción</h5>
                <button class="btn btn-success" ng-disabled="!formlist.$valid"  ng-click="addRangeReferee(initlist, finishlist)">Agregar secuencia</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <h4>Colegiado de inicio</h4>
            </div>
            <div class="col-md-3">
                <h4>Colegiado de finalización</h4>
            </div>
            <div class="col-md-3">
                <h4>Actual colegiado</h4>
            </div>
        </div>
        <div class="col-md-12" ng-repeat="list in rangeReferee">
            <div class="col-md-3">
                <h4>{{list.init}}</h4>
            </div>
            <div class="col-md-3">
                <h4>{{list.finish}}</h4>
            </div>
            <div class="col-md-3">
                <h4>{{list.msn}}</h4>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" ng-click="getStatusList(list)">Inicar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-repeat="error in errors">
            <p>{{error}}</p>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerRefereeAngular")
