﻿
@{
    ViewBag.Title = "DeleteReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/referee.js"></script>
    <script src="~/Scripts/moduleAngular/constant/RefereeConstant.js"></script>
    <script src="~/Scripts/moduleAngular/controller/Referee/eliminarRefereeController.js"></script>
    <script src="~/Scripts/moduleAngular/fatories/Referee/refereeFactory.js"></script>
    <script src="~/Scripts/moduleScripts/interfaceDatePiker.js"></script>
}

<h2>Eliminar Colegiado</h2>
<div class="container" ng-app="referee" ng-controller="deleteReferee" ng-init="setAuth();isdelete = false">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 alert alert-danger" role="alert">
            <h4>
                El colegiado solo se puede eliminar si y solamente si este no contiene referencias hacia pagos, direcciones, teléfonos, etc. 
                A excepción de los documentos los cuales serán eliminados si solo existe esta referencia. Al eliminar el colegiado usted se pone en riesgo de perder 
                toda la información y no recuperarla.
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form name="formdelete">
                <div class="col-md-6">
                    <h5>Numero de colegiado</h5>
                    <input type="text" ng-model="referee" class="form-control" ng-pattern="numbers" ng-disabled="isdelete == true" required/>
                </div>
                <div class="col-md-6">
                    <h5>Acciones</h5>
                    <button class="btn btn-success" ng-click="defineDelete()" ng-disabled="!formdelete.$valid">Eliminar</button>
                    <button class="btn btn-warning" ng-click="reverse()" ng-disabled="!formdelete.$valid">Re-Utilizar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-show="isdelete == true">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h5>Confirmar</h5>
            <button class="btn btn-danger btn-block" ng-click="delete()" ng-disabled="idReferee  == 0">Confirmar eliminación</button>
            <button class="btn btn-info btn-block" ng-click="isdelete = false">Cancelar</button>
        </div>
    </div>
    <br />
    <div class="row" ng-hide="info == ''">
        <div class="col-md-1"></div>
        <div class="col-md-10 alert alert-info" role="alert">
            <p>{{info}}</p>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

