﻿
@{
    ViewBag.Title = "EditFiles";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}


<div>
    <div class="container">
        <div class="row">
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h3>Carga de Documentos</h3>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @using (Html.BeginForm("EditFiles", "Referre", FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        @if (!ViewBag.showData)
                        {
                            <div class="col-md-6">
                                <label class="btn btn-primary btn-block" for="my-file-selector">
                                    <input id="my-file-selector" type="file" class="form-control" name="FileUpload1" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
                                    Cargar Archivo
                                </label>
                                <h4><span class='label label-success' id="upload-file-info"></span></h4>
                            </div>
                            
                        }
                    </div>
                    <div class="row">
                        @if (!ViewBag.showData)
                        {
                            <div class="col-md-6">
                                <br />
                                <input type="submit" value="Guardar o Modificar" class="btn btn-default btn-block" />
                            </div>
                        }
                        <div class="col-md-12">
                            <br />
                            <br />
                            <h4><span class='label label-warning' id="upload-file-info">@ViewBag.message</span></h4>
                        </div>
                    </div>
                    <div class="err">
                        @Html.ValidationSummary()
                    </div>
                }
            </div>
        </div>
    </div>
</div>



