﻿@model webcee.ViewModels.FileModelView

@{
    ViewBag.Title = "FileReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

<h3>Listado de Archivos: @Html.DisplayFor(model => model.nameFile)</h3>
<h4>Tipo de Expedientes: @Html.DisplayFor(model => model.nameFileRequirement)</h4>

<div>
    <div class="container">
        <div class="row">
        </div>
        <br />
        @*@if (ViewBag.status == false)
        {*@
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    @using (Html.BeginForm("FileReferee", "Referre", FormMethod.Post,
          new { enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <label class="btn btn-primary btn-block" for="my-file-selector">
                                    <input id="my-file-selector" type="file" class="form-control" name="FileUpload1" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
                                    Cargar Archivo
                                </label>
                                <h4><span class='label label-success' id="upload-file-info"></span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <input type="submit" value="Guardar" class="btn btn-default btn-block" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4><span class='label label-warning' id="upload-file-info">@ViewBag.message</span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <input type="submit" value="Siguiente" class="btn btn-default btn-block" />
                            </div>
                        </div>  


                        <div class="err">
                            @Html.ValidationSummary()
                        </div>
                    }
                </div>
            </div>
        @*}
        else
        {
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h4>
                        <a href="#">@Html.ActionLink("Atras", "Index", "Referre")</a>
                    </h4>
                    <span class='label label-warning' id="upload-file-info">@ViewBag.message</span>
                </div>
            </div>
        }*@



    </div>
</div>



