﻿@model IEnumerable<webcee.ViewModels.FileDocumentModelView>
@{
    ViewBag.Title = "Files";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/referee.js"></script>
    <script src="~/Scripts/moduleAngular/constant/RefereeConstant.js"></script>
    <script src="~/Scripts/moduleAngular/fatories/Referee/refereeFactory.js"></script>
    <script src="~/Scripts/moduleAngular/controller/Referee/fileReferee.js"></script>
}

<h2>Archivos</h2>
<br />
<div class="container" ng-app="referee" ng-controller="fileReferee" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row" ng-show="showDocReq == 0">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre Expediente</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listFile">
                                    <td>{{type.name}}</td>
                                    <td>
                                        <button ng-click="getDocExp(type.id)" class="btn btn-success btn-xs">Ver documentos</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showDocReq == 1">
                <div class="col-md-12">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <button class="btn btn-warning" ng-click="showDocReq = 0">Regresar</button>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre Expediente</th>
                                    <th>Ver Expediente</th>
                                    <th>Editar Expediente</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listFileExp">
                                    <td>{{type.nameFileRequirement}}</td>
                                    <td><button class="btn btn-link btn-sm" ng-show="type.document != '' && type.document != null " ng-click="donwloadFile(type.document, type.external)">Ver documento</button></td>
                                    <td><button class="btn btn-link btn-sm" ng-click="editFile(type.id)">Editar documento</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        @*<table class="table">
                            <thead>
                                <tr>
                                    <th>Tipo de expediente</th>
                                    <th>Expediente</th>
                                    <th>Estado</th>
                                    <th>Doccumento</th>
                                    <th>Tipo Doccumento</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nameFile)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nameFileRequirement)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.stateFileRequirementText)
                                        </td>
                                        <td>
                                            @if (item.document != "" && item.document != null )
                                            {
                                                <a href="@Url.Content(item.document)" target="_blank">Ver Documento</a>
                                            }
                                            
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.stateDocument)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "EditFiles", new { id = item.idReferee, ids = item.id }) 
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@
                        @*<table class="table">
                            <thead>
                                <tr>
                                    <th>Tipo de expediente</th>
                                    <th>Expediente</th>
                                    <th>Estado</th>
                                    <th>Doccumento</th>
                                    <th>Tipo Doccumento</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listFile">
                                    <td>{{type.nameFile}}</td>
                                    <td>{{type.nameFile}}</td>
                                    <td>{{type.nameFile}}</td>
                                    <td>{{type.nameFile}}</td>
                                    <td>{{type.nameFile}}</td>
                                    <td>
                                        <button ng-show="showDelete" ng-click="deleteTypeEspecialty(type)" class="btn btn-danger btn-xs">Agregar Archivos</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

