﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/referee.js"></script>
    <script src="~/Scripts/moduleAngular/constant/RefereeConstant.js"></script>
    <script src="~/Scripts/moduleAngular/fatories/Referee/refereeFactory.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-5">
            <h4 class="off_margin">Cant. Colegiado: @ViewBag.countReferee</h4>
        </div>
        <div class="col-md-2">
            <h4 class="off_margin">@ViewBag.Name</h4>
        </div>
    </div>
</div>
<div ng-app="referee" ng-controller="showreferee" ng-init="setAuth()">

    <div class="container">
        <div class="row">
            <form name="formrefereee" ng-init="getIdReferee()">
                <div class="col-md-2">
                    <img ng-click="changePhoto()" ng-show="imageReferee != null && statusReferee == 1" ng-src="~/images/{{imageReferee}}" class="img-responsive border-image-refereeActive" width="250" height="250" />
                    <img ng-click="changePhoto()" ng-show="imageReferee != null && (statusReferee != 1 || statusReferee == null )" ng-src="~/images/{{imageReferee}}" class="img-responsive border-image-refereeInactive" width="250" height="250" />
                </div>
                <div class="col-md-3">
                    <span ng-show="showForzer" class="label label-danger">Pagos congelados</span>
                    <span ng-show="showForzer" class="label label-danger">Cheques rechazados</span>
                    <span ng-show="enablePen" class="label label-danger">Pendientes</span>
                    <h3 ng-show="imageReferee != null && (statusReferee != 1 || statusReferee == null )"><span class="off_margin label label-danger">Inactivo</span></h3>
                    <h3 ng-show="imageReferee != null && statusReferee == 1"><span  class="off_margin label label-success">Activo</span></h3>
                    <h3 ng-show="statusReferee == 1"><span class="off_margin label label-success">{{idRefereeContent}}</span></h3>
                    <h3 ng-show="statusReferee == 0"><span class="off_margin label label-danger">{{idRefereeContent}}</span></h3>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" ng-model="idReferee" />
                </div>
                <div class="col-md-5">
                    <button ng-click="loadReferee(idReferee)" class="btn btn-primary">Buscar</button>
                    @Html.ActionLink("Avanzado", "SearchReferee", "Referre", new { @class = "btn btn-warning" })
                    
                    @if (ViewBag.nuevoColegido)
                    {
                        @Html.ActionLink("Nuevo", "NewReferee", "Referre", new { @class = "btn btn-success" })
                    }
                    @if (ViewBag.eliminarColegiado)
                    {
                        @Html.ActionLink("Eliminar", "DeleteReferee", "Referre", new { @class = "btn btn-danger" })
                    }
                    @if (ViewBag.cashier && ViewBag.stateCash && ViewBag.ejecutarPago)
                    {
                        <button ng-click="changePay()" ng-disabled="idRefereeContent == 0 || idRefereeContent == null || typeReferee == 'Fallecido'" class="btn btn-warning">Pagos</button>
                    }
                    <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" class="btn btn-success" ng-click="getStatus()">Estado</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="off_margin">{{completeNameReferee}}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Generales</a></li>
            <li><a href="#dir" data-toggle="tab">Direccion/Telefono</a></li>
            <li><a href="#family" data-toggle="tab">Beneficiarios/Familiares</a></li>
            @if (ViewBag.buscarHistorial)
            {
            <li><a href="#employment" data-toggle="tab">Historial Laboral</a></li>
            }
            <li><a href="#academy" data-toggle="tab">Academica</a></li>
            <li><a href="#balance" data-toggle="tab">Saldo</a></li>
            <li><a href="#frozen" data-toggle="tab">Cheques Rechazados</a></li>
        </ul>
        <div class="tab-content">
            @Html.Partial("_General")

            @Html.Partial("_Address")

            @Html.Partial("_Family")

            @Html.Partial("_Employment")
            
            @Html.Partial("_Academy")

            @Html.Partial("_Balance")

            @Html.Partial("_Frozen")
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
