﻿
@{
    ViewBag.Title = "NewReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/referee.js"></script>
    <script src="~/Scripts/moduleAngular/constant/RefereeConstant.js"></script>
    <script src="~/Scripts/moduleAngular/controller/Referee/addReferee.js"></script>
    <script src="~/Scripts/moduleAngular/fatories/Referee/refereeFactory.js"></script>
    <script src="~/Scripts/moduleScripts/interfaceDatePiker.js"></script>
}

<h2>Nuevo Colegiado</h2>
<div ng-app="referee" ng-controller="addReferee" ng-init="setAuth()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <button class="btn btn-success btn-xs btn-block" ng-click="revertNumber()">Revertidos</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-xs btn-block" ng-click="revertTemp()">Temporal</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger btn-xs btn-block" ng-click="revertNumberCancel()">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <form name="formreferee" novalidate>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h5>Numero de colegiación</h5>
                        <input ng-model="refereeNumber" ng-pattern="numbers" type="text" class="backgroundInput form-control" required />
                    </div>
                    <div class="col-md-4">
                        <h5>Fecha de colegiación</h5>
                        <md-datepicker ng-model="refereeDateReferee" md-placeholder="Ingreso fecha" ></md-datepicker>
                    </div>
                    <div class="col-md-4">
                        <h5>Fecha de ingreso</h5>
                        <md-datepicker ng-model="refereeSweReferee" class="backgroundInput" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h5>Primero Nombre</h5>
                        <input ng-model="refereeFistName" type="text" class="backgroundInput form-control" required/>
                    </div>
                    <div class="col-md-4">
                        <h5>Segundo Nombre</h5>
                        <input ng-model="refereeSecoundName" type="text" class="form-control"/>
                    </div>
                    <div class="col-md-4">
                        <h5>Tercer Nombre</h5>
                        <input ng-model="refereeThird" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Primero Apellido</h5>
                        <input ng-model="refereeFirstLastName" type="text" class="backgroundInput form-control" required/>
                    </div>
                    <div class="col-md-4">
                        <h5>Segundo Apellido</h5>
                        <input ng-model="refereeSecoundLastName" type="text" class="form-control"/>
                    </div>
                    <div class="col-md-4">
                        <h5>Apellido de Casada</h5>
                        <input ng-model="refereeMarriedLastName" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Salario Actual</h5>
                        <input ng-model="refereeSalary" ng-pattern="regexAmount" type="text" class="backgroundInput form-control" required />
                    </div>
                    <div class="col-md-4">
                        <h5>Sede de atención</h5> @*sede de registrada*@
                        <select class="form-control" ng-model="selectHeadquarReg" ng-options="mun as mun.address for mun in listHeadquarters" required></select>
                    </div>
                    <div class="col-md-4">
                        <h5>Fecha de graduación</h5>
                        <md-datepicker ng-model="refereeDateGradu" class="backgroundInput" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                    </div>
                    <div class="col-md-4">
                        <h5>Sexo</h5>
                        <select ng-model="refereeSex" class="form-control">
                            <option value="0">Masculino</option>
                            <option value="1">Femenino</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <h5>Estado civil</h5>
                        <select ng-model="refereeCivilState" class="form-control">
                            <option value="0">NA</option>
                            <option value="1">Soltero/a</option>
                            <option value="2">Casado/a</option>
                            <option value="3">Separado/a</option>
                            <option value="4">Viudo/a</option>
                        </select>
                    </div>
                    <div class="col-md-4" ng-init="refereeTypeReferee.idTypeReferee = 16">
                        <h5>Estatus</h5>
                        <select class="backgroundInput form-control" ng-model="refereeTypeReferee" ng-options="listT as listT.nombre for listT in listTypeReferee track by listT.idTypeReferee" required></select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h5>Número de DPI</h5>
                        <input ng-model="refereeNumberDPI" ng-pattern="regexDPI" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>DPI extendido en</h5>
                        <input ng-model="refereeExtDPI" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Nit</h5>
                        <input ng-model="refereeNit" ng-pattern="regexNit" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h5>Número de orden de cédula</h5>
                        <input ng-model="refereeNumberOrdenCedula" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Número de registro de cédula</h5>
                        <input ng-model="refereeNumberRegCedula" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Cédula extendida en</h5>
                        <input ng-model="refereeExtCedula" type="text" class="form-control" />
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h5>Lugar de Nacimiento:</h5>
                        <input ng-model="placeBirthReferee" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Nacionalidad:</h5>
                        <input ng-model="nacionalityReferee" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h5>Fecha de nacimiento</h5>
                        <md-datepicker ng-model="refereeDateBirth" md-placeholder="Ingreso fecha"></md-datepicker>
                    </div>
                    <div class="col-md-4">
                        <h5>Sede juramentación</h5>
                        <select class="backgroundInput form-control" ng-model="selectHeadquar" ng-options="mun as mun.address for mun in listHeadquarters" required></select>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="col-md-4" ng-init="showNotify = false">
                        <h5>Notificaciones: <button ng-show="showNotify" class="btn btn-success btn-xs" ng-click="showNotify = false">Agregar</button>
                        <button ng-hide="showNotify" class="btn btn-warning btn-xs" ng-click="showNotify = true">Ocultar</button></h5>
                        <input ng-hide="showNotify" ng-model="refereeNotify" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-8">
                        <h5>Pendientes</h5>
                        <textarea ng-model="refereeRemark" cols="15" rows="5" class="form-control"></textarea>
                    </div>

                    

                    <div class="col-md-4">
                        <br />
                        <br />
                        <button ng-click="addReferee()" ng-hide="showRevert" ng-disabled="!formreferee.$valid" class="btn btn-success">Crear Colegiado</button>
                        <button ng-click="updateReferee()" ng-show="showRevert" ng-disabled="!formreferee.$valid" class="btn btn-warning">Utilizar Colegiado</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
    <br />
    <br />
</div>

