﻿
@{
    ViewBag.Title = "NotReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Referee/notRefereeController.js"></script>
}


<h2>No colegiado</h2>
<div class="container" ng-app="referee" ng-controller="notReferee" ng-init="setAuth()">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @if (ViewBag.nuevoNoColegiado || ViewBag.editarNoColegiado)
            {
            <form name="formnotreferee">
                <div class="col-md-4">
                    <h5>Nombre</h5>
                    <input class="form-control" ng-model="name" type="text" required/>
                </div>
                <div class="col-md-4">
                    <h5>Apellido</h5>
                    <input class="form-control" ng-model="lastname" type="text" />
                </div>
                <div class="col-md-4">
                    <h5>Nit</h5>
                    <input class="form-control" ng-model="nit" ng-pattern="regexNit" type="text" />
                </div>
                <div class="col-md-4">
                    <h5>Teléfono</h5>
                    <input class="form-control" ng-model="phone" ng-pattern="regexPhone" type="text" />
                </div>
                <div class="col-md-4">
                    <h5>Dirección</h5>
                    <input class="form-control" ng-model="address" type="text" />
                </div>
                <div class="col-md-4">
                    <h5>Observaciones</h5>
                    <input class="form-control" ng-model="remake" type="text" />
                </div>
                <div class="col-md-4">
                    <h5>Es afiliado</h5>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="afiliado" value="">Habilitar</label>
                </div>
                <div class="col-md-4">
                    <h5>Acciones</h5>
                    @if (ViewBag.nuevoNoColegiado)
                    {
                    <button ng-show="idUpdate == 0 || idUpdate == null" ng-disabled="!formnotreferee.$valid" ng-click="add()" class="btn btn-success">Agregar</button>
                    }
                    @if (ViewBag.editarNoColegiado)
                    {
                    <button ng-show="idUpdate > 0" ng-disabled="!formnotreferee.$valid" ng-click="update()" class="btn btn-info">Actualizar</button>
                    <button ng-show="idUpdate > 0" ng-click="idUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                    }
                </div>
            </form>
            }
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <h5>Filtro por nombre</h5>
            <input class="form-control" ng-model="search.totalName" type="text" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Nit</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Observaciones</th>
                            <th>Afiliado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listData  | filter:search">
                            <td>{{list.id}}</td>
                            <td>{{list.totalName}}</td>
                            <td>{{list.nit}}</td>
                            <td>{{list.movil}}</td>
                            <td>{{list.address}}</td>
                            <td>{{list.remark}}</td>
                            <td>{{list.isAfiliadoText}}</td>
                            <td>
                                @if (ViewBag.editarNoColegiado)
                                {
                                    <button ng-hide="showDelete" ng-click="showDataUpdate(list)" class="btn btn-default btn-xs">Actualizar</button>
                                }
                                @if (ViewBag.cashier && ViewBag.stateCash && ViewBag.ejecutarPago)
                                {
                                    <button ng-hide="showDelete" ng-disabled="list.isAfiliado == 1" ng-click="changeEconomic(list)" class="btn btn-success btn-xs">Pagos</button>
                                }
                                @if (ViewBag.eliminarNoColegiado)
                                {
                                    <button ng-show="showDelete" ng-click="delete(list)" class="btn btn-danger btn-xs">Eliminar</button>
                                    <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                    <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerRefereeAngular")