﻿@model webcee.ViewModels.PhotoModelView

@{
    ViewBag.Title = "Photo";
}

<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img class="img-responsive border-image-referee" width="350" height="350" src= "@Url.Content(Model.pathPhoto)" />
            </div>
        </div>
        <br />
        @if (ViewBag.status == true)
        {
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @using (Html.BeginForm("Photo", "Referre", FormMethod.Post,
              new { enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <label class="btn btn-primary" for="my-file-selector">
                                    <input id="my-file-selector" type="file" class="form-control" name="FileUpload1" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
                                    Cargar Imagen
                                </label>
                                <span class='label label-success' id="upload-file-info"></span>
                            </div>
                        
                            <div class="col-md-6">
                                <input type="submit" value="Guardar" class="btn btn-default" />
                            </div>
                            <div class="col-md-6">
                                <span class='label label-warning' id="upload-file-info">@ViewBag.message</span>
                            </div>
                        </div>

                        <div class="err">
                            @Html.ValidationSummary()
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h4>
                        <a href="#">@Html.ActionLink("Atras", "Index", "Referre")</a>
                    </h4>
                    <span class='label label-warning' id="upload-file-info">@ViewBag.message</span>
                </div>
            </div>
        }

        

    </div>
</div>

