﻿
@{
    ViewBag.Title = "SearchReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Referee/searchRefereeController.js"></script>
}

<h2>Busqueda avanzada</h2>
<div class="container" ng-app="referee" ng-controller="searchReferee" ng-init="setAuth()">
    <div class="row">
        <form name="formsearch">
            <div class="col-md-4">
                <h5>Primer nombre</h5>
                <input class="form-control" ng-model="firstName" type="text"/>
            </div>
            <div class="col-md-4">
                <h5>Segundo nombre</h5>
                <input class="form-control" ng-model="secoundName" type="text" />
            </div>
            <div class="col-md-4">
                <h5>Tercer nombre</h5>
                <input class="form-control" ng-model="thirdName" type="text" />
            </div>
            <div class="col-md-4">
                <h5>Primer apellido</h5>
                <input class="form-control" ng-model="lastName" type="text"/>
            </div>
            <div class="col-md-4">
                <h5>Segundo apellido</h5>
                <input class="form-control" ng-model="lastSecoundName" type="text" />
            </div>
            <div class="col-md-4">
                <h5>Apellido Casada</h5>
                <input class="form-control" ng-model="lastMariedName" type="text" />
            </div>
            <div class="col-md-4">
                <h5>Acción</h5>
                <button class="btn btn-success" ng-disabled="!formsearch.$valid" ng-click="getCol()">Buscar</button>
            </div>
        </form>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Primer nombre</th>
                            <th>Segundo nombre</th>
                            <th>Tercer nombre</th>
                            <th>Primer apellido</th>
                            <th>Segundo apellido</th>
                            <th>Apellido casada</th>
                            <th>DPI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listData  | filter:search">
                            <td>{{list.NoColegiado}}</td>
                            <td>{{list.PrimerNombre}}</td>
                            <td>{{list.SegundoNombre}}</td>
                            <td>{{list.TercerNombre}}</td>
                            <td>{{list.PrimerApellido}}</td>
                            <td>{{list.SegundoApellido}}</td>
                            <td>{{list.CasdaApellido}}</td>
                            <td>{{list.Dpi}}</td>
                            <td>
                              <button ng-hide="showDelete" ng-click="changeReferee(list.NoColegiado)" class="btn btn-success btn-xs">Buscar</button>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerRefereeAngular")
