﻿
@{
    ViewBag.Title = "Accounting";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/accountingController.js"></script>
}

<h2>Partida Contable</h2>
<br />
<div class="container" ng-app="payment" ng-controller="accounting" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h5>Seleccionar Tipo Partida Contable</h5>
                    <select class="form-control" ng-model="selectaccounttype" ng-change="searchAccount()" ng-options="acc as acc.description for acc in listTypeAccounting" required></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @if (ViewBag.nuevoPartidaCont || ViewBag.editarPartidaCont)
                    {
                    <form name="formaccount">
                        <div class="col-md-4">
                            <h5>Descripción</h5>
                            <input type="text" ng-model="accountdescription" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Accion</h5>
                            <input type="text" ng-model="accountaction" class="form-control" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <h5>Codigo</h5>
                            <input type="text" ng-model="accountkey" class="form-control" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <h5>Nombre</h5>
                            <input type="text" ng-model="accountname" class="form-control" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <h5>Posición</h5>
                            <input type="number" ng-model="accountposition" class="form-control" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <h5>Agrupar</h5>
                            <select class="form-control" ng-model="accountgroup">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                            <br />
                        </div>
                        <div class="col-md-12">
                            @if (ViewBag.nuevoPartidaCont)
                            {
                            <button ng-show="idAccountingUpdate == 0 || idAccountingUpdate == null" ng-disabled="!formaccount.$valid" ng-click="addAccounting()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarPartidaCont)
                            {
                            <button ng-show="idAccountingUpdate > 0" ng-disabled="!formaccount.$valid" ng-click="updateAccounting()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idAccountingUpdate > 0" ng-click="idAccountingUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Partida Contable</th>
                                    <th>Accion</th>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Posición</th>
                                    <th>Agrupado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listAccounting">
                                    <td>{{type.description}}</td>
                                    <td>{{type.action}}</td>
                                    <td>{{type.key}}</td>
                                    <td>{{type.name}}</td>
                                    <td>{{type.position}}</td>
                                    <td>{{((type.groupAccouting == 1) ? 'Si' : 'No')}}</td>
                                    <td>
                                        @if (ViewBag.editarPartidaCont)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarPartidaCont)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteAccounting(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerPayAngular")
