﻿
@{
    ViewBag.Title = "Cajero";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/cashierController.js"></script>
}

<h2>Cajero</h2>
<br />
<div class="container" ng-app="payment" ng-controller="cashier" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @if (ViewBag.nuevoCajero || ViewBag.editarCajero)
                    {
                    <form name="formcashier">
                        <div class="col-md-3">
                            <h5>Estado: {{changeActive(cashierstate)}}</h5>
                            <select class="form-control backgroundInput" ng-model="cashierselectstate">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <div class="col-md-3" ng-init="cashierinitHour = '00:00'">
                            <h5>Hora inicial </h5>
                            <input type="text" ng-model="cashierinitHour" ng-pattern="regexHour" class="form-control" required />
                            <h6>formato horas 24</h6>
                        </div>
                        <div class="col-md-3" ng-init="cashierfinalHour = '23:00'">
                            <h5>Hora final </h5>
                            <input type="text" ng-model="cashierfinalHour" ng-pattern="regexHour" class="form-control" required />
                            <h6>formato horas 24</h6>
                        </div>
                        <div class="col-md-3">
                            <h5>Nombre</h5>
                            <input type="text" ng-model="cashiername" class="form-control" required />
                        </div>
                        <div class="col-md-12">
                            @if (ViewBag.nuevoCajero)
                            {
                            <button ng-show="idUpdate == 0 || idUpdate == null" ng-disabled="!formcashier.$valid" ng-click="add()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarCajero)
                            {
                            <button ng-show="idUpdate > 0" ng-disabled="!formcashier.$valid" ng-click="update()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idUpdate > 0" ng-click="idUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </div>                        
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Estado</th>
                                    <th>Hora Inicial</th>
                                    <th>Hora Final</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listData">
                                    <td>{{changeActive(list.active)}}</td>
                                    <td>{{list.initHour}}</td>
                                    <td>{{list.finalHour}}</td>
                                    <td>{{list.name}}</td>
                                    <td>
                                        @if (ViewBag.editarCajero)
                                        {
                                            <button ng-hide="showDelete" ng-click="showDataUpdate(list)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarCajero)
                                        {
                                            <button ng-show="showDelete" ng-click="delete(list)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerPayAngular")

