﻿
@{
    ViewBag.Title = "DepositSlip";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/depositSlipController.js"></script>
}

<h2>Interfaz contable</h2>
<div class="container"  ng-app="payment" ng-controller="depositSlip" ng-init="setAuth()">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h3>Id Interfaz: {{noDepositSlip}}</h3>
            </div>
            <div class="col-md-4">
                <input class="form-control" ng-model="searchNoDeposit" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-success" ng-click="getNumerDeposit()">Buscar Interfaz</button>
            </div>
        </div>
        <form name="formdeposit">
            <div class="row">
                <div class="col-md-4">
                    <h5>Cajero</h5>
                    @if (ViewBag.verReporteGeneral)
                    {
                        <select class="form-control" ng-model="cashierDeposit" ng-options="lis as lis.name for lis in listDataCashier | filter:{ active : checkboxModel.value }" required></select>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="1" ng-false-value="">Filtrar</label>
                    }
                    else
                    {
                        <select ng-init="setCashier(@ViewBag.idCashier)" class="form-control" ng-model="cashierDeposit" ng-options="lis as lis.name for lis in listDataCashier | filter: { id : @ViewBag.idCashier } : identical" required></select>
                    }
                </div>
                <div class="col-md-4">
                    <h5>Cuenta bancaria</h5>
                    <select class="form-control" ng-model="bankDeposit" ng-options="lis as (lis.bank + ' ' + lis.NoAccount + ' ' + lis.name) for lis in listDataBank" required></select>
                </div>
                <div class="col-md-4">
                    <h5>Boleta</h5>
                    <input class="form-control" ng-model="boletaDeposit" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h5>Fecha inicio</h5>
                    <md-datepicker ng-model="dateDeposit" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                </div>
                <div class="col-md-3">
                    <h5>Fecha finailizacion</h5>
                    <md-datepicker ng-model="dateDepositR" md-placeholder="Ingreso fecha" ng-required="false"></md-datepicker>
                </div>
                <div class="col-md-2">
                    <h5>Acciones</h5>
                    <button class="btn btn-primary" ng-disabled="!formdeposit.$valid" ng-click="getListAccounts()">Buscar</button>
                </div>
                <div class="col-md-4">
                    <h5>Guardar Cambios</h5>
                    <button class="btn btn-success" ng-disabled="!formdeposit.$valid" ng-click="sabeChange()">Guardar</button>
                    <button class="btn btn-danger" ng-show="idDeposit > 0" ng-disabled="!formdeposit.$valid" ng-click="deteleDeposit()">Eliminar</button>
                    <a class="btn btn-primary" ng-show="idDeposit > 0" ng-href="DocumentAccouting/{{idDeposit}}" target="_blank">Doumento</a>
                </div>
            </div>
            <div class="col-md-4">
                <h4>{{statusDeposit}}</h4>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Listado del cajero: {{cashierDeposit.name}}</h5>
            <select class="form-control" ng-model="cashierAllDeposit" ng-change="selectBoleta()" ng-options="lis as lis.boleta for lis in listDataForCashier" required></select>
        </div>
        <div class="col-md-2">
            <h5>Acciones</h5>
            <button class="btn btn-success" ng-click="getForCashier()">Buscar</button>
        </div>
    </div>
    <div class="row"><hr /></div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-8">
                <h4>Sin asignar</h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-warning btn-xs" ng-click="addAllListNoNull()">Seleccionar todo</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-8">
                <h4>Asignado: {{dateDeposit | date :  "dd/MM/yyyy" }}</h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-warning btn-xs" ng-click="removeAllListNoNull()">Remover todo</button>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Recibo</th>
                            <th>Nombre recibo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="type in listDataNulls">
                            <td>{{type.DCo_NoRecibo}}</td>
                            <td>{{type.nombre}}</td>
                            <td>
                                <button ng-click="addListNoNull(type)" class="btn btn-primary btn-xs">Agregar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Recibo</th>
                            <th>Nombre recibo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="type in listDataNoNull">
                            <td>{{type.DCo_NoRecibo}}</td>
                            <td>{{type.nombre}}</td>
                            <td>
                                <button ng-click="removeListNoNull(type)" class="btn btn-danger btn-xs">Quitar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerPayAngular")

