﻿
@{
    ViewBag.Title = "EconomicNotReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/economicNotReferee.js"></script>
}

<h2>Pagos No Colegiados</h2>

<div ng-app="payment" ng-controller="economicNotReferee" ng-init="defineDocument(@ViewBag.receipt)">
    <div class="container" ng-init="setAuth(@ViewBag.idCahier)">
        <div class="row">
            <div class="col-md-12">
                <h4>NO COLEGIADO: {{idreferee + ' - ' +completeNameReferee}}</h4>
            </div>
        </div>
        <div ng-show="visiblePay == 2" class="row">
            <form name="formpay">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <h5>Monto</h5>
                        <input type="text" class="form-control" ng-model="amountpay" disabled />
                    </div>
                    <div class="col-md-3">
                        <h5>Observaciones</h5>
                        <input type="text" class="form-control" ng-model="remakepay" />
                    </div>
                    <div class="col-md-6">
                        <h5>Acciones</h5>
                        <button class="btn btn-success" ng-disabled="!formpay.$valid || aumontoPaymentMethod != 0" ng-hide="showPayTimbre" ng-click="generatePay(@ViewBag.idCahier, @ViewBag.idCash)">Pagar</button>
                        <button class="btn btn-danger" ng-click="reloadPay()" ng-hide="showPayTimbre">Cancelar</button>
                        <br />
                        <br />
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <h5>Agregar medio de pago</h5>
                    <h5>Total a generar: {{aumontoPaymentMethod | number:2}}</h5>
                </div>
                <form name="formPaymentMethod">
                    <div class="row">

                        <div class="col-md-3">
                            <h5>Monto {{alertamountPayment}}</h5>
                            <input type="text" class="form-control" ng-model="amountpayMethod" ng-pattern="regexAmount" required />
                        </div>
                        <div class="col-md-9" ng-init="radioPaymentMethod = '0'">
                            <h5>Seleccionar medio pago</h5>
                            <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="0" name="optradio">Efectivo</label>
                            <label class="radio-inline"><input type="radio" ng-change="clearMethodPay(); selectReservation = '1'" ng-model="radioPaymentMethod" value="1" name="optradio">Cheque</label>
                            <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="2" name="optradio">Transferencia</label>
                            <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="3" name="optradio">Tarjeta Credito</label>
                            <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="4" name="optradio">Tarjeta Debito</label>
                            @*<label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="5" name="optradio">Lote Institucional</label>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" ng-show="radioPaymentMethod >= 2">
                            <h5>Número de transacción</h5>
                            <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayTrans" ng-required="radioPaymentMethod >= 2" />
                        </div>
                        <div class="col-md-3" ng-show="radioPaymentMethod == 1">
                            <h5>Número de documento</h5>
                            <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayDoc" ng-required="radioPaymentMethod == 1" />
                        </div>
                        @*<div class="col-md-3" ng-show="radioPaymentMethod == 1">
                            <h5>Reserva</h5>
                            <select ng-model="selectReservation" class="form-control">
                                <option value="">No seleccion</option>
                                <option value="0">Sin reserva</option>
                                <option selected value="1">En reserva</option>
                            </select>
                        </div>*@
                        <div class="col-md-3" ng-show="radioPaymentMethod != 0">
                            <h5>Observaciones</h5>
                            <input type="text" class="form-control" ng-model="remakepayMothod" />
                        </div>
                        <div class="col-md-3" ng-show="radioPaymentMethod != 0">
                            <h5>Banco</h5>
                            <select class="form-control" ng-model="selectIssuingBank" ng-options="lis as lis.name for lis in listIssuingBank" ng-required="radioPaymentMethod != 0"></select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br />
                        <button class="btn btn-success" ng-click="addListMethod()" ng-disabled="!formPaymentMethod.$valid" ng-show="radioPaymentMethod != 0">Agregar medio de pago</button>
                        <button class="btn btn-success" ng-click="addListMethodCash()" ng-disabled="!formPaymentMethod.$valid" ng-show="radioPaymentMethod == 0">Agregar Medio de pago efectivo</button>
                        <button class="btn btn-success" ng-click="addListMethodZero()" ng-disabled="!formPaymentMethod.$valid">Agregar pago con cero</button>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Monto</th>
                                    <th>No. Trans.</th>
                                    <th>No. Doc</th>
                                    <th>Reserva</th>
                                    <th>Rechazado</th>
                                    <th>Observaciones</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listPaymentMethodPay">
                                    <td>{{list.amount | number:2}}</td>
                                    <td>{{list.noTransaction}}</td>
                                    <td>{{list.noDocument}}</td>
                                    <td>{{changeReservation(list.reservation)}}</td>
                                    <td>{{changeRejection(list.rejection)}}</td>
                                    <td>{{list.remarke}}</td>
                                    <td>
                                        <button ng-click="deleteListMethod(list)" class="btn btn-danger btn-xs">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="visiblePay == 1">
            <div class="col-md-12">
                <h3>Monto: {{totalPaymentTimbre | currency:"QTZ Q."}}</h3><h4>Seleccionado: {{amountSelectTimbre}}</h4>
            </div>
            <form name="formtimbre">
                <div class="col-md-12" ng-repeat="row in itemsTimbre track by $index">
                    <div class="col-md-3">
                        <h4>Denominación: {{row.name}}</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-blur="getTimbres(@ViewBag.idCahier, row.nameInput, row.id, $index)" class="form-control" ng-pattern="regexNumber" ng-model="row.nameInput" />
                    </div>
                    <div class="col-md-6">
                        <h6>{{row.textDemand}}</h6>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="separador-30"></div>
                    <div class="col-md-3 col-md-offset-3">
                        <button class="btn btn-warning" ng-disabled="!formtimbre.$valid" ng-click="verifyPayTimbre()">Evaluar Costos</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success" ng-show="enableTimbre" ng-disabled="!formtimbre.$valid" ng-click="viewPay()">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="visiblePay == 0" class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-xs" ng-click="viewVariable = true">Agregar cargo variable</button>
                </div>
                <div class="col-md-4">
                    <select class="form-control" ng-model="listTypeOff" ng-options="eco as eco.description for eco in listTypeEconomicOff"></select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info" ng-click="addEconomic()">Agregar</button>
                </div>
            </div>
            <div class="col-md-4">
                <h4 ng-show="idPay != 0">Total a pagar: {{(credit + moraAprox)  | currency:"QTZ Q."}}</h4>
                @*<h5 ng-show="idPay != 0">Monto: {{evaluateAproxMora(credit) | currency:"QTZ Q."}}</h5>
                <h5 ng-show="idPay != 0">Extra: {{moraAprox | currency:"QTZ Q."}}</h5>*@
            </div>
        </div>
        <div class="row" ng-show="visiblePay == 0 && viewDues == true">
            <form name="formdues">
                <div class="col-md-2"></div>
                <div class="col-md-8    ">
                    <div class="col-md-4">
                        <h5>Cant. Col.</h5>
                        <input class="form-control" ng-model="duesCol" placeholder="Cantidad" required />
                    </div>
                    <div class="col-md-4">
                        <h5>Cant. Tim.</h5>
                        <input class="form-control" ng-model="duesTim" placeholder="Cantidad" required />
                    </div>
                    <div class="col-md-4">
                        <h5>Evaluar Costos</h5>
                        <button class="btn btn-info" ng-click="getDues()" ng-disabled="!formdues.$valid">Evaluar</button>
                    </div>
                    <div class="col-md-4">
                        <h5>Monto Colegiado</h5>
                        <h5>{{duesTextCol | currency:"Q."}}</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Monto Timbre</h5>
                        <h5>{{duesTextTim | currency:"Q."}}</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Aceptar pago</h5>
                        <button class="btn btn-success" ng-disabled="!formdues.$valid" ng-click="addDues()">Aceptar</button>
                        <button class="btn btn-danger" ng-click="viewDues = false">Cancelar</button>
                    </div>
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
            </form>
        </div>
        <div class="row" ng-show="visiblePay == 0 && viewVariable == true">
            <form name="formvariable">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-8">
                        <h5>Monto</h5>
                        <input class="form-control" ng-model="amountEconomicVariable" ng-pattern="regexAmount" placeholder="Monto" required />
                    </div>
                    <div class="col-md-4">
                        <h5>Aceptar</h5>
                        <button class="btn btn-info" ng-click="addEconomicVariable()" ng-disabled="!formvariable.$valid">Agregar variable</button>
                        <button class="btn btn-warning" ng-click="viewVariable = false">Cancelar</button>
                    </div>
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="visiblePay == 0" class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Pagos Otros
                                        </a>
                                    </h4>
                                    <h5>
                                        Total a pagar: {{totalOther | currency:"Q."}}
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <button class="btn btn-default btn-xs btn-block" ng-click="sumCurrentList(3)">Seleccionar todo</button>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-danger btn-xs btn-block" ng-click="subCurrentList(3)">Deseleccionar todo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tipo de cargo</th>
                                            <th>Valor</th>
                                            <th ng-show="idPay != 0">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="economic in listEconomic | filter:{ typeEconomic: 3 }">
                                            <td>{{economic.description}}</td>
                                            <td>{{economic.amount  | currency:"Q."}}</td>
                                            @if (ViewBag.editarMontoEcono)
                                            {
                                                <td><input class="form-control" ng-pattern="regexAmount" ng-model="economic.changeAmount" ng-disabled="economic.enable == 1" /></td>
                                            }
                                            <td ng-show="idPay != 0">
                                                <button ng-show="economic.enable == 0" ng-click="cancelPay = true;economic.idPay = idPay; sumCurrent(economic)" class="btn btn-success btn-xs">Pagar</button>
                                                <button ng-show="economic.enable == 1" ng-click="cancelPay = false; subCurrent(economic)" class="btn btn-warning btn-xs">Cancelar</button>
                                                @if (ViewBag.editarMontoEcono)
                                                {
                                                    <button ng-show="economic.enable == 0" ng-click="editEconomic(economic, economic.changeAmount)"  ng-disabled="economic.changeAmount == null || economic.changeAmount == '' " class="btn btn-info btn-xs">Editar</button>
                                                }
                                                <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-warning btn-xs">Eliminar</button>
                                                <button ng-show="showDelete" ng-click="deleteEconomic(economic, $index)" class="btn btn-danger btn-xs">Eliminar</button>
                                                <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-6">
                    <button class="btn btn-info" ng-click="viewtimbre()">Generar Pago</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="visiblePay == 3">
            <div class="col-md-12">
                <h3>Imprimir recibo</h3>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>No. recibo</h4>
                            <input class="form-control" ng-model="reciColegiado" />
                        </div>
                        <div class="col-md-3" ng-show="butonDocs">
                            <h5>Generar Documentos</h5>
                            <button class="btn btn-success btn-block" ng-click="addReceipt(1, @ViewBag.idCahier)">Generar</button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3" ng-repeat="document in listDocumentPrint">
                                <a class="btn btn-primary btn-block" ng-href="{{document.direccion}}" target="_blank">{{document.title}}</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <br />
                    <button class="btn btn-danger" ng-click="reloadPay()">Salir</button>
                    @if (ViewBag.ejecutarListadoDoc)
                    {
                    <button class="btn btn-success" ng-show="showListDocs" ng-click="changeToDocs()">Imprimir listado de documentos</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerPayAngular")