﻿
@{
    ViewBag.Title = "IncompletePayment";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/incompletePaymentController.js"></script>
}

<h2>Recibos no generados por cajero</h2>
<div class="container" ng-app="payment" ng-controller="incompletePayment" ng-init="init()">
    <div class="row">
        <div class="row">
            <form name="form">
                <div class="col-md-3">
                    <h5>Fecha Inicio</h5>
                    <md-datepicker ng-model="inDateI" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                </div>
                <div class="col-md-3">
                    <h5>Cajero</h5>
                    @if (ViewBag.verReporteGeneral)
                    {
                        <select class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ active : checkboxModel.value }" required></select>
                        <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="1" ng-false-value="">Filtrar</label>
                    }
                    else
                    {
                        <select class="form-control" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier | filter:{ id : @ViewBag.idCashier }:identical" required></select>
                    }

                </div>
                <div class="col-md-3">
                    <br />
                    <br />
                    <button ng-disabled="!form.$valid" ng-click="search()" class="btn btn-success">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-show="recover != null">
        <div class="container">
            <div class="row">
                <form name="formaccount">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <h4>Numero de colegiado</h4>
                        <input type="text" ng-model="idReceipt" class="form-control" required />
                    </div>
                    <div class="col-md-3">
                        <h4>Acción</h4>
                        <button class="btn btn-success" ng-click="addReceipt()">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" ng-repeat="document in listDocumentPrint">
                        <a class="btn btn-primary btn-block" ng-href="{{document.direccion}}" target="_blank">{{document.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Colegiado</th>
                            <th>Monto</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listIncomplete">
                            <td>{{list.referee}}</td>
                            <td>{{list.amount | currency:"QTZ Q."}}</td>
                            <td>
                                <button class="btn btn-default btn-xs" ng-click="setRecover(list)">Ir a crear recibo del colegiado</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerPayAngular")
