﻿
@{
    ViewBag.Title = "Banco Emisor";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/issuingBankController.js"></script>
}

<h2>Banco emisor</h2>
<br />
<div class="container" ng-app="payment" ng-controller="issuingBank" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @if (ViewBag.nuevoBanco || ViewBag.editarBanco)
                    {
                    <form name="form">
                        <div class="col-md-4">
                            <h5>Nombre</h5>
                            <input type="text" ng-model="issuingname" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Dirección</h5>
                            <input type="text" ng-model="issuingaddress" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Telefono</h5>
                            <input type="text" ng-pattern="REGEX_PHONE" ng-model="issuingphone" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Servicio</h5>
                            <input type="text" ng-model="issuingservice" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Tipo de Institucion: {{defineInstitution(issuingintitution)}}</h5>
                            <select ng-model="issuingintitutionselect" class="form-control backgroundInput">
                                <option value="0">Banco</option>
                                <option value="1">Tarjeta</option>
                                <option value="2">Cooperativa</option>
                                <option value="3">Otro</option>
                            </select>
                            <br />
                        </div>
                        <div class="col-md-12">
                            @if (ViewBag.nuevoBanco)
                            {
                            <button ng-show="idUpdate == 0 || idUpdate == null" ng-disabled="!form.$valid" ng-click="add()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarBanco)
                            {
                            <button ng-show="idUpdate > 0" ng-disabled="!form.$valid" ng-click="update()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idUpdate > 0" ng-click="idUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Telefono</th>
                                    <th>Servicio</th>
                                    <th>Tipo de Institucion</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listData">
                                    <td>{{type.name}}</td>
                                    <td>{{type.address}}</td>
                                    <td>{{type.phone}}</td>
                                    <td>{{type.service}}</td>
                                    <td>{{defineInstitution(type.typeInstitution)}}</td>
                                    <td>
                                        @if (ViewBag.editarBanco)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarBanco)
                                        {
                                            <button ng-show="showDelete" ng-click="delete(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerPayAngular")

