﻿
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}



@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/payController.js"></script>
}




<h2>Pay</h2>
<div ng-app="payment" ng-controller="pay">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>IdReferee</h5>
                <input class="form-control" type="text" ng-model="idReferee" />
            </div>
            <div class="col-md-4">
                <h5>Monto</h5>
                <input type="text" class="form-control" />
            </div>
            <div class="col-md-4">
                <h5>Observaciones</h5>
                <input type="text" class="form-control" />
            </div>
            <div class="col-md-4">
                <br />
                <br />
                <button class="btn btn-success">Generar Pago</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerPayAngular")

