﻿
@{
    ViewBag.Title = "Medio de pago documentos";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}


@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/paymentMethodPayController.js"></script>
}

<h2>Medios de pago documentos</h2>
<br />
<div class="container" ng-app="payment" ng-controller="paymentMethodPay" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row" ng-hide="viewData">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form name="formdocument">
                        <div class="col-md-12">
                            <h5>No Documento</h5>
                            <input type="text" ng-model="noDocument" class="form-control" required />
                            <br />
                        </div>
                        <div class="col-md-12">
                            <button ng-click="get()" ng-disabled="!formdocument.$valid" class="btn btn-success">Obtener</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" ng-show="viewData">
                <div class="col-md-4">
                    <h4>Monto: {{amount | currency:"QTZ Q."}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>No. Documento: {{document}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>No. Transaccion: {{noTrans}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>No. de Cajero {{casher}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>Nombre Caja: {{cash}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>Tipo de medio de pago: {{changeType(typeMethod)}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>Banco: {{bank}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>Fecha: {{dateAmount | date:"MM/dd/yyyy ' ' h:mma"}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>Rechazo: {{changeRejection(rejection)}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>Reserva: {{changeReservation(reservation)}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>Observaciones: {{remarke}}</h4>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-warning" ng-click="cancelData()">Cancelar</button>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container" ng-hide="viewData">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Monto</th>
                                    <th>No. Doc.</th>
                                    <th>No. Trans</th>
                                    <th>Rechazo</th>
                                    <th>Reserva</th>
                                    <th>Fecha</th>
                                    <th>Tipo medio de pago</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listData">
                                    <td>{{list.amount | number:2 }}</td>
                                    <td>{{list.noDocument}}</td>
                                    <td>{{list.noTransaction}}</td>
                                    <td>{{changeRejection(list.rejection)}}</td>
                                    <td>{{changeReservation(list.reservation)}}</td>
                                    <td>{{list.date | date:"MM/dd/yyyy ' ' h:mma"}}</td>
                                    <td>{{changeType(list.typePaymentMethod)}}</td>
                                    <td>
                                        <button ng-click="showData(list)" class="btn btn-info btn-xs">Ver</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerPayAngular")





