﻿
@{
    ViewBag.Title = "Medio de pago";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/paymentMethodController.js"></script>
}

<h2>Medio de Pago</h2>
<br />
<div class="container" ng-app="payment" ng-controller="paymentMethod" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    @if (ViewBag.nuevoMedioPago || ViewBag.editarMedioPago)
                    {
                    <form name="formcashier">
                        <div class="col-md-6">
                            <h5>Tipo medio de pago: {{changeType(typeMethod)}}</h5>
                            <select class="form-control" ng-model="selectTypeMethod" ng-change="getDepartament()" ng-options="lis as lis.text for lis in listTypeMethod"></select>
                        </div>
                        <div class="col-md-6">
                            <h5>Descripcion </h5>
                            <input type="text" ng-model="description" class="form-control" required/>
                            <br />
                        </div>
                        <div class="col-md-12">
                            @if (ViewBag.nuevoMedioPago)
                            {
                            <button ng-show="idUpdate == 0 || idUpdate == null" ng-disabled="!formcashier.$valid" ng-click="add()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarMedioPago)
                            {
                            <button ng-show="idUpdate > 0" ng-disabled="!formcashier.$valid" ng-click="update()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idUpdate > 0" ng-click="idUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </div>

                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Tipo medio de pago</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listData">
                                    <td>{{list.description}}</td>
                                    <td>{{changeType(list.typeMethod)}}</td>
                                    <td>
                                        @if (ViewBag.editarMedioPago)
                                        {
                                            <button ng-hide="showDelete" ng-click="showDataUpdate(list)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarMedioPago)
                                        {
                                            <button ng-show="showDelete" ng-click="delete(list)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerPayAngular")

