﻿
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/receiptController.js"></script>
}

<h2>Recibos</h2>
<br />
<div class="container" ng-app="payment" ng-controller="receipt" ng-init="setAuth()">
    <div class="row" ng-show="idReceipt == 0">
        <div class="container">
            @if (ViewBag.buscarRecibo || ViewBag.editarRecibo)
            {
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form name="formaccount">
                        <h4>Numero de recibo</h4>
                        <input type="text" ng-model="numberreceipt" class="form-control" required />
                        <h6>Para búsqueda de archivos especiales por planilla, comenzar con el signo de $ seguido del número de recibo</h6>
                        <br />
                        <button class="btn btn-default" ng-click="getReceipt()">Buscar</button>
                    </form>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="row" ng-show="idReceipt == 0">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>A nombre</th>
                            <th>Fecha</th>
                            <th>Imprimir</th>
                            <th>Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listDataReceipt">
                            <td>{{list.name}}</td>
                            <td>{{list.date  | date:"dd/MM/yyyy"}}</td>
                            <td>
                                @if (ViewBag.imprimirRecibo)
                                {
                                <a class="btn btn-default btn-xs" ng-href="{{list.direction}}" target="_blank">Imprimir</a>
                                }
                            </td>
                            <td>
                                @if (ViewBag.editarRecibo)
                                {
                                <button class="btn btn-warning btn-xs" ng-click="getOnlyReceipt(list)">Ver informacion</button>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    @if (ViewBag.editarRecibo)
    {
    <div class="row" ng-show="idReceipt > 0">
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button class="btn btn-warning" ng-click="idReceipt = 0; idRever = 0">Regresar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Nombre</h5>
                <h4>{{nameReceipt}}</h4>
            </div>
            <div class="col-md-2">
                <h5>Fecha</h5>
                <h4>{{dateReceipt | date:"dd/MM/yyyy"}}</h4>
            </div>
            @if (ViewBag.imprimirRecibo)
            {
            <div class="col-md-2">
                <h5>Ver recibo</h5>
                <a ng-href="{{dirReceipt}}" target="_blank">Imprimir recibo</a>
            </div>
            }
            <div class="col-md-2">
                <h5>Recibo revertido</h5>
                <h4>{{revert}}</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <h5>Nuevo No. recibo</h5>
                <input type="text" ng-model="newreceipt" class="form-control" />
            </div>
            <div class="col-md-6">
                <h5>Acciones</h5>
                <button class="btn btn-warning btn-block" ng-click="updateReciber()" ng-disabled="newreceipt == null || newreceipt == ''">Actualizar No. Recibo</button>
            </div>
            <div class="col-md-6">
                <h5>Nueva Fecha</h5>
                <md-datepicker ng-model="datereceipt" md-placeholder="Ingreso fecha"></md-datepicker>
            </div>
            <div class="col-md-6">
                <h5>Nuevo recibo</h5>
                <button class="btn btn-warning btn-block" ng-click="updateReciber()" ng-disabled="datereceipt == null || datereceipt == ''">Actualizar Fecha</button>
            </div>
        </div>

       
        @if (ViewBag.verEditarMedioPagoRecibo) {
        <div class="col-md-3">
            <h5>Acciones</h5>
            <button class="btn btn-warning" ng-click="getMethodPay()" ng-disabled="">Metodos de pago</button>
        </div>
        }
        @if (ViewBag.revertirRecibo)
        {
        <div class="col-md-3">
            <h5>Acciones</h5>
            <button class="btn btn-danger" ng-click="idRever = 1">Revertir pago</button>
        </div>
        }
        <div class="col-md-3">
            <h4>{{statusReceipt}}</h4>
        </div>
    </div>
    }
    <br />
    <br />
    @if (ViewBag.revertirRecibo)
    {
    <div class="row" ng-show="idRever == 1">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="bg-danger">Advertencia! al eliminar el pago del recibo o anular recibo, se revertirá todos los cargos generados por este recibo u otros relacionados.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button class="btn btn-danger btn-block" ng-click="deletePay(1)">Anular pago</button>
                <button class="btn btn-danger btn-block" ng-click="deletePay(2)">Eliminar recibo</button>
                <button class="btn btn-info btn-block" ng-click="idRever = 0">Cancelar</button>
            </div>
        </div>
    </div>
    }
    @if (ViewBag.verEditarMedioPagoRecibo)
    {
    <div class="row" ng-show="idRever == 2">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Monto</th>
                                <th>Banco</th>
                                <th>Documento</th>
                                <th>Transacción</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in listMethod">
                                <td>{{list.description}}</td>
                                <td>{{list.amount}}</td>
                                <td>{{list.bank}}</td>
                                <td>{{list.document}}</td>
                                <td>{{list.transaction}}</td>
                                <td><button class="btn btn-warning btn-xs" ng-click="deleteMethod(list)">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="row">
                    <br />
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success" ng-disabled="aumontoPaymentMethod != 0" ng-click="addMethodPay()">Aplicar medio de pago</button>
                        <button class="btn btn-danger" ng-click="idRever = 0">Cancelar</button>
                        <button class="btn btn-warning" ng-click="reCreateReceipt()">Crear nuevo recibo</button>
                        <h5>Agregar medio de pago</h5>
                        <h5>Total a generar: {{aumontoPaymentMethod | number:2}}</h5>
                        
                    </div>
                    <form name="formPaymentMethod">
                        <div class="row">

                            <div class="col-md-3">
                                <h5>Monto{{alertamountPayment}}</h5>
                                <input type="text" class="form-control" ng-model="amountpayMethod" ng-pattern="regexAmount" required />
                            </div>
                            <div class="col-md-9" ng-init="radioPaymentMethod = '0'">
                                <h5>Seleccionar medio pago</h5>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="0" name="optradio">Efectivo</label>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay(); selectReservation = '1'" ng-model="radioPaymentMethod" value="1" name="optradio">Cheque</label>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="2" name="optradio">Transferencia</label>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="3" name="optradio">Tarjeta Credito</label>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="4" name="optradio">Tarjeta Debito</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" ng-show="radioPaymentMethod >= 2">
                                <h5>Número de transacción</h5>
                                <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayTrans" ng-required="radioPaymentMethod >= 2" />
                            </div>
                            <div class="col-md-3" ng-show="radioPaymentMethod == 1">
                                <h5>Número de documento</h5>
                                <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayDoc" ng-required="radioPaymentMethod == 1" />
                            </div>
                            <div class="col-md-3" ng-show="radioPaymentMethod == 1" ng-init="selectReservation = 1">
                                @*<h5>Estatus</h5>
                                <select ng-model="selectReservation" class="form-control">
                                    <option value="">No seleccion</option>
                                    <option value="0">Sin reserva</option>
                                    <option selected value="1">En reserva</option>
                                </select>*@
                            </div>
                            <div class="col-md-3" ng-show="radioPaymentMethod != 0">
                                <h5>Observaciones</h5>
                                <input type="text" class="form-control" ng-model="remakepayMothod" />
                            </div>
                            <div class="col-md-3" ng-show="radioPaymentMethod != 0">
                                <h5>Banco</h5>
                                <select class="form-control" ng-model="selectIssuingBank" ng-options="lis as lis.name for lis in listBank" ng-required="radioPaymentMethod != 0"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <button class="btn btn-success" ng-click="addListMethod()" ng-disabled="!formPaymentMethod.$valid" ng-show="radioPaymentMethod != 0">Agregar medio de pago</button>
                            <button class="btn btn-success" ng-click="addListMethodCash()" ng-disabled="!formPaymentMethod.$valid" ng-show="radioPaymentMethod == 0">Agregar Medio de pago efectivo</button>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Monto</th>
                                        <th>No. Trans.</th>
                                        <th>No. Doc</th>
                                        <th>Estatus</th>
                                        <th>Rechazado</th>
                                        <th>Observaciones</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in listPaymentMethodPay">
                                        <td>{{list.amount | number:2}}</td>
                                        <td>{{list.noTransaction}}</td>
                                        <td>{{list.noDocument}}</td>
                                        <td>{{changeReservation(list.reservation)}}</td>
                                        <td>{{changeRejection(list.rejection)}}</td>
                                        <td>{{list.remarke}}</td>
                                        <td>
                                            <button ng-click="deleteListMethod(list)" class="btn btn-danger btn-xs">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
    
</div>
@Scripts.Render("~/bundles/containerPayAngular")