﻿
@{
    ViewBag.Title = "RecoverReceipt";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/recoverReceiptController.js"></script>
}

<h2>Recuperar recibos</h2>
<div class="container" ng-app="payment" ng-controller="recoverReceipt" ng-init="init()">
    <div class="row">
        <div class="container">
            <div class="row">
                <h4><span class="label label-danger">{{error}}</span></h4>
                <form name="formaccount">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <h4>Colegiado</h4>
                        <input type="text" ng-model="idReferee" class="form-control" required />
                    </div>
                    <div class="col-md-3">
                        <h4>Acción</h4>
                        <button class="btn btn-default" ng-click="getRecoverReceipt()">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" ng-show="recover != null">
        <div class="container">
            <div class="row">
                <form name="formaccount">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <h4>Numero de recibo</h4>
                        <input type="text" ng-model="idReceipt" class="form-control" required />
                    </div>
                    <div class="col-md-3">
                        <h4>Acción</h4>
                        <button class="btn btn-success" ng-click="addReceipt()">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" ng-repeat="document in listDocumentPrint">
                        <a class="btn btn-primary btn-block" ng-href="{{document.direccion}}" target="_blank">{{document.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Colegiado</th>
                            <th>Monto</th>
                            <th>fecha</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listT">
                            <td>{{list.referee}}</td>
                            <td>{{list.amount | currency:"QTZ Q."}}</td>
                            <td>{{list.datepay  | date:"dd/MM/yyyy"}}</td>
                            <td>
                                <button class="btn btn-default btn-xs" ng-click="setRecover(list)">Crear</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerPayAngular")

