﻿
@{
    ViewBag.Title = "ReportReceipt";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

<h2>ReportReceipt</h2>
<br />
<div class="container" ng-app="generals" ng-controller="university" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form name="formuniversity">
                        <input type="text" ng-model="universityname" class="form-control" required />
                        <br />
                        <button ng-show="idUniversidadUpdate == 0 || idUniversidadUpdate == null" ng-disabled="!formuniversity.$valid" ng-click="addUniversity()" class="btn btn-success">Agregar</button>
                            
                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerPayAngular")
