﻿
@{
    ViewBag.Title = "TypeEconomic";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/typeEconomicController.js"></script>
}

<h2>Cargo Economico</h2>
<div ng-app="payment" ng-controller="typeEconomic" ng-init="setAuth()">
    <div class="container">
        <div class="row">
            @if (ViewBag.nuevoCargoEcono || ViewBag.editarCargoEcono)
            {
            <form name="formtypeeconomic">
                <div class="col-md-4">
                    <h5>Descripcion</h5>
                    <input type="text" class="form-control" ng-model="descriptioneconimic" required />
                </div>
                <div class="col-md-4">
                    <h5>Tipo: {{typedebiteconimictext}}</h5>
                    <select class="form-control backgroundInput" ng-model="typedebiteconimic">
                        <option value="0">Debito</option>
                        <option value="1">Credito</option>
                    </select>
                </div>
                <div class="col-md-4" ng-init="percenteconimic= 0">
                    <h5>Procentaje</h5>
                    <input type="text" class="form-control" ng-model="percenteconimic" required />
                </div>
                <div class="col-md-4">
                    <h5>Valor</h5>
                    <input type="text" class="form-control" ng-model="valoreconimic" required />
                </div>
                <div class="col-md-4" ng-init="periodicityeconomic = '0'">
                    <h5>Periocidad: {{periodicityeconomictext}}</h5>
                    <select class="form-control backgroundInput" ng-model="periodicityeconomic">
                        <option value="0">Por demanda</option>
                        <option value="1">Mes</option>
                        <option value="2">Año</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <h5>Condicion de calculo</h5>
                    <input type="text" class="form-control" ng-model="calculationeconomic" />
                </div>
                <div class="col-md-4">
                    <h5>Habiliar pago</h5>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="enableeconomic" value="">Habilitar</label>
                </div>
                <div class="col-md-4">
                    <h5>Fecha de inicio de cobro: {{initeconomictext  | date:'dd/MM//yyyy'}}</h5>
                    <md-datepicker ng-model="initeconomic" md-placeholder="Ingreso fecha"></md-datepicker>
                </div>
                <div class="col-md-4">
                    <h5>Fecha de finalizacion: {{finaleconomictext  | date:'dd/MM//yyyy'}}</h5>
                    <md-datepicker ng-model="finaleconomic" md-placeholder="Ingreso fecha"></md-datepicker>
                </div>
                <div class="col-md-4">
                    <h5>Tipo Partida Contable</h5>
                    <select class="form-control backgroundInput" ng-model="selectaccounttype" ng-change="searchAccount()" ng-options="acc as acc.description for acc in listTypeAccounting"></select>
                </div>
                <div class="col-md-4">
                    <h5>Partida Contable: {{accounteconomic}}</h5>
                    <select class="form-control backgroundInput" ng-model="selectaccount" ng-options="acc as acc.description for acc in listAccounting"></select>
                </div>
                <div class="col-md-12">
                    <br />
                    @if (ViewBag.nuevoCargoEcono)
                    {
                    <button ng-show="idTypeEconomicUpdate == 0 || idTypeEconomicUpdate == null" ng-disabled="!formtypeeconomic.$valid" ng-click="addTypeEconomic()" class="btn btn-success">Agregar</button>
                    }
                    @if (ViewBag.editarCargoEcono)
                    {
                    <button ng-show="idTypeEconomicUpdate > 0" ng-disabled="!formtypeeconomic.$valid" ng-click="updateTypeEconomic()" class="btn btn-info">Actualizar</button>
                    <button ng-show="idTypeEconomicUpdate > 0" ng-click="idTypeEconomicUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                    }
                </div>
            </form>
            }
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descripcion</th>
                                <th>Valor</th>
                                <th>tipo</th>
                                <th>Porcentaje</th>
                                <th>Periocidad</th>
                                <th>Estatus</th>
                                <th>Condicion de calculo</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha finalizacion</th>
                                <th>Partida Contable</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="type in listTypeEconomic">
                                <td>{{type.id}}</td>
                                <td>{{type.description}}</td>
                                <td>{{type.valor | currency:"Q."}}</td>
                                <td>{{debitConvert(type.debit)}}</td>
                                <td>{{type.percent}}%</td>
                                <td>{{periodicityConvert(type.periodicity)}}</td>
                                <td>{{type.status}}</td>
                                <td>{{type.calculationCondition}}</td>
                                <td>{{type.initDate  | date:'dd/MM//yyyy'}}</td>
                                <td>{{type.finalyDate  | date:'dd/MM//yyyy'}}</td>
                                <td>{{type.nameAccouting}}</td>
                                <td>
                                    @if (ViewBag.editarCargoEcono)
                                    {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                    }
                                    @if (ViewBag.eliminarCargoEcono)
                                    {
                                        <button ng-show="showDelete" ng-click="deleteTypeEspecialty(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                        <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                        <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerPayAngular")