﻿
@{
    ViewBag.Title = "Tipo de partida";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/typeAccountingController.js"></script>
}

<h2>Tipo de partida</h2>
<br />
<div class="container" ng-app="payment" ng-controller="typeAccounting" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @if (ViewBag.nuevoTipoPartida || ViewBag.editarTipoPartida)
                    {
                    <form name="formaccount">
                        <h5>Tipo partida</h5>
                        <input type="text" ng-model="accountdescription" class="form-control" required />
                        <br />
                        @if (ViewBag.nuevoTipoPartida)
                        {
                        <button ng-show="idTypeAccountingUpdate == 0 || idTypeAccountingUpdate == null" ng-disabled="!formaccount.$valid" ng-click="addTypeAccounting()" class="btn btn-success">Agregar</button>
                        }
                        @if (ViewBag.editarTipoPartida)
                        {
                        <button ng-show="idTypeAccountingUpdate > 0" ng-disabled="!formaccount.$valid" ng-click="updateTypeAccounting()" class="btn btn-info">Actualizar</button>
                        <button ng-show="idTypeAccountingUpdate > 0" ng-click="idTypeAccountingUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                        }
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tipo Partida Contable</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listTypeAccounting">
                                    <td>{{type.description}}</td>
                                    <td>
                                        @if (ViewBag.editarTipoPartida)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarTipoPartida)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteTypeAccounting(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerPayAngular")