﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea {
    max-width: 90%;
}

.separador-30{
    height: 30px;
}

.separador-100{
    height: 100px;
}

.close-right{
    text-align: right;
}
.close-right > a{
    font-size: 20px;
    color: #c40303;
}

.close-right > a:hover{
    color: #fb4141;
}

.text-error-password{
    color: #c40303;
}

.ng-valid.ng-dirty{
    box-shadow: #39a52c;
	border-color: #39a52c;
}

.ng-invalid.ng-dirty{
    box-shadow: #E94141;
	border-color: #E94141;
}

.table-title{
    margin-bottom: 5px;
    margin-top: 5px;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}

.table-title > div{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.table-content{
    padding-bottom: 5px;
    margin-top: 8px;
    border-bottom: 1px solid #bbbbbb;
}

.table-content > div > button{
    margin-top: 5px;
    margin-bottom: 8px;
}

.table-edit{
    margin-bottom: 0px;
    padding-top: 10px;
    background-color: #dddddd;
    border-bottom: 1px solid #bbbbbb;
}

.table-row-edit{
    margin-bottom: 10px;
}

.emergente1{
  display: none;
}

.energente2{
  display: absolute;
}

.notify-event-content{
    width: 100%;
    min-height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0%;
    top: 1%;
}

.recuadro{
  background-color: #fff;
  position: absolute;
  border-radius: 10px;
  z-index: 9000;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 20%;
  text-align: center;
  box-shadow: 4px 4px 5px #000;
}

.recuadro-change{
  position: absolute;
  z-index: 9000;
  width: 100px;
  height: 100px;
  left: 40%;
  top: 40%;
  text-align: center;
}

.recuadro-change > img{
  width: 90px;
  height: 90px;
  left: 5px;
  top: 5px;
}

.aling-text-center-vertical{
    vertical-align: central;
}

.border-image-referee{
    border: 1px solid #bbbbbb;
}
.border-image-refereeActive{
    border: 3px solid #66cc00;
}
.border-image-refereeInactive{
    border: 3px solid #cc0000;
}

.border-image-referee:hover{
    border: 2px solid #8c96ff;
}

.border-image-refereeActive:hover{
    border: 1px solid #8c96ff;
}
.border-image-refereeInactive:hover{
    border: 1px solid #8c96ff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.maps{
    width: 400px;
    height: 400px;
}

.backgroundImg{
    opacity:.60;
}

.off_margin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.backgroundInput {
    background-color: rgba(135, 121, 213, 0.1);
}
input:required {
  background-color: rgba(135, 121, 213, 0.1);
}

@media(max-width:767px) {
    .table-content > div{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/**********************************************
**********  ESTILOS DEL MODAL INICIO **********
**********************************************/
	.modal-confirm {		
		color: #636363;
		/*width: 325px;*/
	}
	.modal-confirm .modal-content {
		padding: 15px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm .modal-header {
        padding-top: 15px;
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -5px;
	}
    .modal-confirm h5 {
		text-align: center;
		margin: 30px 0 -5px;
	}
	.modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}	
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
	}	
	.modal-confirm .icon-box {
		color: #fff;		
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #82ce34;
		padding: 15px;
		text-align: center;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.modal-confirm .icon-box i {
		font-size: 58px;
		position: relative;
		top: 3px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}
    .modal-confirm .btn {
        border-radius: 4px;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
        border: none;
    }
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #6fb32b;
		outline: none;
	}

/**********************************************
**********  ESTILOS DEL MODAL FIN *************
**********************************************/
