﻿

@{
    ViewBag.Title = "Index";
}

<div >
    <div class="separador-100"></div>
    <div class="container" >
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                @using (Html.BeginForm())
                {
                    <h4>Correo</h4>
                    @Html.TextBox("email", null, new { @class = "form-control", @placeholder = "Correo" })
                    <br />
                    <h4>Contraseña</h4>
                    @Html.Password("password", null, new { @class = "form-control", @placeholder = "Contraseña" })
                    <br />
                    <input type="submit" value="Ingresar" class="btn btn-primary" />
                }
                @Html.ActionLink("Recuperar contraseña", "Index", "Account")
            </div>
            <div class="col-md-3">
                <img src="~/images/logo.png" class="img-responsive" />
            </div>
        </div>
    </div>
    <h3>@ViewBag.titulo</h3>
    <div class="separador-100"></div>
</div>