﻿
@{
    ViewBag.Title = "Economic";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Payment/memberEconomicController.js"></script>
}


<h2>Pago de Cargos</h2>
<div ng-app="payment" ng-controller="memberEconomic" ng-init="defineDocument(@ViewBag.idReferee, @ViewBag.receipt)">
    <div class="container" ng-init="setAuth(@ViewBag.idCahier)">
        <div ng-show="visiblePay == 0" class="row">
            @*<div class="col-md-8">
                <h4>Total a pagar: {{amount | currency:"QTZ Q."}}</h4>
                <button ng-hide="visiblePay" class="btn btn-info" ng-click="visiblePay = true">Pagar</button>
            </div>*@
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-xs btn-block" ng-click="viewDues = true">Pagos anticipados</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-xs btn-block" ng-click="viewVariable = true">Aporte Extraordinario CP</button>
                    </div>
                    <div class="col-md-6">
                        <br />
                        <button class="btn btn-primary btn-xs btn-block" ng-click="viewConvenio = true">Agregar cargo convenio</button>
                    </div>
                    <div class="col-md-6">
                        <br />
                        <button class="btn btn-primary btn-xs btn-block" ng-click="viewVariableTP = true">Aporte Extraordinario TP</button>
                    </div>
                    <div class="col-md-6">

                            <br />
                            <button class="btn btn-default btn-xs btn-block" ng-click="chengeTimbre()">Complementos</button>

                    </div>


                </div>
                <div class="col-md-4">
                    <select class="form-control" ng-model="listTypeOff" ng-options="eco as eco.description for eco in listTypeEconomicOff"></select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info" ng-click="addEconomic()">Agregar</button>
                </div>
            </div>
            <div class="col-md-4">
                <h4 ng-show="idPay != 0">Total a pagar: {{(credit)  | currency:"QTZ Q."}}</h4>
                <h5>El pago puede variar por cuadre de timbre</h5>
                @*<h5 ng-show="idPay != 0">Monto: {{evaluateAproxMora(credit) | currency:"QTZ Q."}}</h5>*@
                @*<h5 ng-show="idPay != 0">Extra: {{moraAprox | currency:"QTZ Q."}}</h5>*@
            </div>
        </div>
        <div class="row" ng-show="visiblePay == 0 && viewDues == true">
            <form name="formdues">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        <h5>Fecha cuotas.</h5>
                        <md-datepicker ng-model="dateDues" md-placeholder="Ingreso fecha"></md-datepicker>
                    </div>
                    <div class="col-md-4">
                        <h5>Cuotas extras col.</h5>
                        <input class="form-control" ng-model="duesCol" placeholder="Cantidad" required />
                    </div>
                    <div class="col-md-4">
                        <h5>Cuotas extras tim.</h5>
                        <input class="form-control" ng-model="duesTim" placeholder="Cantidad" required />
                    </div>
                    <div class="col-md-4">
                        <h5>Evaluar Costos</h5>
                        <button class="btn btn-info" ng-click="getDues()" ng-disabled="!formdues.$valid">Evaluar</button>
                    </div>
                    <div class="col-md-4">
                        <h5>Monto Colegio</h5>
                        <h5>{{duesTextCol | currency:"Q."}}</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Monto Timbre</h5>
                        <h5>{{duesTextTim | currency:"Q."}}</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Aceptar pago</h5>
                        <button class="btn btn-success" ng-disabled="!formdues.$valid" ng-click="addDues()">Aceptar</button>
                        <button class="btn btn-danger" ng-click="viewDues = false">Cancelar</button>
                    </div>
                    <div class="col-md-4">
                        <span class="label label-warning">Al agregar cargos se reiniciaran todo lo seleccionado por seguridad del sistema</span>
                    </div>
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
            </form>
        </div>

        <div class="row" ng-show="visiblePay == 0 && viewVariable == true">
            <form name="formvariable">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-8">
                        <h5>Monto</h5>
                        <input class="form-control" ng-model="amountEconomicVariable" ng-pattern="regexAmount" placeholder="Monto" required />
                    </div>
                    <div class="col-md-4">
                        <h5>Aceptar</h5>
                        <button class="btn btn-info" ng-click="addEconomicVariable()" ng-disabled="!formvariable.$valid">Agregar variable</button>
                        <button class="btn btn-warning" ng-click="viewVariable = false">Cancelar</button>
                    </div>
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
            </form>
        </div>

        <div class="row" ng-show="visiblePay == 0 && viewVariableTP == true">
            <form name="formvariable">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-8">
                        <h5>Monto</h5>
                        <input class="form-control" ng-model="amountEconomicVariable" ng-pattern="regexAmountNegative" placeholder="Monto" required />
                    </div>
                    <div class="col-md-4">
                        <h5>Aceptar</h5>
                        <button class="btn btn-info" ng-click="addEconomicVariableTP()" ng-disabled="!formvariable.$valid">Agregar variable</button>
                        <button class="btn btn-warning" ng-click="viewVariableTP = false">Cancelar</button>
                    </div>
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
            </form>
        </div>

        <div class="row" ng-show="visiblePay == 0 && viewConvenio == true">
            <form name="formvconvenio">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-6">
                        <h5>Monto</h5>
                        <input class="form-control" ng-model="amountEconomicConvenio" ng-pattern="regexAmount" placeholder="Monto" required />
                    </div>
                    <div class="col-md-6">
                        <h5>Aceptar</h5>
                        <button class="btn btn-info" ng-click="addEconomicConvenio()" ng-disabled="!formvconvenio.$valid">Agregar convenio</button>
                        <button class="btn btn-warning" ng-click="viewConvenio = false">Cancelar</button>
                    </div>
                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
            </form>
        </div>

        <div ng-show="visiblePay == 0" class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Pagos Colegio | C: {{balanceDateReferee | date :  "dd/MM/yyyy"}}
                                        </a>
                                    </h4>
                                    <h5>
                                        Total a pagar: {{totalReferee | currency:"Q."}}
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <button class="btn btn-default btn-xs btn-block" ng-click="sumCurrentList(1)">Seleccionar todo</button>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-danger btn-xs btn-block" ng-click="subCurrentList(1)">Deseleccionar todo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tipo de cargo</th>
                                            <th>Valor</th>
                                            <th ng-show="idPay != 0">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="economic in listEconomic | filter:{ typeEconomic: 1 }">
                                            <td>{{economic.description}}</td>
                                            <td>{{economic.amount  | currency:"Q."}}</td>
                                            <td ng-show="idPay != 0">
                                                <button ng-show="economic.enable == 0" ng-click="cancelPay = true;economic.idPay = idPay; sumCurrent(economic)" class="btn btn-success btn-xs">Pagar</button>
                                                <button ng-show="economic.enable == 1" ng-click="cancelPay = false; subCurrent(economic)" class="btn btn-warning btn-xs">Cancelar</button>

                                                    <button ng-hide="showDelete || economic.enable == 1" ng-click="showDelete = true;" class="btn btn-default btn-xs">Eliminar</button>
                                                    <button ng-show="showDelete && economic.enable == 0" ng-click="deleteEconomic(economic, $index, 1)" class="btn btn-danger btn-xs">Eliminar</button>
                                                    <button ng-show="showDelete && economic.enable == 0" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Pagos Timbre | T: {{balanceDateTimbre | date :  "dd/MM/yyyy"}}
                                        </a>
                                    </h4>
                                    <h5>
                                        Total a pagar: {{totalTimbre | currency:"Q."}}
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <button class="btn btn-default btn-xs btn-block" ng-click="sumCurrentList(2)">Seleccionar todo</button>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-danger btn-xs btn-block" ng-click="subCurrentList(2)">Deseleccionar todo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tipo de cargo</th>
                                            <th>Valor</th>
                                            
                                                <th>Editar</th>
                                            
                                            <th ng-show="idPay != 0">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="economic in listEconomic | filter:{ typeEconomic: 2 } | orderBy:['orderDate','order']">
                                            <td>{{economic.description}}</td>
                                            <td>{{economic.amount  | currency:"Q."}}</td>
                                            
                                                <td><input class="form-control" ng-pattern="regexAmount" ng-model="economic.changeAmount" ng-disabled="economic.enable == 1" /></td>
                                            
                                            <td ng-show="idPay != 0">
                                                <button ng-show="economic.enable == 0" ng-click="cancelPay = true;economic.idPay = idPay; sumCurrent(economic)" class="btn btn-success btn-xs">Pagar</button>
                                                <button ng-show="economic.enable == 1" ng-click="cancelPay = false; subCurrent(economic)" class="btn btn-warning btn-xs">Cancelar</button>
                                                
                                                    <button ng-show="economic.enable == 0" ng-click="editEconomic(economic, economic.changeAmount)" ng-disabled="economic.changeAmount == null || economic.changeAmount == '' " class="btn btn-info btn-xs">Editar</button>
                                                
                                                    <button ng-hide="showDelete || economic.enable == 1" ng-click="showDelete = true;" class="btn btn-default btn-xs">Eliminar</button>
                                                    <button ng-show="showDelete && economic.enable == 0" ng-click="deleteEconomic(economic, $index, 2)" class="btn btn-danger btn-xs">Eliminar</button>
                                                    <button ng-show="showDelete && economic.enable == 0" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Pagos Otros
                                        </a>
                                    </h4>
                                    <h5>
                                        Total a pagar: {{totalOther | currency:"Q."}}
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <button class="btn btn-default btn-xs btn-block" ng-click="sumCurrentList(3)">Seleccionar todo</button>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-danger btn-xs btn-block" ng-click="subCurrentList(3)">Deseleccionar todo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tipo de cargo</th>
                                            <th>Valor</th>
                                            <th ng-show="idPay != 0">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="economic in listEconomic | filter:{ typeEconomic: 3 }">
                                            <td>{{economic.description}}</td>
                                            <td>{{economic.amount  | currency:"Q."}}</td>
                                            <td ng-show="idPay != 0">
                                                <button ng-show="economic.enable == 0" ng-click="cancelPay = true;economic.idPay = idPay; sumCurrent(economic)" class="btn btn-success btn-xs">Pagar</button>
                                                <button ng-show="economic.enable == 1" ng-click="cancelPay = false; subCurrent(economic)" class="btn btn-warning btn-xs">Cancelar</button>

                                                <button ng-hide="showDelete || economic.enable == 1" ng-click="showDelete = true;" class="btn btn-default btn-xs">Eliminar</button>
                                                <button ng-show="showDelete && economic.enable == 0" ng-click="deleteEconomic(economic, $index, 3)" class="btn btn-danger btn-xs">Eliminar</button>
                                                <button ng-show="showDelete && economic.enable == 0" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-6">
                    <button class="btn btn-info" ng-click="viewtimbre()">Generar Pago</button>
                </div>
            </div>
        </div>

    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerPayAngular")