﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/user.js"></script>
    <script src="~/Scripts/moduleAngular/constant/UserConstant.js"></script>
}

<h2>Details</h2>
<div ng-app="user">
    <div ng-controller="editUser">
        {{idUser="3"}}
        <div class="container">

        </div>
    </div>
</div>
