﻿
@{
    ViewBag.Title = "Files";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/user.js"></script>
    <script src="~/Scripts/moduleAngular/constant/UserConstant.js"></script>
    <script src="~/Scripts/moduleAngular/fatories/User/userFactory.js"></script>
    <script src="~/Scripts/moduleAngular/controller/User/fileController.js"></script>
}
<h2>Expedientes</h2>
<br />
<div class="container" ng-app="user" ng-controller="files" ng-init="setAuth()">
    <div class="row">
        <div class="container" ng-show="idFileRequireFile == 0">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    @if (ViewBag.nuevoExpediente || ViewBag.editarExpediente)
                    {
                    <form name="formfile">
                        <h4>Nombre expediente</h4>
                        <div class="col-md-6">
                            <input ng-model="fileName" type="text" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            @if (ViewBag.nuevoExpediente)
                            {
                            <button ng-show="idFileUpdate == 0 || idFileUpdate == null" ng-disabled="!formfile.$valid" ng-click="addFile()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarExpediente)
                            {
                            <button ng-show="idFileUpdate > 0" ng-disabled="!formfile.$valid" ng-click="updateFile()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idFileUpdate > 0" ng-click="idFileUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container" ng-show="idFileRequireFile == 0">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre Expediente</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listFile">
                                    <td>{{type.name}}</td>
                                    <td>
                                        @if (ViewBag.buscarExpedienteReq)
                                        {
                                        <button ng-click="selectFileforRequired(type)" class="btn btn-success btn-xs">Requisitos</button>
                                        }
                                        @if (ViewBag.editarExpediente)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarExpediente)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteFile(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @if (ViewBag.buscarExpedienteReq)
        {
        <div class="container" ng-show="idFileRequireFile > 0">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    @if (ViewBag.nuevoExpedienteReq || ViewBag.editarExpedienteReq)
                    {
                    <form name="formfilerequeriment" novalidate>
                        <div class="col-md-4">
                            <h5>Nombre</h5>
                            <input ng-model="requirementFileName" type="text" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Estado: {{changeStateRequired(requirementFileObligation)}}</h5>
                            <select class="form-control backgroundInput" ng-model="requirementFileSelectObligation">
                                <option value="1">Obligatorio</option>
                                <option value="2">Opcional</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <h5>Solicitar en nuevo colegiado</h5>
                            <label class="checkbox-inline"><input type="checkbox" ng-model="requirementFileEnable" value="">Habilitar</label>
                        </div>
                        <div class="col-md-4">
                            <br />
                            <br />
                            @if (ViewBag.nuevoExpedienteReq)
                            {
                            <button ng-show="idFileRequireFileUpdate == 0 || idFileRequireFileUpdate == null" ng-disabled="!formfilerequeriment.$valid || requirementFileSelectObligation == null" ng-click="addFileRequired()" class="btn btn-success">Agregar</button>
                            }
                            <button ng-show="idFileRequireFileUpdate == 0 || idFileRequireFileUpdate == null" ng-disabled="false" ng-click="idFileRequireFile = 0" class="btn btn-default">Cancelar</button>
                            @if (ViewBag.editarExpedienteReq)
                            {
                            <button ng-show="idFileRequireFileUpdate > 0" ng-disabled="!formfilerequeriment.$valid" ng-click="updateFileRequired()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idFileRequireFileUpdate > 0" ng-disabled="false" ng-click="idFileRequireFileUpdate = 0; cleanDataRequire()" class="btn btn-default">Cancelar</button>
                            }
                            
                        </div>
                    </form>
                    }
                    else
                    {
                        <button ng-show="idFileRequireFileUpdate == 0 || idFileRequireFileUpdate == null" ng-disabled="false" ng-click="idFileRequireFile = 0" class="btn btn-default">Cancelar</button>
                    }
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre Documento</th>
                                <th>Estado</th>
                                <th>Solicitud nuevo colegiado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="type in listFileRequirement">
                                <td>{{type.name}}</td>
                                <td>{{changeStateRequired(type.required)}}</td>
                                <td>{{((type.initFile == 1) ? 'Solicitada en nuevo colegiado' : 'No solicitada en nuevo colegiado')}}</td>
                                <td>
                                    @if (ViewBag.editarExpedienteReq)
                                    {
                                    <button ng-hide="showDelete" ng-click="showDataUpdateRequire(type)" class="btn btn-default btn-xs">Actualizar</button>
                                    }
                                    @if (ViewBag.eliminarExpedienteReq)
                                    {
                                        <button ng-show="showDelete" ng-click="deleteFileRequired(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                        <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                        <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

