﻿@model IEnumerable<webcee.Models.ccee_Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/user.js"></script>
<script src="~/Scripts/moduleAngular/constant/UserConstant.js"></script>
<script src="~/Scripts/moduleAngular/fatories/User/userFactory.js"></script>
}

<div ng-app="user">
    <div ng-controller="listUser" ng-init="setAuth()">
        <a id="info"></a>
        <div class="container" ng-show="isVisibleCreate">
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.nuevoUsuario)
                    {
                    <form name="create" novalidate>
                        <div class="close-right">
                            <a ng-click="setVisibleCreate()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </div>
                        <h4>Nombre del Usuario</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Primer Nombre</h5>
                                <input type="text" name="firstname" ng-model="firstname" class="form-control" required />
                            </div>
                            <div class="col-md-3">
                                <h5>Segundo Nombre</h5>
                                <input type="text" name="secundname" ng-model="secundname" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <h5>Primer Apellido</h5>
                                <input type="text" name="threename" ng-model="threename" class="form-control" required />
                            </div>
                            <div class="col-md-3">
                                <h5>Segundo Apellido</h5>
                                <input type="text" name="fourname" ng-model="fourname" class="form-control" />
                            </div>
                        </div>
                        <h4>Autenticacion del usuario</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <h5>Correo</h5>
                                    <input type="text" name="email" ng-pattern="regexEmail" ng-model="email" class="form-control" required />
                                </div>
                                <div class="col-md-3">
                                    <h5>Password</h5>
                                    <input type="password" name="password" ng-model="password" class="form-control" required />
                                    <h6 class="text-error-password">{{errorPassword}}</h6>
                                </div>
                                <div class="col-md-3">
                                    <h5>Repetir Password</h5>
                                    <input type="password" name="repassword" ng-model="repassword" class="form-control" required />
                                    <h6 class="text-error-password">{{errorRePassword}}</h6>
                                </div>
                                <div class="col-md-3">
                                    <h5>Perfil</h5>
                                    <select class="form-control" ng-model="selectedName" ng-options="profile as profile.nombre for profile in profiles track by profile.id" required></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <h5>Pregunta para recuperacion</h5>
                                    <input type="text" name="email" ng-model="question" class="form-control" required />
                                </div>
                                <div class="col-md-3">
                                    <h5>Respuesta para recuperacion</h5>
                                    <input type="text" name="email" ng-model="answer" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <h4>Contacto del usuario</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Telefono Residencial</h5>
                                <input type="text" name="phone" ng-pattern="regexPhone" ng-model="phone" class="form-control"/>
                            </div>
                            <div class="col-md-3">
                                <h5>Telefono Movil</h5>
                                <input type="text" name="movil" ng-pattern="regexPhone" ng-model="movil" class="form-control"/>
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-success" ng-click="createUser(newUser, create)">Agregar Usuario</button>
                        <h4 class="text-error-password">{{statusError}}</h4>
                    </form>
                    }
                </div>
            </div>
            <div class="separador-100"></div>
        </div>
        <div class="container" ng-show="viewEdit > 0 && viewEdit != null">
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.editarUsuario)
                    {
                    <form name="formedit" novalidate>
                        <div class="close-right">
                            <a ng-click="viewEdit = 0"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </div>
                        <h4>Nombre del Usuario</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Nombre</h5>
                                <input type="text" name="secundname" ng-model="nameEdit" class="form-control" required />
                            </div>
                            <div class="col-md-3">
                                <h5>Apellido</h5>
                                <input type="text" name="fourname" ng-model="lastnameEdit" class="form-control" required />
                            </div>
                            <div class="col-md-3">
                                <h5>Perfil: {{profileType}}</h5>
                                <select class="form-control" ng-model="profileSelectEdit" ng-options="profile as profile.nombre for profile in profiles track by profile.id"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Telefono Residencial</h5>
                                <input type="text" name="phone" ng-pattern="regexPhone" ng-model="phoneEdit" class="form-control" required />
                            </div>
                            <div class="col-md-3">
                                <h5>Telefono Movil</h5>
                                <input type="text" name="movil" ng-pattern="regexPhone" ng-model="movilEdit" class="form-control" required />
                            </div>
                            <div class="col-md-3">
                                <h5>Cambio de contraseña</h5>
                                <input type="password" name="pass" ng-pattern="" ng-model="passEdit" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <button ng-disabled="!formedit.$valid" class="btn btn-success" ng-click="updateEditUser()">Editar</button>
                    </form>
                    }
                </div>
            </div>
        </div>
        <div ng-hide="isVisibleCreate">
            <br />
            <br />
        </div>
        <p>
            @if (ViewBag.nuevoUsuario)
            {
            <a ng-click="setVisibleCreate()" ng-hide="isVisibleCreate">Agregar Usuario</a>
            }
        </p>
        <br />
        <div class="container">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Telefono Movil</th>
                            <th>Telefono Residencial</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="use in usersList">
                            <td>{{use.nombre}}</td>
                            <td>{{use.apellido}}</td>
                            <td>{{use.correo}}</td>
                            <td>{{use.telefonoMovil}}</td>
                            <td>{{use.telefonoResidencial}}</td>
                            <td>
                                @if (ViewBag.editarUsuario)
                                {
                                    <button class="btn btn-info btn-xs" ng-show="viewDelete" ng-style="" ng-click="showEdit(use)">Actualizar</button>
                                }
                                @if (ViewBag.eliminarUsuario)
                                {
                                    <button class="btn btn-default btn-xs" ng-show="viewDelete" ng-style="" ng-click="beforeDelete()">Eliminar</button>
                                    <button class="btn btn-danger btn-xs" ng-hide="viewDelete" ng-click="delete(use)">Eliminar</button>
                                    <button class="btn btn-success btn-xs" ng-hide="viewDelete" ng-click="beforeDelete()">Cancelar</button>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @*<div class="row table-title">
                <div class="col-md-2">
                    Nombre
                </div>
                <div class="col-md-2">
                    Apellido
                </div>
                <div class="col-md-2">
                    Correo
                </div>
                <div class="col-md-2">
                    Telefono Movil
                </div>
                <div class="col-md-2">
                    Telefono Residencial
                </div>
                <div class="col-md-2">
                    Acciones
                </div>
            </div>*@
        </div>
        @*<div class="container" ng-repeat="use in usersList">
            <div class="row table-content">
                <div class="col-md-2">{{use.nombre}}</div>
                <div class="col-md-2">{{use.apellido}}</div>
                <div class="col-md-2">{{use.correo}}</div>
                <div class="col-md-2">{{use.telefonoMovil}}</div>
                <div class="col-md-2">{{use.telefonoResidencial}}</div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-show="viewDelete" ng-style="" ng-click="beforeDelete()">Eliminar</button>
                    <button class="btn btn-info" ng-show="viewDelete" ng-style="" ng-click="showEdit(use)">Editar</button>
                    <button class="btn btn-danger" ng-hide="viewDelete" ng-click="delete(use)">Eliminar</button>
                    <button class="btn btn-success" ng-hide="viewDelete" ng-click="beforeDelete()">Cancelar</button>
                </div>
            </div>
        </div>*@


    </div>
</div>

