﻿
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}
@section scripts{
    <script src="~/Scripts/moduleAngular/controller/User/profileController.js"></script>
}
<h2>Perfil</h2>
<div class="container" ng-app="user" ng-controller="profile" ng-init="setAuth(@ViewBag.idUser)">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form name="formprofile" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{email}}</h4>
                    </div>
                    <div class="col-md-6">
                        <h5>Nombres</h5>
                        <input class="form-control" ng-model="name" required/>
                    </div>
                    <div class="col-md-6">
                        <h5>Apellidos</h5>
                        <input class="form-control" ng-model="last"/>
                    </div>
                    <div class="col-md-6">
                        <h5>Telefono Residencial</h5>
                        <input class="form-control" ng-model="tel" required />
                    </div>
                    <div class="col-md-6">
                        <h5>Telefono Movil</h5>
                        <input class="form-control" ng-model="cel" />
                    </div>
                    <div class="col-md-12">
                        <h5>Acciones</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <h5>Contraseña actual</h5>
                            <input type="password" class="form-control" ng-model="oldPass" />
                        </div>
                        <div class="col-md-12">
                            <h5>Nueva contraseña</h5>
                            <input type="password" class="form-control" ng-model="newPass" ng-required="oldPass != null && oldPass.length > 0" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <h5>Pregunta</h5>
                            <input class="form-control" ng-model="question" required/>
                        </div>
                        <div class="col-md-12">
                            <h5>Respuesta</h5>
                            <input type="password" class="form-control" ng-model="answer" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br />
                        <br />
                        <button class="btn btn-primary" ng-click="update()" ng-disabled="!formprofile.$valid">Actualizar</button>
                    </div>
                    <div class="col-md-12">
                        <h4>{{error}}</h4>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerUserAngular")