﻿
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/user.js"></script>
    <script src="~/Scripts/moduleAngular/constant/UserConstant.js"></script>
    <script src="~/Scripts/moduleAngular/fatories/User/userFactory.js"></script>
    <script src="~/Scripts/moduleAngular/controller/User/roleController.js"></script>
}
<h2>Roles</h2>
<br />
<div class="container" ng-app="user" ng-controller="role" ng-init="setAuth()">
    <div class="row">
        <div class="container" ng-show="!showOperations">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    @if (ViewBag.nuevoRol || ViewBag.editarRol)
                    {
                    <form name="formrol">
                        <div class="col-md-4">
                            <input ng-model="rolName" type="text" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            @if (ViewBag.nuevoRol)
                            {
                            <button ng-show="idRolUpdate == 0 || idRolUpdate == null" ng-disabled="!formrol.$valid" ng-click="addRol()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarRol)
                            {
                            <button ng-show="idRolUpdate > 0" ng-disabled="!formrol.$valid" ng-click="updateRol()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idRolUpdate > 0" ng-click="idRolUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Info. de las operaciones", "Operations", "Users", new { @class = "btn btn-success" })
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" ng-show="!showOperations">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listRoles">
                                    <td>{{type.name}}</td>
                                    <td>
                                        <button ng-click="selectOperation(type);" class="btn btn-success btn-xs">Operaciones</button>
                                        @if (ViewBag.editarRol)
                                        {
                                            <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarRol)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteRol(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showOperations">
                <div class="col-md-2">
                </div>

                <div class="col-md-8" ng-show="idRolOperation > 0 && idRolOperation != null">
                    <div class="col-md-4">
                        <button class="btn btn-danger" ng-click="showOperations = false">Regresar</button>
                    </div>
                    <div class="col-md-8"><h5>Agregar Operaciones:</h5><h4> {{nameRolOperation}}</h4></div>
                    <div class="row">
                        @if (ViewBag.editarRol)
                        {
                            <form name="formoperation">
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="selectOperations" ng-options="listO as listO.name for listO in listOperations track by listO.id" required></select>
                                </div>
                                <div class="col-md-4">
                                    <button ng-click="addRolOper()" ng-disabled="!formoperation.$valid" class="btn btn-success">Agregar</button>
                                </div>
                            </form>
                        }
                    </div>
                    <br />
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre Oper</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listRolOperations">
                                    <td>{{type.nameOper}}</td>
                                    <td>
                                        @if (ViewBag.eliminarRol)
                                        {
                                            <button ng-click="deleteRolOper(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <select multiple class="form-control" ng-model="selectTypeReferee" ng-options="listT as listT.nameOper for listT in listRolOperations"></select>
                        </div>
                        <div class="col-md-6">
                            <select multiple class="form-control" ng-model="selectTypeReferee" ng-options="listT as listT.nameOper for listT in listRolOperations"></select>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

