﻿
@{
    ViewBag.Title = "UserCash";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/User/userCashController.js"></script>
}
<h2>Asignar cajero</h2>
<br />
<div class="container" ng-app="user" ng-controller="userCash" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12" ng-show="showRepeat">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="alert alert-info" role="alert">
                            <p>El usuario ya es cajero, por favor seleccionar otro usuario</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    @if (ViewBag.nuevoAsingCajero)
                    {
                    <form name="formusercash">
                        <div class="col-md-6">
                            <h5>Seleccionar usuario</h5>
                            <select class="form-control" ng-model="selectUser" ng-options="list as (list.nombre + ' ' + list.apellido) for list in listUser" required></select>
                        </div>
                        <div class="col-md-6">
                            <h5>Seleccionar cajero</h5>
                            <select class="form-control" ng-model="selectCashier" ng-options="list as list.name for list in listCashier" required></select>
                            <br />
                        </div>
                        <div class="col-md-12">
                            @if (ViewBag.nuevoAsingCajero)
                            {
                            <button ng-disabled="!formusercash.$valid" class="btn btn-success" ng-click="verifyUser()">Asignar</button>
                            }
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre usuario</th>
                                    <th>Nombre cajero</th>
                                    <th>Hora inicial</th>
                                    <th>Hora final</th>
                                    <th>Activo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listCashierAssing">
                                    <td>{{type.name}}</td>
                                    <td>{{type.nameCashier}}</td>
                                    <td>{{type.initHour}}</td>
                                    <td>{{type.finalHour}}</td>
                                    <td>{{changeActive(type.active)}}</td>
                                    <td>
                                        @if (ViewBag.eliminarAsingCajero)
                                        {
                                        <button ng-click="updateDeleteUser(type)" class="btn btn-danger btn-xs">Desasignar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerUserAngular")


