﻿
@{
    ViewBag.Title = "AddEvent";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/event.js"></script>
    <script src="~/Scripts/moduleAngular/constant/EventConstant.js"></script>
}

<div ng-app="event" ng-controller="events" ng-init="init()">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <h3>Eventos</h3>
                    <div class="col-md-6">
                        <select class="form-control" ng-model="selectEvents" ng-change="showInfoEvent(); getSubEvent()" ng-options="eve as eve.name for eve in events"></select>
                    </div>
                    <div class="col-md-6">
                        <h4>Status Evento: {{eventStatus}}</h4>
                    </div>
                </div>
                <form name="formaddevent">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Nombre</h5>
                            <input type="text" ng-model="eventName" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <h5>Descripcion</h5>
                            <input type="text" ng-model="eventDesciption" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Fecha inicio</h5>
                            <input type="text" ng-model="eventDateI" class="form-control" placeholder="01/01/2000" />
                        </div>
                        <div class="col-md-6">
                            <h5>Fecha finalizacion</h5>
                            <input type="text" ng-model="eventDateF" class="form-control" placeholder="01/01/2000" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Seleccionar estatus</h5>
                            <select class="form-control" ng-model="eventSelectStatus">
                                <option value="0">On Hold</option>
                                <option value="1">Inscripcion</option>
                                <option value="2">En Proceso</option>
                                <option value="3">Cancelado</option>
                                <option value="4">Concluído</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h5>Acciones</h5>
                            <button ng-click="addEvent()" class="btn btn-primary">Agregar Nuevo</button>
                            <button ng-click="changeEvent()" class="btn btn-success">Editar informacion</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <hr />

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <h3>Sub Eventos</h3>
                </div>
                <form name="formsubevent">
                    <h4>Evento seleccionado: {{selectEvents.name}}</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Seleccionar Sub Evento</h5>
                            <select class="form-control" ng-model="selectEventsSubEdit" ng-change="getOnlySubEvent()" ng-options="sueve as sueve.name for sueve in subEvents"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Nombre</h5>
                            <input type="text" ng-model="subNombre" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <h5>Descripcion</h5>
                            <input type="text" ng-model="subDescription" class="form-control" />
                        </div>
                        <div class="col-md-6" ng-show="selectEventsSubEdit == null">
                            <h5>Seleccionar Documento de impresion</h5>
                            <select class="form-control" ng-model="selectDocPrint" ng-change="" ng-options="docu as docu.name for docu in docs"></select>
                        </div>
                        <div class="col-md-6" ng-show="selectEventsSubEdit == null">
                            <h5>Estado de la impresion</h5>
                            <select class="form-control" ng-model="docStatusPrint">
                                <option value="1">Habilitar impresion</option>
                                <option value="0">Desabilitar impresion</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h5>Acciones</h5>
                            <button ng-click="addSubEvent()" class="btn btn-primary">Agregar Nuevo</button>
                            <button ng-show="selectEvents != null" ng-click="changeSubEvent()" class="btn btn-success">Editar informacion</button>
                        </div>
                    </div>
                    <h4>{{mensajeSubEvent}}</h4>
                </form>
            </div>
        </div>

        <br />
        <hr />

        @*<div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <h3>Editar Sub Eventos</h3>
                    </div>
                    <form name="formsubevent">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Seleccionar Evento</h5>
                                <select class="form-control" ng-model="selectEventsEdit" ng-change="getSubEvent()" ng-options="eve as eve.name for eve in events"></select>
                            </div>
                            <div class="col-md-6">
                                <h5>Seleccionar Sub Evento</h5>
                                <select class="form-control" ng-model="selectEventsSubEdit" ng-change="getOnlySubEvent()" ng-options="sueve as sueve.name for sueve in subEvents"></select>
                            </div>
                            <div class="col-md-6">
                                <h5>Nombre</h5>
                                <input type="text" ng-model="subNombreEdit" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <h5>Descripcion</h5>
                                <input type="text" ng-model="subDescriptionEdit" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <h5>Acciones</h5>
                                <button ng-click="changeSubEvent()" class="btn btn-success">Editar informacion</button>
                            </div>
                        </div>
                        <h4>{{mensajeSubEventEdit}}</h4>
                    </form>
                </div>
            </div>*@


    </div>
</div>

