﻿
@{
    ViewBag.Title = "EventAssingNoReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}
@section scripts{
    <script src="~/Scripts/moduleAngular/event.js"></script>
    <script src="~/Scripts/moduleAngular/constant/EventConstant.js"></script>
}

<div ng-app="event" ng-controller="assingNoReferee">
    <div class="row">
        <h3>No Colegiado</h3>
        <div class="col-md-2"></div>
        <div class="col-md-8" ng-show="showInscription">
            <form name="formnoreferee">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Nombres</h4>
                        <input type="text" ng-model="noReferreName" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h4>Apellidos</h4>
                        <input type="text" ng-model="noReferreLastname" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h4>Nit</h4>
                        <input type="text" ng-model="noReferreNit" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h4>Numero de telefono</h4>
                        <input type="text" ng-model="noReferreMovil" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h4>Direccion</h4>
                        <input type="text" ng-model="noReferreAddress" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <h4>Observaciones</h4>
                        <input type="text" ng-model="noReferreRemarke" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <h4>Evento</h4>
                        <select class="form-control" ng-model="selectEvents" ng-change="getSubEvent()" ng-options="eve as eve.name for eve in events"></select>
                    </div>
                    <div class="col-md-6">
                        <h4>Sub Evento</h4>
                        <select class="form-control" ng-model="selectSubEvents" ng-options="sueve as sueve.name for sueve in subEvents"></select>
                    </div>
                    <div class="col-md-6">
                        <br />
                        <button ng-click="addNoReferee()" class="btn btn-success">Agregar No Colegiado</button>
                        <button ng-click="editDataNoReferee()" class="btn btn-warning">Editar No Colegiado</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="searchNoReferee" placeholder="Buscar nombre"/>
            </div>
        </div>
        <div class="row" ng-hide="showInscription">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Evento</h4>
                        <select class="form-control" ng-model="selectEvents" ng-change="getSubEvent()" ng-options="eve as eve.name for eve in events"></select>
                    </div>
                    <div class="col-md-6">
                        <h4>Sub Evento</h4>
                        <select class="form-control" ng-model="selectSubEvents" ng-options="sueve as sueve.name for sueve in subEvents"></select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-hide="showInscription">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row  table-title">
                    <div class="col-md-8">
                        Nombre
                    </div>
                    <div class="col-md-4">
                        Asignar
                    </div>
                </div>
                <div ng-repeat="assi in assintents">
                    <div class="row table-content">
                        <div class="col-md-8">
                            {{assi.name}} {{assi.lastname}}
                        </div>
                        <div class="col-md-4">
                            <button ng-click="getDataNoReferee(assi)" class="btn btn-danger">Editar</button>
                            <button ng-click="addNoRefereeList(assi)" class="btn btn-success">Asignar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro">
            <br />
            <h6>Nombre</h6>
            <h4>{{noReferreName}}</h4>
            <h6>Apellidos</h6>
            <h4>{{noReferreLastname}}</h4>
            <h6>evento</h6>
            <h4>{{selectEvents.name + "/" + selectSubEvents.name}}</h4>
            <br />
            <button class="btn btn-success btn-lg" ng-click="hideNotify()">Aceptar</button>
        </div>
    </div>
</div>

