﻿
@{
    ViewBag.Title = "EventAssingNoRefereeList";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/event.js"></script>
    <script src="~/Scripts/moduleAngular/constant/EventConstant.js"></script>
}

<div ng-app="event" ng-controller="assingNoReferee">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" ng-show="showSegment > 0">
                <h5>Seleccionar Evento</h5>
                <select class="form-control" ng-model="selectEvents" ng-change="getSubEvent()" ng-options="eve as eve.name for eve in events"></select>
            </div>
            <div class="col-md-4" ng-show="showSegment > 1">
                <h5>Seleccionar sub-evento</h5>
                <select class="form-control" ng-model="selectSubEvents" ng-change="getListAssistent()" ng-options="sueve as sueve.name for sueve in subEvents"></select>
            </div>
        </div>
    </div>
    <br />
    <div class="container" ng-show="showSegment > 2">
        <div ng-show="selectSubEvents != null" class="row">
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" ng-model="search" class="form-control" placeholder="Buscar por nombre" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <div class="row table-title">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    Nombre del Asistente
                                </div>
                                <div class="col-md-4">
                                    Generar PDF
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="assi in assintents">
                    <div class="row table-content">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    {{assi.name}} {{assi.lastname}}
                                </div>
                                <div class="col-md-2">
                                    <button ng-click="printDocument(assi, 1)" class="btn btn-default">Gafete</button>
                                </div>
                                <div class="col-md-2">
                                    <button ng-click="printDocument(assi, 2)" class="btn btn-primary">Diploma</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div ng-show="showPagination" class="row">
                    <div class="col-md-3">
                        <button ng-click="paginationDown()" class="btn btn-danger">Anterior</button>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <button ng-click="paginationUp()" class="btn btn-danger">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>