﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/event.js"></script>
    <script src="~/Scripts/moduleAngular/constant/EventConstant.js"></script>
}

<div ng-app="event" ng-controller="assing">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" ng-show="showSegment > 0">
                <h5>Seleccionar Evento</h5>
                <select class="form-control" ng-model="selectEvents" ng-change="getSubEvent()" ng-options="eve as eve.name for eve in events"></select>
            </div>
            <div class="col-md-4" ng-show="showSegment > 1">
                <h5>Seleccionar sub-evento</h5>
                <select class="form-control" ng-model="selectSubEvents" ng-change="showReffere()" ng-options="sueve as sueve.name for sueve in subEvents"></select>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" ng-show="showSegment > 2">
                <h5>No. Colegiado</h5>
                <div class="row">
                    <form name="formreferre">
                        <div class="col-md-8">
                            <input type="text" ng-model="idReferre" ng-pattern="numeroColegiado" class="form-control" required/>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success" ng-click="getReferre()">Buscar</button>
                        </div>
                    </form>
                </div>
                

                <h5>Nombre</h5>
                <input type="text" ng-model="inforefereeName" class="form-control" disabled />

                <h5>Apellido</h5>
                <input type="text" ng-model="inforefereeLastname" class="form-control" disabled />

                <div class="row">
                    <div class="col-md-6">
                        <h4 ng-show="inforefereeStatus == 1">Activo</h4>
                        <h4 ng-show="inforefereeStatus == 0">Inactivo</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>{{inforefereeStatusAssing}}</h4>
                    </div>
                </div>

                <br />
                <button ng-show="buttonStatusAssing == 0" ng-click="addAssign(1)" class="btn btn-primary">Inscribir</button>
                <button ng-show="buttonStatusAssing >= 2" ng-click="changeAssing(1)" class="btn btn-primary">Inscribir</button>
                <button ng-show="buttonStatusAssing > 0 && buttonStatusAssing != 2" ng-click="changeAssing(2)" class="btn btn-warning">Asistente</button>
                <button ng-show="buttonStatusAssing == 0" ng-click="addAssign(2)" class="btn btn-warning">Asistente</button>
                <button ng-show="buttonStatusAssing == 1 || buttonStatusAssing == 2" ng-click="changeAssing(3)" class="btn btn-danger">Cancelar</button>
                <h4>{{aggregateEvent}}</h4>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro">
            <br />
            <h6>Nombre</h6>
            <h4>{{inforefereeName}}</h4>
            <h6>Apellidos</h6>
            <h4>{{inforefereeLastname}}</h4>
            <h6>evento</h6>
            <h4>{{selectEvents.name + "/" + selectSubEvents.name}}</h4>
            <h4>{{aggregateEvent}}</h4>
            <br />
            <button class="btn btn-success btn-lg" ng-click="hideNotify()">Aceptar</button>
        </div>
    </div>
    

</div>

