﻿@{
    ViewBag.Title = "Certificaciones";
    Layout = "~/Views/Shared/_User.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Document/UserCertificacionController.js"></script>
}

<h2>Certificaciones</h2>


<div class="container" ng-app="document" ng-controller="userCertificacion" ng-init="setAuth(@ViewBag.idReferee)">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4>Listado de documentos:</h4>
                <table class="table table-striped table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Fecha emisión</th>
                            <th class="text-center">A Nombre de</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="document in listDocumentShow" class="text-center">
                            <th>Constancia #{{document.idDocument}}</th>
                            <td>{{document.fechaEmision}}</td>
                            <td>{{document.aNombre}}</td>
                            <td>
                                <h5><span ng-hide="document.vigente" class="label label-danger">Fuera de fecha</span></h5>
                                <h5><span ng-show="document.vigente" class="label label-primary"> Disponible</span></h5>
                            </td>
                            <td>
                                <a ng-show="document.vigente" class="btn btn-primary btn-block" ng-href="{{document.direccion}}" target="_blank">Descargar</a>
                                <p ng-hide="document.vigente">No se puede descargar</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example" ng-show="listDocumentPrint.length">
                    <p class="justify-content-center">Página {{pointer + 1}} de {{numPages}}</p>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#" ng-click="back()">Anterior</a></li>
                        <li class="page-item" ng-repeat="x in [].constructor(numPages) track by $index">
                            <a class="page-link" href="#" ng-click="mostrarPaginas($index)">{{$index + 1}}</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#" ng-click="next()">Siguiente</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerDocumentAngular")

