﻿
@{
    ViewBag.Title = "InboxTimbre";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Document/InboxTimbreController.js"></script>
}

<h2>Bandeja de archivos</h2>
<div class="container" ng-app="document" ng-controller="inboxTimbre" ng-init="setAuth(@ViewBag.idReferee)">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm" ng-show="position > 1" ng-click="back()">< anterior</button>
        </div>
        <div class="col-md-4" align="right">
            <button class="btn btn-primary btn-sm" ng-click="next()" ng-show="nextButton">siguiente ></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de solicitud</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in listTim">
                        <td>{{list.name}}</td>
                        <td>{{list.date | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>
                            <h5 ng-show="list.status == 1">Procesando archivos</h5>
                            <button class="btn btn-success btn-xs" ng-click="donwloadFile(list)" ng-show="list.status == 2">Descargar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerDocumentAngular")
