﻿
@{
    ViewBag.Title = "ListBatch";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}
@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Document/listBatchController.js"></script>
}
<h2>Buscar Planillas</h2>
<div class="container" ng-app="document" ng-controller="listBatch" ng-init="setAuth()">
    <div class="row">
        <div class="col-md-3">
            <a href="/Document/UploadNomina" class="btn btn-warning btn-block">Atras</a>
        </div>
    </div>
    <div class="row">
        <form name="formbatch">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <h5>Seleccione</h5>
                <select class="form-control" ng-model="selectCashier" ng-options="lis as lis.name for lis in listCashier" required></select>
            </div>
            <div class="col-md-3">
                <h5>Acciones</h5>
                <button class="btn btn-success" ng-click="getBatch()" ng-disabled="!formbatch.$valid">Buscar</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>nombre</th>
                            <th>No recibo</th>
                            <th>fecha</th>
                            <th>data inicial</th>
                            <th>data final</th>
                            <th>Revertido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="type in listBatch">
                            <td>{{type.id}}</td>
                            <td>{{type.name}}</td>
                            <td>{{type.noReceipt}}</td>
                            <td>{{type.date | date:"MM/dd/yyyy hh:mm"}}</td>
                            <td><a ng-href="BatchInitLog/{{type.id}}" target="_blank">archivo</a></td>
                            <td><a ng-href="BatchFinishLog/{{type.id}}" target="_blank">archivo</a></td>
                            <td>{{type.textDelete}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerDocumentAngular")