﻿
@{
    ViewBag.Title = "PruebaUpload";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Document/uploadNominaController.js"></script>
}

<h2>PruebaUpload</h2>

<div class="container" ng-app="document" ng-controller="uploadNomina">
    <div class="row">
        <div class="container">
            <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'*/*'"
                 ngf-accept="'*/*'">Select</div>
            <button type="submit" ng-click="submit()">submit</button>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerDocumentAngular")