﻿
@{
    ViewBag.Title = "TimbreUsuario";
}

    <div class="separador-100"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-1 col-md-3"></div>
            <div class="col-xs-6 col-md-4">
                <div class="row">
                    <div class="form-group">
                        @using (Html.BeginForm())
                        {
                            <h4>Numero de colegiado</h4>
                            @Html.TextBox("colegiado", null, new { @class = "form-control", @placeholder = "No. Colegiado" })
                            <h4>Contraseña</h4>
                            @Html.Password("password", null, new { @class = "form-control", @placeholder = "Contraseña" })
                            <br />
                            <input type="submit" value="Ingresar" class="btn btn-primary" />
                        }
                    </div>
                </div>
                <div class="row text-center">
                    <h4>@ViewBag.titulo</h4>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                    <img src="~/images/logo.png" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="row text-center">
                <h5>¿No tienes contraseña?</h5>
                <button class="btn btn-info" onclick="location.href='@Url.Action("Register", "Account")';return false;">Registrarse</button>
            </div>
            <div class="row text-center">
                <h5>¿Olvidaste tu contraseña?</h5>
                <button class="btn btn-info" onclick="location.href='@Url.Action("Index", "Account")';return false;">Recuperar contraseña</button>
            </div>
        </div>
    </div>
    <div class="separador-100"></div>
