﻿
@{
    ViewBag.Title = "Tipo de documento contable";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}


@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Document/typeDocumentAccountingController.js"></script>
}

<h2>Tipo Documento Contable</h2>
<br />
<div class="container" ng-app="document" ng-controller="typeDocumentAccounting" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @if (ViewBag.nuevoDocContables || ViewBag.editarDocContables)
                    {
                    <form name="form">
                        <div class="col-md-5">
                            <h5>Nombre</h5>
                            <input type="text" ng-model="typename" class="form-control" required />
                        </div>
                        <div class="col-md-5">
                            <h5>Descripcion</h5>
                            <input type="text" ng-model="typedescription" class="form-control" required />
                        </div>
                        <div class="col-md-12">
                            <h5>Plantilla XML</h5>
                            <textarea ng-model="typetemplate" cols="15" rows="5" class="form-control backgroundInput" required></textarea>
                            <br />
                        </div>
                        <div class="col-md-12">
                            @if (ViewBag.nuevoDocContables)
                            {
                            <button ng-show="idUpdate == 0 || idUpdate == null" ng-disabled="!form.$valid" ng-click="add()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarDocContables)
                            {
                            <button ng-show="idUpdate > 0" ng-disabled="!form.$valid" ng-click="update()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idUpdate > 0" ng-click="idUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listData">
                                    <td>{{type.name}}</td>
                                    <td>{{type.description}}</td>
                                    <td>
                                        @if (ViewBag.editarDocContables)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarDocContables)
                                        {
                                            <button ng-show="showDelete" ng-click="delete(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerDocumentAngular")





