﻿
@{
    ViewBag.Title = "UploadNomina";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Document/uploadNominaController.js"></script>
}

<h2>Carga Nomina</h2>
<div class="container" ng-app="document" ng-controller="uploadNomina" ng-init="setAuth(@ViewBag.idCahier)">
    <div class="row">
        <div class="col-md-6">
            <h3>Número de nomina: {{idBatch}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="btn btn-primary btn-block" ngf-select ng-model="file" name="file" ngf-pattern="'*/*'"
                 ngf-accept="'*/*'">Seleccionar archivo CSV</div>
            <br />
            <button class="btn btn-success btn-block" type="submit" ng-click="submit()">Cargar Archivo</button>
        </div>
        <div class="col-md-3">
            <a href="/Document/ListBatch" class="btn btn-warning btn-block">Buscar Planillas</a>
            <br />
            <label class="checkbox-inline"><input type="checkbox" ng-model="negative" value="">Aceptar negativos</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" ng-model="finalAmount" ng-blur="sumAmount()" />
            <br />
            <h4>{{textNotify}}</h4>
            <h5>Total Colegio: {{totalReferee | currency:"Q."}}</h5>
            <h5>Total Timbre: {{totalTimbre | currency:"Q."}}</h5>
            <h5>Total Postumo: {{totalPostumo | currency:"Q."}}</h5>
            <h5>Suma Total: {{textAmounts | currency:"Q."}}</h5>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Seleccione filtro por error</h5>
                <select class="form-control" ng-model="search.error">
                    <option selected value="">Todos</option>
                    <option value="1">Solo erroes normales</option>
                    <option value="2">Solo errores graves</option>
                    <option value="0">Sin errores</option>
                </select>
            </div>
            <form name="formPay" ng-show="visibleCount == 0">
                <div class="col-md-3">
                    <h5>Actualizar salario respecto a la lista</h5>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="enableUpdate" value="">Habilitar</label>
                </div>
                <div class="col-md-3">
                    <h5>Institución/Entidad</h5>
                    <select class="form-control" ng-model="selectNoReferre" ng-options="lis as (lis.name + ' ' + lis.lastname ) for lis in listNomina" required></select>
                </div>
                <div class="col-md-3">
                    <h5>Realizar pago de archivo</h5>
                    <select class="form-control" ng-model="selectIdType">
                        <option selected value="0">Recibo único a nombre de la institución</option>
                        <option value="1">Recibos individuales por colegiado a nombre de la institución</option>
                        <option value="2">Recibos individuales por colegiado a nombre del colegiado</option>
                    </select>
                </div> @*ng-click="payNomina(@ViewBag.idCahier, @ViewBag.idCash, @ViewBag.receipt)"*@ 
                <div class="col-md-3">
                    <h5>Fecha de pago</h5>
                    <md-datepicker ng-model="deathTextReferee" md-placeholder="Ingreso fecha"></md-datepicker>
                </div>
                <div class="col-md-3">
                    <h5>Descripción de monto</h5>
                    <input class="form-control" ng-model="textRemark" />
                </div>
                <div class="col-md-3">
                    <h5>Tipo de facturacion</h5>
                    <button class="btn btn-warning btn-block" ng-click="payNomina(@ViewBag.idCahier, @ViewBag.idCash, @ViewBag.receipt)" ng-disabled="!formPay.$valid || listPaymentMethodPay.length == 0">Realizar pago</button>
                </div>

                <div class="col-md-12">
                    <div class="col-md-12" ng-init="amountpayMethod = 0" ng-show="false">
                        <h5>Monto</h5>
                        <input type="text" class="form-control" ng-model="amountpayMethod" ng-pattern="regexAmount" />
                    </div>
                    <div class="col-md-12" ng-init="radioPaymentMethod = '0'">
                        <h5>Seleccionar medio pago</h5>
                        <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="0" name="optradio">Efectivo</label>
                        <label class="radio-inline"><input type="radio" ng-change="clearMethodPay(); selectReservation = '1'" ng-model="radioPaymentMethod" value="1" name="optradio">Cheque</label>
                        <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="2" name="optradio">Depósito/Transf.</label>
                        <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="3" name="optradio">Tarjeta Credito</label>
                        <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="4" name="optradio">Tarjeta Debito</label>
                    </div>
                    <div class="col-md-12" ng-init="radioPaymentMethod = '0'">
                        <div class="col-md-4" ng-show="radioPaymentMethod >= 2">
                            <h5>Número de transacción</h5>
                            <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayTrans" />
                        </div>
                        <div class="col-md-4" ng-show="radioPaymentMethod == 1">
                            <h5>Número de documento</h5>
                            <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayDoc" />
                        </div>
                        <div class="col-md-3" ng-show="radioPaymentMethod != 0">
                            <h5>Observaciones</h5>
                            <input type="text" class="form-control" ng-model="remakepayMothod" />
                        </div>
                        <div class="col-md-4" ng-show="radioPaymentMethod != 0">
                            <h5>Banco</h5>
                            <select class="form-control" ng-model="selectIssuingBank" ng-options="lis as lis.name for lis in listIssuingBank"></select>
                        </div>

                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <button class="btn btn-success" ng-click="addListMethod()"  ng-show="radioPaymentMethod != 0">Agregar medio de pago</button>
                    <button class="btn btn-success" ng-click="addListMethodCash()" ng-show="radioPaymentMethod == 0">Agregar Medio de pago efectivo</button>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Monto</th>
                                        <th>No. Trans.</th>
                                        <th>No. Doc</th>
                                        <th>Observaciones</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in listPaymentMethodPay">
                                        <td>{{list.amount | number:2}}</td>
                                        <td>{{list.noTransaction}}</td>
                                        <td>{{list.noDocument}}</td>
                                        <td>{{list.remarke}}</td>
                                        <td>
                                            <button ng-click="deleteListMethod(list)" class="btn btn-danger btn-xs">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </form>
            <div class="col-md-12" ng-show="visibleCount == 1">
                <div class="col-md-4">
                    <h5>Monto pagado</h5>
                    <h4>{{uploadTotal}}</h4>
                </div>
                <div class="col-md-4">
                    <h5>Monto de aproximación</h5>
                    <h4>{{uploadAproxi}}</h4>
                </div>
                <div class="col-md-4">
                    <h5>Recibos</h5>
                    <div class="md-12" ng-repeat="type in uploadReciberList">
                        <h4><a ng-href="{{type.url}}" target="_blank">{{type.text}}</a></h4>
                    </div>
                    <div class="md-12">
                        <h4><a ng-href="{{uploadReciber}}" target="_blank">Recibo Total</a></h4>
                    </div>
                    
                </div>
                <div class="col-md-12">
                    <h5>Timbres</h5>
                    <h4>{{uploadTimbre}}</h4>
                </div>
                <div class="col-md-12">
                    <h5>Error</h5>
                    <h4>{{uploadErro}}</h4>
                </div>
            </div>
            <div class="col-md-12"  ng-show="visibleCount == 1">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>cantidad</th>
                                        <th>colegiado</th>
                                        <th>description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="type in listDataLis  | filter:search">
                                        <td>{{type.id}}</td>
                                        <td>{{type.amount}}</td>
                                        <td>{{type.idReferee}}</td>
                                        <td>{{type.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th>nombre</th>
                                <th>colegiado</th>
                                <th>mes</th>
                                <th>año</th>
                                <th>colegiado</th>
                                <th>timbre</th>
                                <th>postumo</th>
                                <th>V. colegiado</th>
                                <th>V. timbre</th>
                                <th>V. postumo</th>
                                <th>error</th>
                                <th>text error</th>
                                <th>sincronizado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="type in listData  | filter:search">
                                <td>{{type.nombre}}</td>
                                <td>{{type.colegiado}}</td>
                                <td>{{type.mes}}</td>
                                <td>{{type.anio}}</td>
                                <td>{{type.cuotaColegiado}}</td>
                                <td>{{type.cuotaTimbre}}</td>
                                <td>{{type.seguroPostumo}}</td>
                                <td>{{type.valorRealColegiado}}</td>
                                <td>{{type.valorRealTimbre}}</td>
                                <td>{{type.valorRealPostumo}}</td>
                                <td>{{typeError(type.error)}}</td>
                                <td>{{type.textError}}</td>
                                <td>{{getStatusSyn(type.statusSync)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" ng-init="visiblePrint = false">
                <div class="col-md-12" ng-show="visiblePrint">
                    <h4><span class="label label-danger">Por favor revisar si todas las filas estan en estado completo</span></h4>
                </div>
                <div class="col-md-3" ng-hide="visiblePrint">
                    <h5>Imprimir recibo</h5>
                    <button class="btn btn-primary btn-block" ng-click="visiblePrint = true">Imprimir recibo</button>
                </div>
                <div class="col-md-3" ng-show="visiblePrint">
                    <h5>Acción</h5>
                    <button class="btn btn-warning btn-block" ng-click="visiblePrint = false">Cancelar</button>
                </div>
                <div class="col-md-3" ng-show="visiblePrint">
                    <h5>Acción</h5>
                    <button class="btn btn-success btn-block" ng-click="getReciberNomina(@ViewBag.idCahier, @ViewBag.idCash, @ViewBag.receipt)" ng-disabled="!formPay.$valid">Imprimir recibo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/containerDocumentAngular")
