﻿
@{
    ViewBag.Title = "UserProfile_ChangePassword";
    Layout = "~/Views/Shared/_User.cshtml";
}

@section scripts{
    
}
<div class="container" ng-app="document" ng-controller="userProfile" ng-init="setAuthPasswordPage(@ViewBag.idReferee)">
    <div class="container">
            <div class="col-xs-12 col-md-8">
                <form class="form" name="formVal1">
                    <h3>Cambiar Contraseña</h3>
                    <p style="font-size:12px; color:blue;">La contraseña debe tener al menos 7 caracteres <br /> y contener letras minúsculas, mayúsculas y números.</p>
                    <div class="form-group">
                        @*formVal1.$submitted*@
                        <label for="nPass">Nueva Contraseña:</label>
                        <input id="nPass" name="nPass" class="form-control" ng-pattern="regexPass" ng-model="passReferee" type="password" required>
                        <input type="checkbox" ng-click="toogleShowPassword()" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Mostrar contraseña
                        </label>
                        <br />
                        <span style="color: firebrick;font-size:13px;" ng-messages="formVal1.nPass.$error" ng-show="formVal1.nPass.$error.pattern && formVal1.nPass.$touched">
                            La contraseña no cumple con el patrón
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="nPassC">Confirmar Nueva Contraseña:</label>
                        <input id="nPassC" name="nPassC" class="form-control" ng-pattern="regexPass" ng-model="passRefereeC" type="password" required>
                        <span style="color: firebrick;font-size:13px;" ng-show="formVal1.nPass.$viewValue != formVal1.nPassC.$viewValue && formVal1.nPassC.$touched">
                            La contraseñas no coinciden
                        </span>
                    </div>
                    <button ng-click="ChangePassword()" class="btn btn-primary" value="Upload file">Enviar</button>
                </form>
            </div>
    </div>
    @Html.Partial("_Modals")
    @Html.Partial("_Loading")

</div>
@Scripts.Render("~/bundles/containerUserProfileAngular")
