﻿

@{
    ViewBag.Title = "UserTimbre";
    Layout = "~/Views/Shared/_User.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Document/UserTimbreController.js"></script>
}

<h2>UserTimbre</h2>
<div class="container" ng-app="document" ng-controller="userTimbre" ng-init="setAuth(@ViewBag.idReferee)">
    <h3>Paso 1: Seleccioene los timbres para firmar</h3>
    <div class="row">
        <form name="formTimbre">
            <div class="row"  ng-repeat="list in listT">
                <div class="col-md-3">
                    <h4>Tipo de timbre: {{list.name}}</h4>
                </div>
                <div class="col-md-3">
                    <h5>Disponibles: {{list.timbres.length}}</h5>
                </div>
                <div class="col-md-3">
                    <input type="number" ng-init="list.selectVal = 0" min="0" max="{{list.timbres.length}}" class="form-control" ng-disabled="list.timbres.length <= 0" ng-model="list.selectVal" />
                </div>
            </div>
        </form>
    </div>


    @*<div class="row">
        <form name="formTimbre">

            <div class="col-md-3" ng-repeat="list in listT">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Tipo de timbre: {{list.name}}</h5>
                    </div>
                    <div class="col-md-12">
                        <h5>Disponibles {{list.timbres.length}}</h5>
                    </div>
                    <div class="col-md-12">
                        <h5>Seleccione timbres para firmar</h5>
                        <input type="number" ng-init="list.selectVal = 0" min="0" max="{{list.timbres.length}}" class="form-control" ng-disabled="list.timbres.length <= 0" ng-model="list.selectVal"/>
                    </div>
                </div>
            </div>
        </form>
    </div>*@
    <h3>Paso 2: Seleccioene su archivo</h3>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form>
                <input type='file' ng-model='modeltimbase' base-sixty-four-input>
            </form>
        </div>
    </div>
    <h3>Paso 3: Envie a firmar</h3>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4 ng-hide="formTimbre.$valid">Timbres seleccionados no validos, revisar valores</h4>
            <button class="btn btn-success" ng-show="formTimbre.$valid && !statusFile" ng-click="solicitarTimbre()">Enviar a firmar</button>

            <h4 ng-show="statusFile">{{msn}}</h4>
            <button class="btn btn-success" ng-show="statusFile" ng-click="resetFiles()">Cargar nuevo</button>


            @*<button class="btn btn-warning" ng-click="revisionTimbre()">Verificar Estado</button>

            <a ng-href="http://159.65.44.11:4023/api/timbre/download/{{idFiletimbre}}" target="_blank" class="btn btn-success" download="documento.pdf">Descargar</a>*@
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerDocumentAngular")
