﻿
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="container" ng-app="document" ng-controller="userProfile" ng-init="setAuth(@ViewBag.idReferee)">

    <div class="col-xs-12 col-md-12">
        <div class="row text-center">
            <h2>Perfil del Colegiado</h2>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-9">
                    <div class="panel panel-success">
                        <div class="panel-heading">Perfil</div>
                        <div class="panel-body">
                            <div class="col-xs-12 col-md-9">
                                <div class="form-group">
                                    <label for="nombreCompleto"><b>Nombre Completo </b></label>
                                    <h4>{{completeNameReferee}}</h4>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label for="nombreCompleto"><b>Status </b></label>
                                    <br />
                                    <button ng-show="imageReferee != null && (statusReferee != 1 || statusReferee == null ) && typeReferee !== 'Fallecido' " class="btn btn-danger">Inactivo</button>
                                    <button ng-show="imageReferee != null && (statusReferee != 1 || statusReferee == null ) && typeReferee === 'Fallecido' " class="btn btn-warning">Inactivo</button>
                                    <button ng-show="imageReferee != null && statusReferee == 1" class="btn btn-success">Activo</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*********
                        <div class="panel panel-danger">
                            <div class="panel-heading">Información Principal</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label><b>Cargo</b></label>
                                        <input class="form-control" value="cargo" disabled>
                                    </div>
                                    <div class="col-md-4">
                                        <label><b>Email</b></label>
                                        <input class="form-control" value="{{mail}}" disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <label><b>Telefono</b></label>
                                        <input class="form-control" value="{{mail}}" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        *********@

                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="row  text-center">
                        <img src="{{imageReferee}}" width="100" height="100" />
                    </div>
                    <div class="row  text-center">
                        <h4>Colegiado #{{idRefereeContent}}</h4>
                    </div>
                </div>
            </div>
        </div>

        @*****************************************PAGOS**********************************************@
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Pagos</div>
                    <div class="panel-body">
                        <div style="overflow-x:auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Valor</th>
                                        <th>Último mes pagado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Cuota colegio</th>
                                        <td>{{balanceCountReferee}}</td>
                                        <td>{{balanceMountReferee | currency:"QTZ Q."}}</td>
                                        <td>{{balanceDateReferee | date :  "MM/yyyy"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cuota timbre</th>
                                        <td>{{balanceCountTimbre}}</td>
                                        <td>{{balanceMountTimbre | currency:"QTZ Q."}}</td>
                                        <td>{{balanceDateTimbre | date :  "MM/yyyy"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Auxilio Póstumo</th>
                                        <td>{{balanceCountPstumo}}</td>
                                        <td>{{balanceMountPostumo | currency:"QTZ Q."}}</td>
                                        <td>{{balanceDatePostumo | date :  "MM/yyyy"}}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">Cuota Extraordinaria Timbre</th>
                                        <td>{{balanceMountMora | currency:"QTZ Q."}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Total (Redondeado)</td>
                                        <td>{{ aproxNext(balanceMountReferee + balanceMountTimbre + balanceMountPostumo + balanceMountMora) | currency:"QTZ Q."}}</td>
                                        @*<td>{{ (balanceMountReferee + balanceMountTimbre + balanceMountPostumo + balanceMountOther + balanceMountMora) | currency:"QTZ Q."}}</td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*****************************************DIRECCIONES********************************************@
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">Direcciones</div>
                    <div class="panel-body">

                        <button ng-disabled="idRefereeContent == 0 || idRefereeContent == null" ng-hide="menuAddress" ng-click="showMenuAddress()" class="btn btn-success">Crear direccion</button>
                        <div ng-show="menuAddress" class="row">
                            <form name="formaddressreferee">
                                <div class="col-md-12"><h4>Dirección</h4></div>
                                <div class="col-md-4">
                                    <h5>Dirección</h5>
                                    <input type="text" ng-model="addressStreet" class="form-control" required />
                                </div>
                                <div class="col-md-4">
                                    <h5>Código Postal</h5>
                                    <input type="text" ng-model="addressNumber" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <h5>Zona</h5>
                                    <input type="text" ng-model="addressZone" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <h5>Colonia</h5>
                                    <input type="text" ng-model="addressColony" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <h5>Caserio</h5>
                                    <input type="text" ng-model="addressCaserio" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <h5>Barrio</h5>
                                    <input type="text" ng-model="addressBarrio" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <h5>Tipo dirección: <b>{{addressType}}</b></h5>
                                    <select ng-model="addressSelectType" class="form-control backgroundInput">
                                        <option value="1">Domicilio</option>
                                        <option value="2">Trabajo</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <h5>Pais: <b>{{addressCountry}}</b></h5>
                                    <select class="form-control backgroundInput" ng-change="getDepartamentReferee()" ng-model="addressSelectCountry" ng-options="con as con.name for con in listCountry" ng-selected="addressCountry"></select>
                                </div>
                                <div class="col-md-4">
                                    <div ng-show="dropDownCargando == 1" class="ng-class: showNotifyLittle;">
                                        <img src="~/Content/img/Cargando.gif" style="width:3%" />
                                        <small>Obteniendo información</small>
                                    </div>
                                    <h5>Departamento: <b>{{addressDep}}</b></h5>
                                    <select ng-disabled="addressSelectCountry == null" class="form-control backgroundInput" ng-change="getMunicipalityReferee()" ng-model="addressSelectDep" ng-options="con as con.name for con in listDepartament"></select>
                                </div>
                                <div class="col-md-4">
                                    <div ng-show="dropDownCargando == 2" class="ng-class: showNotifyLittle;">
                                        <img src="~/Content/img/Cargando.gif" style="width:3%" />
                                        <small>Obteniendo información</small>
                                    </div>
                                    <h5>Municipio: <b>{{addressMuni}}</b></h5>
                                    <select ng-disabled="addressSelectDep == null" class="form-control backgroundInput" ng-change="" ng-model="addressSelectMuni" ng-options="con as con.name for con in listMunicipality"></select>
                                </div>
                                <div class="col-md-4">
                                    <h5>Habilitar notificaciones</h5>
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="addressEnableNot" value="">Dirección de notificaciones</label>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <h5>Acciones</h5>

                                    <button ng-disabled="!formaddressreferee.$valid || addressSelectMuni == null || addressSelectType == null" ng-click="addAddressReferee()" ng-show="updateIdReferee == null" class="btn btn-info">Crear</button>

                                    <button ng-show="updateIdReferee != null" ng-click="updateAddressReferee()" class="btn btn-danger">Actualizar</button>

                                    <button ng-click="showMenuAddress();clearDataAddress()" class="btn btn-warning">Cancelar</button>
                                </div>
                                <div class="col-md-12"><hr /></div>
                            </form>
                        </div>
                        <div style="overflow-x:auto;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Dirección</th>
                                        <th>Código Postal</th>
                                        <th>Zona</th>
                                        <th>Colonia</th>
                                        <th>Barrio</th>
                                        <th>Caserio</th>
                                        <th>Tipo dirección</th>
                                        <th>País</th>
                                        <th>Departamento</th>
                                        <th>Municipio</th>
                                        <th>Notificaciones</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="addre in listAddress">
                                        <td>{{addre.street}}</td>
                                        <td>{{addre.number}}</td>
                                        <td>{{addre.zone}}</td>
                                        <td>{{addre.colony}}</td>
                                        <td>{{addre.barrio}}</td>
                                        <td>{{addre.caserio}}</td>
                                        <td>{{changeTypeAddress(addre.typeAddress)}}</td>
                                        <td>{{addre.country}}</td>
                                        <td>{{addre.departament}}</td>
                                        <td>{{addre.municipality}}</td>
                                        <td>{{((addre.notification == 1) ? 'Habilitada' : 'No habilitada')}}</td>
                                        <td>
                                            <button ng-show="menuAddressDelete" class="btn btn-default btn-xs" ng-click="showEditAddress(addre)">Actualizar</button>
                                            <button ng-show="menuAddressDelete" class="btn btn-danger btn-xs" ng-click="deleteAddressReferee(addre)">Eliminar</button>
                                            @*
                                            <button ng-show="menuAddressDelete" class="btn btn-danger btn-xs" ng-click="showMenuAddressDelete()">Eliminar</button>
                                            <button ng-hide="menuAddressDelete" class="btn btn-danger btn-xs" ng-click="deleteAddressReferee(addre)">Eliminar</button>
                                            <button ng-hide="menuAddressDelete" class="btn btn-warning btn-xs" ng-click="showMenuAddressDelete()">Cancelar</button>
                                            *@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @****************************************CONTACTO *********************************************@
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Contacto</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h4><b>Teléfonos</b></h4>
                                <div style="overflow-x:auto;">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Numero de teléfono</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="phon in listPhone">
                                                <td>{{phon.state}} - {{phon.number}}</td>
                                                <td>
                                                    <p ng-show="phon.idfamily != null || phon.idfamily > 0">Beneficiario</p>
                                                    <p ng-show="phon.idfamily == null || phon.idfamily == 0">Personal</p>
                                                </td>
                                                <td>{{defineTypePhone(phon.type)}}</td>
                                                <td>
                                                    <button ng-click="deletePhoneReferee(phon)" class="btn btn-danger btn-xs">Eliminar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row text-center">
                                    <h4>Agregar teléfono</h4>
                                </div>
                                <div class="row">
                                    <form name="formaddressphone">
                                        <div class="col-md-3">
                                            <h5>Codigo Pais</h5>
                                            <input type="text" ng-pattern="regexPhoneState" ng-model="adressPhone.cod" placeholder="502 por defecto" class="form-control" />
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Número telefónico</h5>
                                            <input type="text" ng-pattern="regexPhone" ng-model="adressPhone.number" class="form-control" required />
                                        </div>
                                        <div class="col-md-3">
                                            <h5>Tipo de teléfono</h5>
                                            <select class="form-control backgroundInput" ng-model="adressPhone.type" required>
                                                <option value="4">Celular</option>
                                                <option value="1">Teléfono casa</option>
                                                <option value="2">Teléfono oficina</option>
                                                <option value="5">Otro</option>
                                                <option value="3">Fax oficina</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <h5>Acciones</h5>
                                            <button ng-disabled="!formaddressphone.$valid" ng-click="addPhone(adressPhone)" class="btn btn-success btn-sm">Agregar</button>
                                        </div>
                                    </form>
                                </div>
                                <br />
                                <br />
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <h4><b>Correos electrónicos</b></h4>
                                <div style="overflow-x:auto;">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Correo electrónico</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="mailitem in listMail">
                                                <td>{{mailitem.mail}}</td>
                                                <td>
                                                    <button ng-click="deleteMailReferee(mailitem)" class="btn btn-danger btn-xs">Eliminar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row text-center">
                                    <h4>Agregar correo electrónico</h4>
                                </div>
                                <div class="row">
                                    <form class="form" name="formaddressmail">
                                        <div class="col-md-8">
                                            <label for="nMail">Nuevo Correo:</label>
                                            <input ng-model="mailitem.texto" type="email" class="form-control" required />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="boton">Acción:</label>
                                            <button ng-disabled="!formaddressmail.$valid" ng-click="addMailReferee(mailitem)" class="btn btn-success btn-sm">Agregar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @****************************************ACCIONES*********************************************@
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Cuenta</div>
                    <div class="panel-body">
                        @Html.ActionLink("CAMBIAR CONTRASEÑA", "UserProfile_ChangePassword", "Document", null, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
    </div>
        @* ********** CARGA DE IMAGEN PERSONALIZADA *************
            <div class="row" ng-show="TipoPlanTimbre == 2">
                <div class="col-md-6 text-right">
                    <h3>Carga de imagen personalizada: </h3>
                </div>
                <form name="form">
                    <div class="col-md-3">
                        <input id="fileInput" type="file" accept="image/*">
                        <br />
                        <button ng-click="submit()" class="btn btn-primary" style="width:150px;height:25px;" value="Upload file">Cargar Imagen</button>
                    </div>
                </form>
            </div>
            ****************************************************
        *@
    @Html.Partial("_Modals")
    @Html.Partial("_Loading")
    
</div>
@Scripts.Render("~/bundles/containerUserProfileAngular")