﻿
@{
    ViewBag.Title = "ValidarDocumento";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/Document/ValidarDocumentoController.js"></script>
}

<h2>Validar Documento</h2>
<br />
<div class="container" ng-app="document" ng-controller="validarDocumento" ng-init="init(@ViewBag.idDocument)">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2 backgroundImg">
                    <img src="~/images/logo.png" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form name="form">
                        <div class="col-md-12">
                            <h5>Código de verificación</h5>
                            <input type="text" ng-model="numberDoc" class="form-control" required />
                        </div>
                        <div class="col-md-12" ng-show="idUpdate > 0 && dateCon == null">
                            <h5>Entidad/Person</h5>
                            <input type="text" ng-model="intitution" class="form-control"required />
                        </div>
                        <div class="col-md-12" ng-show="idUpdate > 0">
                            <br />
                            <div vc-recaptcha
                                 ng-model="rcaptcha"
                                 key="'6LfeuxQUAAAAALavCldWuI71PXmA93h1OzV1WNbw'">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br />
                            <div class="col-md-6">
                                <button ng-disabled="" ng-click="searchData()" class="btn btn-primary btn-block">Verificar</button>
                            </div>
                            <div class="col-md-6" ng-show="idUpdate > 0">
                                <button ng-disabled="!form.$valid" ng-click="update()" class="btn btn-success btn-block">Consumir</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <h4>{{textSuccess}}</h4>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h5><b>Certificado No.: {{number}}</b></h5>
                    <h5><b>Emitido a nombre de: {{name}}</b></h5>
                    <h5><b>Emitido en fecha: {{dateEmit | date:'dd/MM/yyyy'}}</b></h5>
                    <h5><b>Válidez hasta: {{dateFinish | date:'MM/yyyy'}}</b></h5>
                    <h5><b>Consumido por: {{institution}}</b></h5>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerDocumentAngular")
