﻿
@{
    ViewBag.Title = "BanckAccounts";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/BanckAccountsController.js"></script>
}

<h2>Cuentas bancarias</h2>
<br />
<div class="container" ng-app="generals" ng-controller="banckAccount" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h5>Seleccione banco</h5>
                        <select class="form-control" ng-model="selectBank" ng-change="getBankAccount()" ng-options="cou as cou.name for cou in listBank"></select>
                        <br />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        @if (ViewBag.nuevoCuentaBanc || ViewBag.editarCuentaBanc)
                        {
                        <form name="formbank">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Numero de cuenta</h5>
                                    <input type="text" ng-model="numberBankAccount" class="form-control" ng-disabled="idBanck == 0" required />
                                </div>
                                <div class="col-md-4">
                                    <h5>Código</h5>
                                    <input type="text" ng-model="codBankAccount" class="form-control" ng-disabled="idBanck == 0" required />
                                </div>
                                <div class="col-md-4">
                                    <h5>Formato</h5>
                                    <input type="text" ng-model="formatBankAccount" class="form-control" ng-disabled="idBanck == 0" required />
                                </div>
                                <div class="col-md-4">
                                    <h5>Nombre</h5>
                                    <input type="text" ng-model="nameBankAccount" class="form-control" ng-disabled="idBanck == 0" required />
                                </div>
                                <div class="col-md-8">
                                    <h5>Acciones</h5>
                                    @if (ViewBag.nuevoCuentaBanc)
                                    {
                                        <button ng-show="idUpdate == 0 || idUpdate == null" ng-disabled="!formbank.$valid" ng-click="add()" class="btn btn-success">Agregar</button>
                                    }
                                    @if (ViewBag.editarCuentaBanc)
                                    {
                                        <button ng-show="idUpdate > 0" ng-disabled="!formbank.$valid" ng-click="update()" class="btn btn-info">Actualizar</button>
                                        <button ng-show="idUpdate > 0" ng-click="idUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                                    }
                                </div>
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre de cuenta</th>
                                    <th>Código</th>
                                    <th>Formato</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in list">
                                    <td>{{type.NoAccount}}</td>
                                    <td>{{type.codigo}}</td>
                                    <td>{{type.format}}</td>
                                    <td>{{type.name}}</td>
                                    <td>
                                        @if (ViewBag.editarCuentaBanc)
                                        {
                                            <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarCuentaBanc)
                                        {
                                            <button ng-show="showDelete" ng-click="delete(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")
