﻿
@{
    ViewBag.Title = "Caja";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/cashController.js"></script>
}

<h2>Caja</h2>
<br />
<div class="container" ng-app="generals" ng-controller="cash" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h5>Seleccione Pais</h5>
                        <select class="form-control" ng-model="selectCountry" ng-change="getDepartament()" ng-options="cou as cou.name for cou in listCountry"></select>

                    </div>
                    <div class="col-md-4">
                        <h5>Seleccione departamento</h5>
                        <select class="form-control" ng-model="selectDepartament" ng-change="getMunicipality()" ng-options="dep as dep.name for dep in listDepartament"></select>

                    </div>
                    <div class="col-md-4">
                        <h5>Seleccione municipio</h5>
                        <select class="form-control" ng-model="selectMunicipality" ng-change="getHeadquar()" ng-options="mun as mun.name for mun in listMunicipality"></select>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <h5>Seleccione sede</h5>
                        <select class="form-control" ng-model="selectHeadquart" ng-change="getPayment()" ng-options="hea as hea.address for hea in listHeadquarter"></select>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <h5>Seleccione centro de pago</h5>
                        <select class="form-control" ng-model="selectPayment" ng-change="getCash()" ng-options="cen as cen.name for cen in listPaymentCenter"></select>
                        <br />
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        @if (ViewBag.nuevoCaja || ViewBag.editarCaja)
                        {
                        <form name="formcash">
                            <div class="col-md-6">
                                <h5>Nombre</h5>
                                <input ng-disabled="idPaymentCenter == 0 || idPaymentCenter == null" type="text" ng-model="cashname" class="form-control" required />
                                <br />
                            </div>
                            <div class="col-md-6">
                                <h5>Estado: {{selectCashActive(cashactive)}}</h5>
                                <select class="form-control backgroundInput" ng-model="cashselectactive">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                                <br />
                            </div>
                            <div class="col-md-12">
                                @if (ViewBag.nuevoCaja)
                                {
                                <button ng-show="idCashUpdate == 0 || idCashUpdate == null" ng-disabled="!formcash.$valid" ng-click="addCash()" class="btn btn-success">Agregar</button>
                                }
                                @if (ViewBag.editarCaja)
                                {
                                <button ng-show="idCashUpdate > 0" ng-disabled="!formcash.$valid" ng-click="updateCash()" class="btn btn-info">Actualizar</button>
                                <button ng-show="idCashUpdate > 0" ng-click="idCashUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                                }
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Activo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listCash">
                                    <td>{{type.name}}</td>
                                    <td>{{selectCashActive(type.activo)}}</td>
                                    <td>
                                        @if (ViewBag.editarCaja)
                                        {
                                            <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarcaja)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteCash(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

