﻿
@{
    ViewBag.Title = "Cellar";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/cellarController.js"></script>
}

<h2>Bodega</h2>
<br />
<div class="container" ng-app="generals" ng-controller="cellar" ng-init="setAuth()">
    <div class="row">
        <div class="container" ng-show="showPage == 0">
            <div class="row">
                @if (ViewBag.nuevoBodega)
                {
                <form name="formcellar" novalidate>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <h5>Numero de Hoja</h5>
                            <input class="form-control" ng-blur="startPage()" ng-pattern="regexPages" ng-model="numberPage" required />
                        </div>
                        <div class="col-md-3">
                            <h5>Numeros de timbre de inicio</h5>
                            <input class="form-control" ng-pattern="regexNumber" ng-model="numberInit" required />
                        </div>
                        <div class="col-md-3">
                            <h5>Numeros de timbre de finalizacion</h5>
                            <input class="form-control" ng-pattern="regexNumber" ng-model="numberFinal" required />
                        </div>
                        <div class="col-md-3">
                            <h5>Monto de timbre</h5>
                            <select class="form-control backgroundInput" ng-model="selectValue" ng-change="getCountry()" ng-options="list as list.name for list in listT" required></select>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <button ng-disabled="!formcellar.$valid" ng-click="createListTimbre(@ViewBag.idCahier)" class="btn btn-success">Agregar</button>
                            <button class="btn btn-warning" ng-click="showPage = 1">Buscar Hojas</button>
                            <button class="btn btn-default" ng-click="changeReport()">Ver reporte</button>
                            <button class="btn btn-danger" ng-show="listTimbreSend.length > 0" ng-click="clearList()">Borrar listado</button>
                            <button class="btn btn-success" ng-show="listTimbreSend.length > 0" ng-click="addListCellar(0)">Iniciar Envio Listado</button>
                        </div>
                    </div>
                </form>
                }
                else
                {
                    <button class="btn btn-warning" ng-click="showPage = 1">Buscar Hojas</button>
                }
            </div>
            <br />
            <div class="row" ng-show="listTimbreSend.length > 0">
                <div class="col-md-12">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Numero de Hoja</th>
                                    <th>Timbre inicio</th>
                                    <th>Timbre finalizacion</th>
                                    <th>Valor</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listTimbreSend">
                                    <td>{{list.numberPage}}</td>
                                    <td>{{list.initRange}}</td>
                                    <td>{{list.finishRange}}</td>
                                    <td>{{list.value}}</td>
                                    <td>{{list.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.editarBodega)
                    {
                    @*<div class="col-md-6">
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="pagesTimbreUpdate" />
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" ng-model="selectCashierUpdate" ng-options="lis as lis.name for lis in listCashier"></select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-warning" ng-click="updateCellar()" ng-disabled="pagesTimbreUpdate == null || pagesTimbreUpdate == ''">Actualizar</button>
                        </div>
                    </div>*@
                    }
                    @if (ViewBag.eliminarBodega)
                    {
                    @*<div class="col-md-6">
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="pagesTimbreDelete" />
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-danger" ng-click="deleteCellar(pagesTimbreDelete)" ng-disabled="pagesTimbreDelete == null || pagesTimbreDelete == ''">Eliminar</button>
                        </div>
                    </div>*@
                    }
                </div>
                <div class="col-md-12" ng-init="isAsign = false">
                    @if (ViewBag.editarBodega)
                    {
                    <div class="col-md-12">
                        <h4>Asignar series</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="pagesTimbreUpdate" />
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="selectCashierUpdate" ng-options="lis as lis.name for lis in listCashier"></select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="selectValueUpdate" ng-options="list as list.name for list in listT"></select>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-warning" ng-click="updateCellar()" ng-disabled="pagesTimbreUpdate == null || pagesTimbreUpdate == ''">Asignar</button>
                    </div>
                    <div class="col-md-3" ng-show="isAsign">
                        <h4 >Asignados</h4>
                    </div>
                    }
                </div>
                <div class="col-md-12">
                    @if (ViewBag.eliminarBodega)
                    {
                    <div class="col-md-12">
                        <h4>Eliminar series</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="pagesTimbreDelete" />
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="selectValueDelete" ng-options="list as list.name for list in listT"></select>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger" ng-click="deleteCellar(pagesTimbreDelete, selectValueDelete)" ng-disabled="pagesTimbreDelete == null || pagesTimbreDelete == ''">Eliminar</button>
                    </div>
                    }
                </div>
            </div>
            <hr />
            <div class="row" ng-show="idUpdate > 0">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    @if (ViewBag.editarBodega)
                    {


                    @*<form name="formidcahier">
                        <div class="col-md-4">
                            <h5>Numero de Hoja</h5>
                            <h4>{{numberPageText}}</h4>
                        </div>
                        <div class="col-md-4">
                            <h5>Seleccionar Cajero</h5>
                            <select class="form-control" ng-model="selectCashier" ng-options="lis as lis.name for lis in listCashier"></select>
                        </div>
                        <div class="col-md-4">
                            <h5>Asignar</h5>
                            <button ng-disabled="!formidcahier.$valid" ng-click="updateCellar()" class="btn btn-success">Asignar</button>
                        </div>
                    </form>*@
                    }
                </div>
            </div>
        </div>
        <br />
        <div class="container"  ng-show="showPage == 0">
            <div class="row">
                <form name="formsearch">
                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <input ng-model="searchnumberPage" ng-pattern="regexSearchPAge" class="form-control" placeholder="Busqueda rapida" required />
                            <button class="btn btn-success" ng-disabled="!formsearch.$valid" ng-click="getCellar()">Buscar</button>
                        </div>
                    </div>
                </form>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Numero de Hoja</th>
                                    <th>Valor</th>
                                    @*<th>Acciones</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listCellar">
                                    <td>{{list.numberPage}}</td>
                                    <td>{{list.textAmount}}</td>
                                    @*<td>
                                        @if (ViewBag.editarBodega)
                                        {
                                            <button ng-hide="showDelete" ng-click="showDataUpdate(list)" class="btn btn-default btn-xs">Asignar</button>
                                        }
                                        @if (ViewBag.eliminarBodega)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteUniversity(list)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" ng-show="showPage == 1">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <h5>Seleccionar monto</h5>
                        <select class="form-control" ng-model="selectValueFind" ng-options="list as list.name for list in listT" required></select>
                    </div>
                    <div class="col-md-3">
                        <h5>Seleccionar Cajero</h5>
                        <select class="form-control" ng-model="selectCashierFind" ng-options="lis as lis.name for lis in listCashier"></select>
                    </div>
                    <div class="col-md-3">
                        <h5>Seleccionar fecha inicio</h5>
                        <md-datepicker ng-model="dateFind" md-placeholder="Ingreso fecha"></md-datepicker>
                    </div>
                    <div class="col-md-3">
                        <h5>Seleccionar fecha final</h5>
                        <md-datepicker ng-model="dateFFind" md-placeholder="Ingreso fecha"></md-datepicker>
                    </div>
                    <div class="col-md-3">
                        <h5>No. hoja</h5>
                        <input class="form-control" ng-model="pageFind" />
                    </div>
                    <div class="col-md-6">
                        <h5>Acciones</h5>
                        <button class="btn btn-success" ng-click="getTimbreAssing()">Buscar</button>
                        <button class="btn btn-info" ng-click="clearFind()">Limpiar busqueda</button>
                        <button class="btn btn-warning" ng-click="showPage = 0">Regresar</button>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>
                <div class="col-md-12">
                    <div>
                        <table class="table table-striped" ng-init="showDesasignar = true">
                            <thead>
                                <tr>
                                    <th>Numero de Hoja</th>
                                    <th>Fecha creacion</th>
                                    <th>Valor</th>
                                    <th>Timbre disponibles/total asignados</th>
                                    <th>Cajero</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listCellarAssing">
                                    <td>{{list.numberPage}}</td>
                                    <td>{{list.dateCreate | date:"dd/MM/yyyy"}}</td>
                                    <td>{{list.value}}</td>
                                    <td>{{list.countEnable + '/' + list.countTimbre}}</td>
                                    <td>{{list.nameCashier}}</td>
                                    <td>
                                        <button ng-show="showDesasignar" ng-click="viewTimbre(list)" class="btn btn-primary btn-xs">Ver timbres</button>
                                        @if (ViewBag.editarBodega)
                                        {
                                            <button ng-show="showDesasignar && list.status == 1" ng-click="showDesasignar = false;" class="btn btn-danger btn-xs">Desasignar</button>
                                            <button ng-hide="showDesasignar" ng-click="updateTimbre(1, list.id, list)" class="btn btn-danger btn-xs">Desasignar</button>
                                            <button ng-hide="showDesasignar" ng-click="showDesasignar = true;" class="btn btn-warning btn-xs">Cancelar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" ng-show="showPage == 2">
            <div class="row">
                <div class="col-md-9">
                    <h3>Numero de Pagina: {{numberPageTimbre}}</h3>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-warning" ng-click="showPage = 1">Regreso</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped" ng-init="showDesasignarT = true">
                            <thead>
                                <tr>
                                    <th>Numero de timbre</th>
                                    <th>Estatus de timbre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listTimbre">
                                    <td>{{list.numberTimbre}}</td>
                                    <td>{{statusTimbre(list.statusTimbre)}}</td>
                                    <td>
                                        @if (ViewBag.editarBodega)
                                        {
                                            <button ng-show="showDesasignarT && list.statusTimbre == 1" ng-click="showDesasignarT = false;" class="btn btn-danger btn-xs">Dar de baja</button>
                                            <button ng-hide="showDesasignarT" ng-click="updateTimbre(2, list.noTimbre, list)" class="btn btn-danger btn-xs">Dar de baja</button>
                                            <button ng-hide="showDesasignarT" ng-click="showDesasignarT = true;" class="btn btn-warning btn-xs">Cancelar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

