﻿@{
    ViewBag.Title = "Pais";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/countryController.js"></script>
}

<h2>Pais</h2>
<br />
<div class="container" ng-app="generals" ng-controller="country" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @if (ViewBag.nuevoPais || ViewBag.editarPais)
                    {
                    <form name="formcountry">
                        <h4>Nombre país</h4>
                        <input type="text" ng-model="countryname" class="form-control" required />
                        <br />
                        @if (ViewBag.nuevoPais)
                        {
                        <button ng-show="idContryUpdate == 0 || idContryUpdate == null" ng-disabled="!formcountry.$valid" ng-click="addCountry()" class="btn btn-success">Agregar</button>
                        }
                        @if (ViewBag.editarPais)
                        {
                        <button ng-show="idContryUpdate > 0" ng-disabled="!formcountry.$valid" ng-click="updateCountry()" class="btn btn-info">Actualizar</button>
                        <button ng-show="idContryUpdate > 0" ng-click="idContryUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                        }
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre del pais</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listCountry">
                                    <td>{{type.name}}</td>
                                    <td>
                                        @if (ViewBag.editarPais)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarPais)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteCountry(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

