﻿@{
    ViewBag.Title = "Departamento";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/departamentController.js"></script>
}

<h2>Departamento</h2>
<br />
<div class="container" ng-app="generals" ng-controller="departament" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h5>Seleccione Pais</h5>
                        <select class="form-control" ng-model="selectCountry" ng-change="getCountry()" ng-options="cou as cou.name for cou in listCountry"></select>
                        <br />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        @if (ViewBag.nuevoDepartamento || ViewBag.editarDepartamento)
                        {
                        <form name="formdepartament">
                            <h5>Nombre departamento</h5>
                            <input ng-disabled="idCountry == 0 || idCountry == null" type="text" ng-model="departamentname" class="form-control" required />
                            <br />
                            @if (ViewBag.nuevoDepartamento)
                            {
                            <button ng-show="idDepartamentUpdate == 0 || idDepartamentUpdate == null" ng-disabled="!formdepartament.$valid" ng-click="addDepartament()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarDepartamento)
                            {
                            <button ng-show="idDepartamentUpdate > 0" ng-disabled="!formdepartament.$valid" ng-click="updateDepartament()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idDepartamentUpdate > 0" ng-click="idDepartamentUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre departamento</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listDepartament">
                                    <td>{{type.name}}</td>
                                    <td>
                                        @if (ViewBag.editarDepartamento)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarDepartamento)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteDepartament(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

