﻿
@{
    ViewBag.Title = "DiplomaNewReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/diplomaNewRefereeController.js"></script>
}

<h2>Diploma nuevo colegiado</h2>
<div class="container" ng-app="generals" ng-controller="diplomaNewReferee" ng-init="setAuth()">
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="idRefereeContent" />
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" ng-click="generateList()">Obtener diploma</button>
        </div>
    </div>
    <br />
    <div class="row">
        <iframe ng-src="{{direction}}" width="900" height="500"></iframe>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

