﻿
@{
    ViewBag.Title = "DocumentForReceipt";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/documentForReceiptController.js"></script>
}

<h2>Documentos por Recibo</h2>
<div class="container" ng-app="generals" ng-controller="documentForReceipt" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form name="formaccount">
                        <h4>Numero de recibo</h4>
                        <input type="text" ng-model="numberreceipt" class="form-control" required />
                        <br />
                        <button class="btn btn-default" ng-click="getReceipt()">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>A nombre</th>
                            <th>Fecha</th>
                            <th>Imprimir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listDataReceipt">
                            <td>{{list.name}}</td>
                            <td>{{list.date  | date:"dd/MM/yyyy  hh:mm"}}</td>
                            <td>
                                <button class="btn btn-default btn-xs" ng-click="getDocs(list.id)">Buscar documentos</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Numero doc</th>
                            <th>Documento</th>
                            <th>Imprimir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listDataDoc">
                            <td>{{list.idDocument}}</td>
                            <td>{{list.title}}</td>
                            <td>
                                <a ng-href="{{list.direccion}}" class="btn btn-default btn-xs" target="_blank">Imprimir Documento</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")