﻿
@{
    ViewBag.Title = "GlobalVars";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}
@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/globalVarsController.js"></script>
}
<h2>Variables Globales</h2>
<br />
<div class="container" ng-app="generals" ng-controller="globalVars" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form name="form">
                        <div class="col-md-6">
                            <h4>Clave</h4>
                            <input type="text" ng-model="key" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <h4>Valor</h4>
                            <input type="text" ng-model="value" class="form-control" required />
                        </div>
                        <div class="col-md-12">
                            <br />
                            <button ng-show="idUpdate == 0 || idUpdate == null" ng-disabled="!form.$valid" ng-click="add()" class="btn btn-success">Agregar</button>

                            <button ng-show="idUpdate > 0" ng-disabled="!form.$valid" ng-click="update()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idUpdate > 0" ng-click="idUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                        </div>
                        
                            
                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Valor</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in list">
                                    <td>{{type.key}}</td>
                                    <td>{{type.value}}</td>
                                    <td>
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        
                                        <button ng-show="showDelete" ng-click="delete(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                        <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                        <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")
