﻿@{
    ViewBag.Title = "Sedes";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/headquartersController.js"></script>
}

<h2>Sedes</h2>
<br />
<div class="container" ng-app="generals" ng-controller="headquarters" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h5>Seleccione Pais</h5>
                        <select class="form-control" ng-model="selectCountry" ng-change="getDepartament()" ng-options="cou as cou.name for cou in listCountry"></select>

                    </div>
                    <div class="col-md-4">
                        <h5>Seleccione departamento</h5>
                        <select class="form-control" ng-model="selectDepartament" ng-change="getMunicipality()" ng-options="dep as dep.name for dep in listDepartament"></select>

                    </div>
                    <div class="col-md-4">
                        <h5>Seleccione municipio</h5>
                        <select class="form-control" ng-model="selectMunicipality" ng-change="getHeadquar()" ng-options="mun as mun.name for mun in listMunicipality"></select>
                        <br />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        @if (ViewBag.nuevoSede || ViewBag.editarSede)
                        {
                        <form name="formheadquarters">
                            <div class="col-md-4">
                                <h5>Dirección</h5>
                                <input ng-disabled="idMunicipality == 0 || idMunicipality == null" type="text" ng-model="headquaaddress" class="form-control" required />
                            </div>
                            <div class="col-md-4">
                                <h5>Telefono</h5>
                                <input ng-disabled="idMunicipality == 0 || idMunicipality == null" ng-pattern="regexPhone" type="text" ng-model="headquaphone" class="form-control" required />
                            </div>
                            <div class="col-md-4">
                                <h5>Coordenadas</h5>
                                <input ng-disabled="idMunicipality == 0 || idMunicipality == null" type="text" ng-model="headquacoordinated" class="form-control" required />
                                <br />
                            </div>
                            <div class="col-md-12">
                                @if (ViewBag.nuevoSede)
                                {
                                <button ng-show="idHeadquartersUpdate == 0 || idHeadquartersUpdate == null" ng-disabled="!formheadquarters.$valid" ng-click="addHeadquarters()" class="btn btn-success">Agregar</button>
                                }
                                @if (ViewBag.editarSede)
                                {
                                <button ng-show="idHeadquartersUpdate > 0" ng-disabled="!formheadquarters.$valid" ng-click="updateHeadquarters()" class="btn btn-info">Actualizar</button>
                                <button ng-show="idHeadquartersUpdate > 0" ng-click="idHeadquartersUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                                }
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Dirección</th>
                                    <th>Telefono</th>
                                    <th>Coordenadas</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listHeadquarter">
                                    <td>{{type.address}}</td>
                                    <td>{{type.phone}}</td>
                                    <td>
                                        <button ng-click="viewMaps(type)" class="btn btn-success btn-xs">Ver Mapa</button>
                                    </td>
                                    <td>
                                        @if (ViewBag.editarSede)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarSede)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteHeadquarters(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

