﻿
@{
    ViewBag.Title = "Mapa";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}


<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div id="map" class="maps"></div>
    </div>
</div>


<script type="text/javascript">

    function initMap() {


        var myLatlng = new google.maps.LatLng(@ViewBag.lat, @ViewBag.log);
        var mapOptions = {
            zoom: 17,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng
        });

        marker.setMap(map);

    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.idApi&callback=initMap">
</script>


