﻿
@{
    ViewBag.Title = "Language";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/languageController.js"></script>
}

<h2>Lenguajes</h2>
<br />
<div class="container" ng-app="generals" ng-controller="language" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @if (ViewBag.nuevoLenguaje || ViewBag.editarLenguaje)
                    {
                    <form name="formlanguage">
                        <h5>Nombre del lenguaje</h5>
                        <input type="text" ng-model="nameLanguage" class="form-control" required />
                        <br />
                        @if (ViewBag.nuevoLenguaje)
                        {
                        <button ng-show="idLanguageUpdate == 0 || idLanguageUpdate == null" ng-disabled="!formlanguage.$valid" ng-click="addLanguage()" class="btn btn-success">Agregar</button>
                        }
                        @if (ViewBag.editarLenguaje)
                        {
                        <button ng-show="idLanguageUpdate > 0" ng-disabled="!formlanguage.$valid" ng-click="updateLanguage()" class="btn btn-info">Actualizar</button>
                        <button ng-show="idLanguageUpdate > 0" ng-click="idLanguageUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                        }
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre del lenguaje</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listLanguage">
                                    <td>{{type.name}}</td>
                                    <td>
                                        @if (ViewBag.editarLenguaje)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarLenguaje)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteLanguage(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

