﻿
@{
    ViewBag.Title = "ListedDocuments";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/listedDocumentsController.js"></script>
}

<h2>Crear listado de documentos</h2>
<div class="container" ng-app="generals" ng-controller="listedDocuments" ng-init="setAuth()">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form name="formlist">
                <div class="col-md-4">
                    <h5>Ingresar rango</h5>
                    <input type="text" class="form-control" ng-model="range" required/>
                </div>
                <div class="col-md-4">
                    <h5>Tipo de documento</h5>
                    <select class="form-control" ng-model="typeDoc" required>
                        <option value="1">Certificaciones</option>
                        <option value="2">Diplomas</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <h5>Acción</h5> 
                    <button class="btn btn-success" ng-click="getListDocs(@ViewBag.idCahier)" ng-disabled="!formlist.$valid">Generar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h5>{{textError}}</h5>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Colegiado</th>
                            <th>No. Documento</th>
                            <th>Imprimir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="type in list">
                            <td>{{type.idReferee}}</td>
                            <td>{{type.idDocument}}</td>
                            <td>
                                <a ng-href="{{type.address}}" class="btn btn-default btn-xs" target="_blank">Imprimir Documento</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

