﻿@{
    ViewBag.Title = "Municipios";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/municipalityController.js"></script>
}

<h2>Municipio</h2>
<br />
<div class="container" ng-app="generals" ng-controller="municipality" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <h5>Seleccione Pais</h5>
                        <select class="form-control" ng-model="selectCountry" ng-change="getDepartament()" ng-options="cou as cou.name for cou in listCountry"></select>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <h5>Seleccione departamento</h5>
                        <select class="form-control" ng-model="selectDepartament" ng-change="getMunici()" ng-options="dep as dep.name for dep in listDepartament"></select>
                        <br />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        @if (ViewBag.nuevoMunicipio || ViewBag.editarMunicipio)
                        {
                        <form name="formmunicipality">
                            <h5>Nombre municipio</h5>
                            <input ng-disabled="idDepartament == 0 || idDepartament == null" type="text" ng-model="municipalityname" class="form-control" required />
                            <br />
                            @if (ViewBag.nuevoMunicipio)
                            {
                            <button ng-show="idMunicipalityUpdate == 0 || idMunicipalityUpdate == null" ng-disabled="!formmunicipality.$valid" ng-click="addMunicipality()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarMunicipio)
                            {
                            <button ng-show="idMunicipalityUpdate > 0" ng-disabled="!formmunicipality.$valid" ng-click="updateMunicipality()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idMunicipalityUpdate > 0" ng-click="idMunicipalityUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre municipio</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listMunicipality">
                                    <td>{{type.name}}</td>
                                    <td>
                                        @if (ViewBag.editarMunicipio)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarMunicipio)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteMunicipality(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

