﻿@{
    ViewBag.Title = "OpenCloseCash";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/openCloseCashController.js"></script>
}

<h2>Apertura y Cierre</h2>
<br />
<div class="container" ng-app="generals" ng-controller="openClose" ng-init="setAuth(@ViewBag.idCahier)">
    <div class="row">
        <div class="container" ng-show="showStatus == 0">
            <div class="row">
                <form name="formopenclose" novalidate>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <h5>Monto en efectivo</h5>
                            <input class="form-control" ng-init="amountCashOpen = '0.00'" ng-pattern="regexAmount" ng-model="amountCashOpen" required />
                        </div>
                        @*<div class="col-md-3">
                            <h5>Monto en documento</h5>
                            <input class="form-control" ng-init="amountDocOpen = '0.00'" ng-pattern="regexAmount" ng-model="amountDocOpen" required />
                        </div>
                        <div class="col-md-3">
                            <h5>Monto transaccion elec.</h5>
                            <input class="form-control" ng-init="amountTransOpen = '0.00'" ng-pattern="regexAmount" ng-model="amountTransOpen" required />
                        </div>*@
                        @*<div class="col-md-3">
                            <h5>Monto Total</h5>
                            <input class="form-control" ng-init="amountTotalOpen = '0.00'" ng-pattern="regexAmount" ng-model="amountTotalOpen" required />
                        </div>*@
                        <div class="col-md-3">
                            <h5>Estado</h5>
                            <select class="form-control" ng-change="showLocations()" ng-model="amountSelectStateOpen" ng-options="lis as lis.name for lis in listSelectState" required></select>
                            <br />
                        </div>
                        <div class="col-md-3" ng-show="showCash">
                            <h5>Seleccione sede</h5>
                            <select class="form-control" ng-model="amountSelectHeadquarter" ng-change="getPaymentCenter()" ng-options="lis as lis.address for lis in listHeadquarter" ng-required="showCash"></select>
                        </div>
                        <div class="col-md-3" ng-show="showCash">
                            <h5>Seleccione centro pago</h5>
                            <select class="form-control" ng-model="amountSelectPaymentCenter" ng-change="getCash()" ng-options="lis as lis.name for lis in listPaymentCenter" ng-required="showCash"></select>
                        </div>
                        <div class="col-md-3" ng-show="showCash">
                            <h5>Seleccione caja</h5>
                            <select class="form-control" ng-model="amountSelectCash" ng-options="lis as lis.name for lis in listCash" ng-required="showCash"></select>
                        </div>
                        <div class="col-md-3" ng-show="showCash">
                            <h5>No. de recibo</h5>
                            <input class="form-control" ng-pattern="regexAmount" ng-model="receiptOpen"  ng-required="showCash" />
                        </div>
                        <div class="col-md-12">
                            <br />
                            <button ng-disabled="!formopenclose.$valid" ng-click="aceptOpenClose(@ViewBag.idCahier, @ViewBag.idCash); showMounth = ((amountCashOpen > 0) ? true: false)" class="btn btn-success">Aceptar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div class="container" ng-show="showStatus == 1">
            <form name="formbills">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-warning" ng-click="showMounth = true">Ingreso de montos</button>
                    </div>
                    <div class="col-md-12" ng-hide="enableTotal">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"ng-show="showMounth">
                            <div class="alert alert-warning" role="alert">
                                <p>Las monedas y billetes no coinciden con el valor ingresado ({{subTotal}}) en el total de efectivo ({{amountCashOpen}}).</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="showMounth">
                        <h4>Moneadas</h4>
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.0.01</h5>
                        <input class="form-control" ng-init="amountcash.cent1 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.cent1" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.0.05</h5>
                        <input class="form-control" ng-init="amountcash.cent5 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.cent5" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.0.10</h5>
                        <input class="form-control" ng-init="amountcash.cent10 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.cent10" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.0.25</h5>
                        <input class="form-control" ng-init="amountcash.cent25 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.cent25" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.0.50</h5>
                        <input class="form-control" ng-init="amountcash.cent50 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.cent50" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.1.00</h5>
                        <input class="form-control" ng-init="amountcash.cent100 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.cent100" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-show="showMounth">
                        <h4>Billetes</h4>
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.1.00</h5>
                        <input class="form-control" ng-init="amountcash.bill1 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.bill1" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.5.00</h5>
                        <input class="form-control" ng-init="amountcash.bill5 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.bill5" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.10.00</h5>
                        <input class="form-control" ng-init="amountcash.bill10 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.bill10" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.20.00</h5>
                        <input class="form-control" ng-init="amountcash.bill20 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.bill20" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.50.00</h5>
                        <input class="form-control" ng-init="amountcash.bill50 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.bill50" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.100.00</h5>
                        <input class="form-control" ng-init="amountcash.bill100 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.bill100" required />
                    </div>
                    <div class="col-md-3" ng-show="showMounth">
                        <h5>Q.200.00</h5>
                        <input class="form-control" ng-init="amountcash.bill200 = '0'" ng-blur="sumValues()" ng-pattern="regexDigit" ng-model="amountcash.bill200" required />
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Ingresar fecha de corte</h5>
                            <md-datepicker ng-model="amountcash.date" md-placeholder="Ingreso fecha" ng-required="true"></md-datepicker>
                        </div>
                        <div class="col-md-3">
                            <h5>Acciones</h5>
                            <button class="btn btn-success" ng-click="addCloseCash(@ViewBag.idCahier, @ViewBag.idCash)" ng-disabled="!formbills.$valid">Aceptar corte caja</button>
                            <button class="btn btn-warning" ng-click="changeIndex()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @*<div class="container">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Monto efectivo</th>
                                    <th>Monto documento</th>
                                    <th>Monto transacción</th>
                                    <th>Total</th>
                                    <th>Fecha</th>
                                    <th>Apertura</th>
                                    <th>Caja</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listOpenCloseCash">
                                    <td>{{list.amountCash | number:2}}</td>
                                    <td>{{list.amountDoc | number:2}}</td>
                                    <td>{{list.amountTrans | number:2}}</td>
                                    <td>{{list.total | number:2}}</td>
                                    <td>{{list.date | date:"MM/dd/yyyy ' ' h:mma"}}</td>
                                    <td>{{selectOpenClose(list.openClose)}}</td>
                                    <td>{{list.idCash}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

