﻿
@{
    ViewBag.Title = "Centro de Pago";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/paymentCenterController.js"></script>
}

<h2>Centro de pago</h2>
<br />
<div class="container" ng-app="generals" ng-controller="paymentCenter" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <h5>Seleccione Pais</h5>
                        <select class="form-control" ng-model="selectCountry" ng-change="getDepartament()" ng-options="cou as cou.name for cou in listCountry"></select>

                    </div>
                    <div class="col-md-3">
                        <h5>Seleccione departamento</h5>
                        <select class="form-control" ng-model="selectDepartament" ng-change="getMunicipality()" ng-options="dep as dep.name for dep in listDepartament"></select>

                    </div>
                    <div class="col-md-3">
                        <h5>Seleccione municipio</h5>
                        <select class="form-control" ng-model="selectMunicipality" ng-change="getHeadquar()" ng-options="mun as mun.name for mun in listMunicipality"></select>
                        <br />
                    </div>
                    <div class="col-md-3">
                        <h5>Seleccione sede</h5>
                        <select class="form-control" ng-model="selectHeadquart" ng-change="getPayment()" ng-options="hea as hea.address for hea in listHeadquarter"></select>
                        <br />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        @if (ViewBag.nuevoCentroPago || ViewBag.editarCentroPago)
                        {
                        <form name="formpayment">
                            <div class="col-md-12">
                                <h5>Nombre</h5>
                                <input ng-disabled="idHeadquarter == 0 || idHeadquarter == null" type="text" ng-model="paymentname" class="form-control" required />
                                <br />
                            </div>
                            <div class="col-md-12">
                                @if (ViewBag.nuevoCentroPago)
                                {
                                <button ng-show="idPaymentCenterUpdate == 0 || idPaymentCenterUpdate == null" ng-disabled="!formpayment.$valid" ng-click="addPaymentCenter()" class="btn btn-success">Agregar</button>
                                }
                                @if (ViewBag.editarCentroPago)
                                {
                                <button ng-show="idPaymentCenterUpdate > 0" ng-disabled="!formpayment.$valid" ng-click="updatePaymentCenter()" class="btn btn-info">Actualizar</button>
                                <button ng-show="idPaymentCenterUpdate > 0" ng-click="idPaymentCenterUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                                }
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listPaymentCenter">
                                    <td>{{type.name}}</td>
                                    <td>
                                        @if (ViewBag.editarCentroPago)
                                        {
                                            <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarCentroPago)
                                        {
                                            <button ng-show="showDelete" ng-click="deletePaymentCenter(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

