﻿
@{
    ViewBag.Title = "ReceiptPayReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/receiptPayRefereeController.js"></script>
}

<h2>KARDEX</h2>
<br />
<div class="container" ng-app="generals" ng-controller="receiptPayReferee" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <form name="formreferee">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h5>Número de colegiado</h5>
                        <input type="text" ng-model="idReferee" class="form-control" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <h4>Colegiado: {{idreferee}}</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Nombre: {{completeNameReferee}}</h4>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <button ng-disabled="!formreferee.$valid" ng-click="getReceipt()" class="btn btn-success btn-block">Cuotas colegiado</button>
                        <button type="button" class="btn btn-info btn-block" ng-csv="listReceiptCSV" csv-header="['Pagado', 'Mes', 'Ano', 'Monto', 'Recibo', 'Fecha']" filename="Cuotas_Colegiado_{{idReferee}}.csv">Export Cuotas Colegiado</button>
                    </div>
                    <div class="col-md-3">
                        <button ng-disabled="!formreferee.$valid" ng-click="getReceiptTimbre()" class="btn btn-success btn-block">Cuotas Timbre</button>
                        <button type="button" class="btn btn-info btn-block" ng-csv="listReceiptTimbreCSV" csv-header="['Pagado', 'Mes', 'Ano', 'Monto Base', 'Seguro', 'Mora', 'T. Demanda', 'Porcentaje', 'Recibo', 'Fecha']" filename="Cuotas_Timbre_{{idReferee}}.csv">Export Cuotas Timbre</button>
                    </div>
                    <div class="col-md-3">
                        <button ng-disabled="!formreferee.$valid" ng-click="getReceiptOther()" class="btn btn-success btn-block">Otras cuotas</button>
                        <button type="button" class="btn btn-info btn-block" ng-csv="listReceiptTimbreCSV" csv-header="['Pagado', 'Mes', 'Ano', 'Descripcion', 'Cantidad', 'Monto', 'SubTotal', 'Recibo']" filename="Cuotas_Otras_{{idReferee}}.csv">Export Otras Cuotas</button>
                    </div>
                    <div class="col-md-3">
                        <button ng-disabled="!formreferee.$valid" ng-click="getReceiptNomina()" class="btn btn-success btn-block">Cuota Planilla</button>
                        <button type="button" class="btn btn-info btn-block" ng-csv="listReceiptNominaCSV" csv-header="['Pagado', 'Mes', 'Ano', 'Base%', 'Seguro', 'Mora', 'Porcentaje', 'Base', 'Institucion', 'Recibo']" filename="Cuotas_Planilla_{{idReferee}}.csv">Export Cuotas Planilla</button>
                    </div>
                </div>
            </form>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row" ng-show="showEconomic == 0">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Pagado</th>
                                    <th>Mes</th>
                                    <th>Año</th>
                                    <th>Monto</th>
                                    <th>No. Recibo</th>
                                    <th>Fecha de Recibo</th>
                                    <th>Rechazado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listReceipt">
                                    <td>{{ textTotal(list)}}</td>
                                    <td>{{list.mes}}</td>
                                    <td>{{list.anio}}</td>
                                    <td>{{list.monto | number:2}}</td>
                                    <td>{{list.recibo}}</td>
                                    <td>{{list.fechaReceip}}</td>
                                    <td> <span class="label label-danger" ng-show="list.rechazado == 1 && list.congelado == 1">Cheque rechazado</span></td>
                                    <td> <span class="label label-success" ng-show="list.rechazado == 1 && list.congelado != 1">Cheque rechazado</span></td>
                                    <td>
                                        <button class="btn btn-info btn-xs" ng-show="list.recibo != null" ng-click="getEconomic(list)">Ver Pago</button>
                                        <a ng-href="{{list.url}}" ng-show="list.recibo != null" class="btn btn-success btn-xs" target="_blank">Imprimir recibo</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showEconomic == 2">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Pagado</th>
                                    <th>Mes</th>
                                    <th>Año</th>
                                    <th>Base</th>
                                    <th>Seguro</th>
                                    <th>Mora</th>
                                    <th>T. Demanda</th>
                                    <th>Porcentaje</th>
                                    <th>No. Recibo</th>
                                    <th>Fecha de Recibo</th>
                                    <th>Rechazado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listReceiptTimbre">
                                    <td>{{ textTotal(list)}}</td>
                                    <td>{{list.mes}}</td>
                                    <td>{{list.anio}}</td>
                                    <td>{{list.montoT | number:2}}</td>
                                    <td>{{list.montoP | number:2}}</td>
                                    <td>{{list.montoC | number:2}}</td>
                                    <td>{{list.montoD | number:2}}</td>
                                    <td>{{list.porcent * 100}}%</td>
                                    <td>{{list.recibo}}</td>
                                    <td>{{list.fechaReceip}}</td>
                                    <td> <span class="label label-danger" ng-show="list.rechazado == 1 && list.congelado == 1">Cheque rechazado</span></td>
                                    <td> <span class="label label-success" ng-show="list.rechazado == 1 && list.congelado != 1">Cheque rechazado</span></td>
                                    <td>
                                        <button class="btn btn-info btn-xs" ng-show="list.recibo != null && list.recibo != ''" ng-click="getEconomic(list)">Ver Pago</button>
                                        <a ng-href="{{list.url}}" ng-show="list.recibo != null" class="btn btn-success btn-xs" target="_blank">Imprimir recibo</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showEconomic == 3">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Pagado</th>
                                    <th>Mes</th>
                                    <th>Año</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Total</th>
                                    <th>No. Recibo</th>
                                    <th>Rechazado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listReceiptTimbre">
                                    <td>{{textTotal(list)}}</td>
                                    <td>{{list.mes}}</td>
                                    <td>{{list.anio}}</td>
                                    <td>{{list.tipoPago}}</td>
                                    <td>{{list.count}}</td>
                                    <td>{{list.monto | number:2}}</td>
                                    <td>{{list.multiplicacion | number:2}}</td>
                                    <td>{{list.recibo}}</td>
                                    <td> <span class="label label-danger" ng-show="list.rechazado == 1 && list.congelado == 1">Cheque rechazado</span></td>
                                    <td> <span class="label label-success" ng-show="list.rechazado == 1 && list.congelado != 1">Cheque rechazado</span></td>
                                    <td>
                                        <button class="btn btn-info btn-xs" ng-show="list.recibo != null && list.recibo != ''" ng-click="getEconomic(list)">Ver Pago</button>
                                        <a ng-href="{{list.url}}" ng-show="list.recibo != null" class="btn btn-success btn-xs" target="_blank">Imprimir recibo</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showEconomic == 4">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Mes</th>
                                    <th>Año</th>
                                    <th>Base%</th>
                                    <th>Seguro</th>
                                    <th>Mora</th>
                                    <th>Porcentaje</th>
                                    <th>Base</th>
                                    <th>Institución</th>
                                    <th>No. Recibo</th>
                                    <th>Rechazado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listReceiptNomina">
                                    <td>{{list.fecha}}</td>
                                    <td>{{list.mes}}</td>
                                    <td>{{list.anio}}</td>
                                    <td>{{list.montoT | number:2}}</td>
                                    <td>{{list.montoP | number:2}}</td>
                                    <td>{{list.montoC | number:2}}</td>
                                    <td>{{list.porcent * 100}}%</td>
                                    <td>{{(list.montoT * 100) | number:2}}</td>
                                    <td>{{list.nombre}}</td>
                                    <td>{{list.recibo}}</td>
                                    <td> <span class="label label-danger" ng-show="list.rechazado == 1 && list.congelado == 1">Cheque rechazado</span></td>
                                    <td> <span class="label label-success" ng-show="list.rechazado == 1 && list.congelado != 1">Cheque rechazado</span></td>
                                    <td>
                                        <button class="btn btn-info btn-xs" ng-show="list.recibo != null && list.recibo != ''" ng-click="getEconomic(list)">Ver Pago</button>
                                        <a ng-href="{{list.url}}" ng-show="list.recibo != null" class="btn btn-success btn-xs" target="_blank">Imprimir recibo</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showEconomic == 1">
                <div class="col-md-12">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <button class="btn btn-warning" ng-click="showEconomic = viewSearch">Regresar</button>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Cargo Economico</th>
                                    <th>Monto</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listEconomic">
                                    <td>{{list.textEconomic}}</td>
                                    <td>{{list.amount | number:2}}</td>
                                    <td>{{list.date | date:"dd/MM/yyyy"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")
