﻿
@{
    ViewBag.Title = "RefereeReceipt";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/refereeReceiptController.js"></script>
}

<h2>Recibos por colegiado</h2>
<br />
<div class="container" ng-app="generals" ng-controller="refereeReceipt" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form name="formreferee">
                        <input type="text" ng-model="idReferee" class="form-control" required />
                        <br />
                        <button ng-disabled="!formreferee.$valid" ng-click="getReceipt()" class="btn btn-success">Buscar</button>
                          
                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row" ng-show="showEconomic == 0">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>A nombre</th>
                                    <th>Fecha</th>
                                    <th>Rechazado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listReceipt">
                                    <td>{{list.NoReceipt}}</td>
                                    <td>{{list.ToName}}</td>
                                    <td>{{list.dateCreate | date:"dd/MM/yyyy"}}</td>
                                    <td>{{((list.reject == 1)? 'Rechazado': '')}}</td>
                                    <td>
                                        <button class="btn btn-info btn-xs" ng-click="getEconomic(list)">Ver Pago</button>
                                        <a ng-href="{{list.url}}" class="btn btn-success btn-xs" target="_blank">Imprimir recibo</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showEconomic == 1">
                <div class="col-md-12">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <button class="btn btn-warning" ng-click="showEconomic = 0">Regresar</button>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Cargo Economico</th>
                                    <th>Monto</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listEconomic">
                                    <td>{{list.textEconomic}}</td>
                                    <td>{{list.amount | number:2}}</td>
                                    <td>{{list.date | date:"dd/MM/yyyy"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")
