﻿
@{
    ViewBag.Title = "RejectedCheck";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/rejectedCheckController.js"></script>
}

<h2>Estatus Cheques</h2>
<br />
<div class="container" ng-app="generals" ng-controller="rejected" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row" ng-hide="showCheck">
                @if (ViewBag.buscarCheque || ViewBag.editarCheque)
                {
                <form name="formcellar" novalidate>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <h5>Numero de Documento</h5>
                            <input class="form-control" ng-model="numberDoc" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Seleccionar Banco</h5>
                            <select class="form-control" ng-model="selectBanck" ng-options="list as list.name for list in listBank" required></select>
                        </div>
                        <div class="col-md-4">
                            <br />
                            <br />
                            <button ng-disabled="!formcellar.$valid" ng-click="searchCheck()" class="btn btn-success">Buscar</button>
                        </div>
                    </div>
                </form>
                }
            </div>
            <div class="row" ng-hide="showCheck">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Rechazado</th>
                                    <th>Reserva</th>
                                    <th>Monto</th>
                                    <th>Fecha</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in listDataCheks">
                                    <td>{{list.MPP_NoDocumento}}</td>
                                    <td>{{changeRejection(list.MPP_Rechazado)}}</td>
                                    <td>{{changeReservation(list.MPP_Reserva)}}</td>
                                    <td>{{list.MPP_Monto | currency:"Q."}}</td>
                                    <td>{{list.MPP_FechaHora  | date:"dd/MM/yyyy  hh:mm"}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" ng-click="searchOnlyCheck(list)">Detalle</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" ng-show="visible >= 2 && showCheck == true">
                <div class="col-md-12">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <button class="btn btn-warning" ng-click="showCheck = false">Regresar</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <h6>Monto</h6>
                        <h4>{{rejAmount | currency:"Q."}}</h4>
                    </div>
                    <div class="col-md-2">
                        <h6>Fecha</h6>
                        <h4>{{rejDate | date:"dd/MM/yyyy"}}</h4>
                    </div>
                    <div class="col-md-2">
                        <h6>Rechazado</h6>
                        <h4>{{changeRejection(rejRejected)}}</h4>
                    </div>
                    <div class="col-md-2">
                        <h6>Estatus</h6>
                        <h4><span class="ng-class: rejReserColor;">{{changeReservation(rejReser)}}</span></h4>
                    </div>
                    <div class="col-md-2">
                        <h6>Estado de pago</h6>
                        <h4>{{ ((payFrozen == null) ? 'No congelado' : 'Congelado') }}</h4>
                    </div>
                    <div class="col-md-2">
                        <h6>Estado de pago</h6>
                        <h4>{{totalEconomics | currency:"Q."}}</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="type in listData">
                                        <td>{{type.description}}</td>
                                        <td>{{type.amount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    @if (ViewBag.editarCheque)
                    {
                    <div class="col-md-4" ng-init="selectType = '0'" ng-show="rejReser == 1">
                        <h5>Seleccionar estado</h5>
                        <select class="form-control" ng-model="selectType">
                            <option value="0">Aceptado</option>
                            <option value="1">En Reserva</option>
                            <option value="2">Rechazado</option>
                        </select>
                    </div>
                    <div class="col-md-4" ng-show="rejReser == 1">
                        <h5>Acciones</h5>
                        <button class="btn btn-success btn-block" ng-click="update()">Actualizar estado</button>
                    </div>
                        if (ViewBag.agregarFCheque)
                        {
                    <div class="col-md-4" ng-show="rejReser == 2 && payFrozen == 1">
                        <h5>Acciones</h5>
                        <button class="btn btn-default btn-block" ng-disabled="aumontoPaymentMethod != 0" ng-click="addMethodPay()">Aceptar medios de pago</button>
                    </div>
                        }
                    }
                </div>
                @if (ViewBag.agregarFCheque)
                {
                <div class="col-md-12" ng-show="rejReser == 2 && payFrozen == 1">
                    <div class="row">
                        <br />
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Agregar medio de pago</h5>
                            <h5>Total a generar: {{aumontoPaymentMethod | number:2}}</h5>
                        </div>
                        <form name="formPaymentMethod">
                            <div class="row">

                                <div class="col-md-3">
                                    <h5>Monto{{alertamountPayment}}</h5>
                                    <input type="text" class="form-control" ng-model="amountpayMethod" ng-pattern="regexAmount" required />
                                </div>
                                <div class="col-md-9" ng-init="radioPaymentMethod = '0'">
                                    <h5>Seleccionar medio pago</h5>
                                    <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="0" name="optradio">Efectivo</label>
                                    <label class="radio-inline"><input type="radio" ng-change="clearMethodPay(); selectReservation = '1'" ng-model="radioPaymentMethod" value="1" name="optradio">Cheque</label>
                                    <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="2" name="optradio">Transferencia</label>
                                    <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="3" name="optradio">Tarjeta Credito</label>
                                    <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="4" name="optradio">Tarjeta Debito</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3" ng-show="radioPaymentMethod >= 2">
                                    <h5>Número de transacción</h5>
                                    <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayTrans" ng-required="radioPaymentMethod >= 2" />
                                </div>
                                <div class="col-md-3" ng-show="radioPaymentMethod == 1">
                                    <h5>Número de documento</h5>
                                    <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayDoc" ng-required="radioPaymentMethod == 1" />
                                </div>
                                <div class="col-md-3" ng-show="radioPaymentMethod == 1">
                                    <h5>Estatus</h5>
                                    <select ng-model="selectReservation" class="form-control">
                                        <option value="">No seleccion</option>
                                        <option value="0">Sin reserva</option>
                                        <option selected value="1">En reserva</option>
                                    </select>
                                </div>
                                <div class="col-md-3" ng-show="radioPaymentMethod != 0">
                                    <h5>Observaciones</h5>
                                    <input type="text" class="form-control" ng-model="remakepayMothod" />
                                </div>
                                <div class="col-md-3" ng-show="radioPaymentMethod != 0">
                                    <h5>Banco</h5>
                                    <select class="form-control" ng-model="selectIssuingBank" ng-options="lis as lis.name for lis in listBank" ng-required="radioPaymentMethod != 0"></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <br />
                                <button class="btn btn-success" ng-click="addListMethod()" ng-disabled="!formPaymentMethod.$valid" ng-show="radioPaymentMethod != 0">Agregar medio de pago</button>
                                <button class="btn btn-success" ng-click="addListMethodCash()" ng-disabled="!formPaymentMethod.$valid" ng-show="radioPaymentMethod == 0">Agregar Medio de pago efectivo</button>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Monto</th>
                                            <th>No. Trans.</th>
                                            <th>No. Doc</th>
                                            <th>Estatus</th>
                                            <th>Rechazado</th>
                                            <th>Observaciones</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in listPaymentMethodPay">
                                            <td>{{list.amount | number:2}}</td>
                                            <td>{{list.noTransaction}}</td>
                                            <td>{{list.noDocument}}</td>
                                            <td>{{changeReservation(list.reservation)}}</td>
                                            <td>{{changeRejection(list.rejection)}}</td>
                                            <td>{{list.remarke}}</td>
                                            <td>
                                                <button ng-click="deleteListMethod(list)" class="btn btn-danger btn-xs">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <br />

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")
