﻿
@{
    ViewBag.Title = "TestDocument";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/testDocumentController.js"></script>
}

<h2>Pagina de firmado</h2>
<br />
<div class="container" ng-app="generals" ng-controller="testDocumento">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h4>Cargar Certificacion</h4>
            </div>
            <div class="col-md-12">
                <form>
                    <input type='file' ng-model='modelcerbase' base-sixty-four-input>
                </form>
            </div>
            <div class="col-md-12">
                <br />
                <div class="col-md-4" ng-show="status >= 0">
                    <button class="btn btn-primary" ng-click="mm()">Solicitar</button>
                </div>
                <div class="col-md-4" ng-show="status >= 1">
                    <button class="btn btn-warning" ng-click="mmdescarga()">Verificar Estado</button>
                </div>
                <div class="col-md-4" ng-show="status >= 2">
                    @*<button class="btn btn-success" ng-show="status >= 2" ng-click="mmdescarga()">Descargar</button>*@
                    <a ng-href="http://159.65.44.11:4023/api/certification/download/{{idFile}}" target="_blank" class="btn btn-success" download="documento.pdf">Descargar</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h4>Cargar timbres (valores disponibles: 5,10,20,50,100) solo agregar un listado de una denominacion</h4>
            </div>
            <div class="col-md-12">
                <form>
                    <input type='file' ng-model='modeltimbase' base-sixty-four-input>
                </form>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <h5>Valor</h5>
                    <input class="form-control" ng-model="timbreValue" />
                </div>
                <div class="col-md-4">
                    <h5>cantidad</h5>
                    <input class="form-control" ng-model="timbreCount" />
                </div>
                <div class="col-md-4">
                    <h5>Agregar</h5>
                    <button class="btn btn-success" ng-click="addTimbres(timbreValue, timbreCount)">Agregar</button>
                </div>
            </div>
            <div class="col-md-12">
                <br />
                <div class="col-md-4" ng-show="statusT >= 0">
                    <button class="btn btn-primary" ng-click="solicitarTimbre()">Solicitar</button>
                </div>
                <div class="col-md-4" ng-show="statusT >= 1">
                    <button class="btn btn-warning" ng-click="revisionTimbre()">Verificar Estado</button>
                </div>
                <div class="col-md-4" ng-show="statusT >= 2">
                    @*<button class="btn btn-success" ng-show="status >= 2" ng-click="mmdescarga()">Descargar</button>*@
                    <a ng-href="http://159.65.44.11:4023/api/timbre/download/{{idFiletimbre}}" target="_blank" class="btn btn-success" download="documento.pdf">Descargar</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">Timbres solicitados</div>
        <div class="col-md-12">
            <div class="col-md-2" ng-repeat="list in timbres">
                <p>{{$index + 1}} ) Valor: {{list.valor}}</p>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
    
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")
