﻿
@{
    ViewBag.Title = "TimbresOfDemand";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/timbresOfDemandController.js"></script>
}

<h2>Timbres por demanda</h2>
<br />
<div class="container" ng-app="generals" ng-controller="timbres" ng-init="setAuth(@ViewBag.idCahier);defineDocument(@ViewBag.receipt)">
    <div class="row" ng-show="!showPayTimbre && visiblePay == 0">
        <div class="col-md-6">
            <h4>Monto seleccionado: {{amountSelectTimbre | currency:"QTZ Q."}}</h4>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h4 class="text-warning">Serie-Timbre, Serie-Timbre, ....</h4>
            </div>
        </div>
        <div class="col-md-12" ng-repeat="row in itemsTimbre track by $index">
            <div class="col-md-3">
                <h4>Denominación: {{row.name}}</h4>
            </div>
            <div class="col-md-3">
                <input type="text" ng-blur="getTimbres(@ViewBag.idCahier, row.nameInput, row.id, $index)" class="form-control" ng-pattern="regexNumber" ng-model="row.nameInput" />
            </div>
            <div class="col-md-6">
                <h6>{{row.textDemand}}</h6>
            </div>
        </div>
        <div class="col-md-12">
            <div class="separador-30"></div>
            <div class="col-md-3">
                <button class="btn btn-success" ng-disabled="!(amountSelectTimbre > 0)" ng-click="showPayTimbre = true">Generar Compra</button>
            </div>
        </div>
    </div>
    <br />

    <div class="row" ng-show="showPayTimbre && visiblePay == 0">
        <div class="col-md-12">
            <form name="formreferee">
                <div class="col-md-12">
                    <h4>{{completeNameReferee}}</h4>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-blur="statePay = 0" ng-model="referee" ng-disabled="statePay >= 2" required />
                    <h5>Ingresar Colegiado</h5>
                </div>
                <div class="col-md-9">
                    <button  class="btn btn-primary" ng-disabled="statePay != 0 || !formreferee.$valid " ng-click="getBalanceReferee()">Obtener nombre</button>
                    <button class="btn btn-success" ng-disabled="statePay != 1 || !formreferee.$valid" ng-click="addEconomic()">Agregar Cargo Economico</button>
                    <button class="btn btn-default" ng-click="addPay(@ViewBag.idCahier, @ViewBag.idCash)" ng-disabled="statePay != 2 || aumontoPaymentMethod != 0">Pagar Cargo Economico</button>
                    <button class="btn btn-warning" ng-click="addTimbres()" ng-disabled="statePay != 3">Descontar Timbres</button>
                </div>
            </form>
        </div>
        <div class="col-md-12" ng-show="statePay == 2">
            <div class="col-md-12">
                <h5>Genere el pago de Timbre</h5>
                <div class="col-md-4">
                    <h5>Observaciones</h5>
                    <input type="text" class="form-control" ng-model="remakepay" required />
                </div>
            </div>
            <div class="col-md-12">
                <div class="row" >
                    <div class="col-md-12">
                        <h5>Agregar medio de pago</h5>
                        <h5>Total a generar: {{aumontoPaymentMethod | number:2}}</h5>
                    </div>
                    <form name="formPaymentMethod">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Monto{{alertamountPayment}}</h5>
                                <input type="text" class="form-control" ng-model="amountpayMethod" ng-pattern="regexAmount" required />
                            </div>
                            <div class="col-md-9" ng-init="radioPaymentMethod = '0'">
                                <h5>Seleccionar medio pago</h5>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="0" name="optradio">Efectivo</label>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay(); selectReservation = '1'" ng-model="radioPaymentMethod" value="1" name="optradio">Cheque</label>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="2" name="optradio">Transferencia</label>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="3" name="optradio">Tarjeta Credito</label>
                                <label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="4" name="optradio">Tarjeta Debito</label>
                                @*<label class="radio-inline"><input type="radio" ng-change="clearMethodPay()" ng-model="radioPaymentMethod" value="5" name="optradio">Lote Institucional</label>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" ng-show="radioPaymentMethod >= 2">
                                <h5>Número de transacción</h5>
                                <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayTrans" ng-required="radioPaymentMethod >= 2" />
                            </div>
                            <div class="col-md-3" ng-show="radioPaymentMethod == 1">
                                <h5>Número de documento</h5>
                                <input type="text" class="form-control" ng-pattern="regexDigit" ng-model="numberpayDoc" ng-required="radioPaymentMethod == 1" />
                            </div>
                            <div class="col-md-3" ng-show="radioPaymentMethod != 0">
                                <h5>Observaciones</h5>
                                <input type="text" class="form-control" ng-model="remakepayMothod" />
                            </div>
                            <div class="col-md-3" ng-show="radioPaymentMethod != 0">
                                <h5>Banco</h5>
                                <select class="form-control" ng-model="selectIssuingBank" ng-options="lis as lis.name for lis in listIssuingBank" ng-required="radioPaymentMethod != 0"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <button class="btn btn-success" ng-click="addListMethod()" ng-disabled="!formPaymentMethod.$valid" ng-show="radioPaymentMethod != 0">Agregar medio de pago</button>
                            <button class="btn btn-success" ng-click="addListMethodCash()" ng-disabled="!formPaymentMethod.$valid" ng-show="radioPaymentMethod == 0">Agregar Medio de pago efectivo</button>
                            <br />
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Monto</th>
                                        <th>No. Trans.</th>
                                        <th>No. Doc</th>
                                        <th>Observaciones</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in listPaymentMethodPay">
                                        <td>{{list.amount | number:2}}</td>
                                        <td>{{list.noTransaction}}</td>
                                        <td>{{list.noDocument}}</td>
                                        <td>{{list.remarke}}</td>
                                        <td>
                                            <button ng-click="deleteListMethod(list)" class="btn btn-danger btn-xs">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <h5>Descontar los timbres del sistema</h5>
                
            </div>
        </div>
    </div>
    <div class="row" ng-show="visiblePay == 3">
        <div class="col-md-12">
            <h3>Imprimir recibo</h3>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="row" ng-show="reciColegiado > 0">
                    <div class="col-md-3">
                        <h4>No. recibo cargos colegiado</h4>
                        <input class="form-control" ng-model="reciColegiado" />
                    </div>
                    <div class="col-md-3" ng-show="butonDocs">
                        <h5>Generar Documentos</h5>
                        <button class="btn btn-success" ng-click="addReceipt(1, @ViewBag.idCahier)">Generar</button>
                    </div>
                </div>
                @*<div class="row" ng-show="reciOther > 0">
                    <div class="col-md-3">
                        <h4>No. recibo cargos otros</h4>
                        <input class="form-control" ng-model="reciOther" />
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-md-9">
                        <div class="col-md-3" ng-show="butonDocs">
                            <h5>Generar Documentos</h5>
                            <button class="btn btn-success" ng-click="addReceipt(1, @ViewBag.idCahier)">Generar</button>
                        </div>
                    </div>
                </div>*@
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3" ng-repeat="document in listDocumentPrint">
                            <a class="btn btn-primary btn-block" ng-href="{{document.direccion}}" target="_blank">{{document.title}}</a>
                        </div>
                    </div>
                </div>
                @*<div class="row" ng-repeat="document in listDocumentPrint">
                    <div class="col-md-9">
                        <div class="col-md-3">
                            <a ng-href="{{document.direccion}}" target="_blank">{{document.title}}</a>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="col-md-12">
                <br />
                <br />
                <button class="btn btn-danger" ng-click="reloadPay()">Salir</button>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

