﻿
@{
    ViewBag.Title = "TimbreChange";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/timbresChangeController.js"></script>
}

<h2>Cambio de Timbres</h2>
<div class="container" ng-app="generals" ng-controller="timbresChange" ng-init="setAuth(@ViewBag.idCahier)">
    <div class="row">
        <div class="col-md-12" aling="center">
            <h3>Monto a cambiar: {{valueTotal | currency:"QTZ Q."}}</h3>
            <h3>{{message}}</h3>
        </div>
        <div class="col-md-12">
            @*<div class="col-md-6">
                <h5>Seleccionar cajero</h5>
                <select class="form-control" ng-disabled="disableCashier" ng-model="inCashi" ng-options="lis as lis.name for lis in listCashier"></select>
            </div>*@
            <div class="col-md-6">
                <h5>Acción</h5>
                <button class="btn btn-primary" ng-disabled="valueTotal != 0" ng-click="changeTimbre()">Canjear Timbres</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h4>Recepción de timbre</h4>
            </div>
            <div class="col-md-3">
                <h5>Número Serie</h5>
                <input type="text" class="form-control" ng-model="downNoPage" />
            </div>
            <div class="col-md-3">
                <h5>Número timbre</h5>
                <input type="text" class="form-control" ng-model="dowNoTimbre" />
            </div>
            <div class="col-md-3">
                <h5>Monto timbre</h5>
                <select class="form-control" ng-model="selectValueDow" ng-change="getCountry()" ng-options="list as list.name for list in listT" required></select>
            </div>
            <div class="col-md-3">
                <h5>Acción</h5>
                <button class="btn btn-success" ng-click="getInfoTimbreDown(dowNoTimbre, downNoPage)">Agregar</button>
            </div>
            <div class="col-md-12">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No. Serie</th>
                                <th>No. Timbre</th>
                                <th>Valor</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="type in downTimbre">
                                <td>{{type.numberPage}}</td>
                                <td>{{type.numberTimbre}}</td>
                                <td>{{type.valor | currency:"QTZ Q."}}</td>
                                <td>
                                    <button ng-click="removeDown($index)" class="btn btn-danger btn-xs">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h4>Entrega de timbre</h4>
            </div>
            <div class="col-md-3">
                <h5>Número Serie</h5>
                <input type="text" class="form-control" ng-model="upNoPage" />
            </div>
            <div class="col-md-3">
                <h5>Número timbre</h5>
                <input type="text" class="form-control" ng-model="upNoTimbre" />
            </div>
            <div class="col-md-3">
                <h5>Monto timbre</h5>
                <select class="form-control" ng-model="selectValueUp" ng-change="getCountry()" ng-options="list as list.name for list in listT" required></select>
            </div>
            <div class="col-md-3">
                <h5>Acción</h5>
                <button class="btn btn-success" ng-click="getInfoTimbreUp(upNoTimbre, upNoPage)">Agregar</button>
            </div>
            <div class="col-md-12">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No. Serie</th>
                                <th>No. Timbre</th>
                                <th>Valor</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="type in upTimbre">
                                <td>{{type.numberPage}}</td>
                                <td>{{type.numberTimbre}}</td>
                                <td>{{type.valor | currency:"QTZ Q."}}</td>
                                <td>
                                    <button ng-hide="showDelete" ng-click="removeUp($index)" class="btn btn-danger btn-xs">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")