﻿
@{
    ViewBag.Title = "TipeReferee";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/typeReferee.js"></script>
}

<h2>Tipo de Colegiado</h2>
<br />
<div class="container" ng-app="generals" ng-controller="typeReferee" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form name="formtypereferee">
                        @if (ViewBag.nuevoTipoCol)
                        {
                        <h5>Nombre del tipo colegiado</h5>
                        <input type="text" ng-model="typedescription" class="form-control" required/>
                        <br />
                        
                        <button ng-show="id == 0 || id == null" ng-disabled="!formtypereferee.$valid" ng-click="addTypeReferee(typedescription)" class="btn btn-success">Agregar</button>
                        }
                        <button ng-show="id > 0" ng-disabled="!formtypereferee.$valid" ng-click="update()" class="btn btn-info">Actualizar</button>
                        <button ng-show="id > 0" ng-click="id = 0;cleanData()" class="btn btn-default">Cancelar</button>

                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tipo Colegiado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listTypeReferee">
                                    <td>{{type.nombre}}</td>
                                    <td>
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        @if (ViewBag.eliminarTipoCol)
                                        {
                                        <button ng-show="showDelete" ng-click="deleteTypeReferee(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                        <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                        <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")

