﻿
@{
    ViewBag.Title = "TypeBeneficiary";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/typeBeneficiaryController.js"></script>
}
<h2>Tipo Beneficiario</h2>
<br />
<div class="container" ng-app="generals" ng-controller="typeBeneficiary" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form name="formtypebeneficiary">
                        @if (ViewBag.nuevoTipoBen || ViewBag.editarTipoBen)
                        {
                        <div class="col-md-4">
                            <h5>Nombre</h5>
                            <input ng-model="typeName" type="text" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <h5>Descripción</h5>
                            <input ng-model="tyepDescription" type="text" class="form-control" required />
                        </div>
                        }
                        <div class="col-md-4">
                            <br />
                            <br />
                            @if (ViewBag.nuevoTipoBen)
                            {
                            <button ng-show="idTypeBeneficiaryUpdate == 0 || idTypeBeneficiaryUpdate == null" ng-disabled="!formtypebeneficiary.$valid" ng-click="addTypeBeneficiary()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarTipoBen)
                            {
                            <button ng-show="idTypeBeneficiaryUpdate > 0" ng-disabled="!formtypebeneficiary.$valid" ng-click="updateTypeBeneficiary()" class="btn btn-info">Actualizar</button>
                            }
                            <button ng-show="idTypeBeneficiaryUpdate > 0" ng-click="idTypeBeneficiaryUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre Tipo Beneficiario</th>
                                    <th>Descripcion</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listTypeBeneficiary">
                                    <td>{{type.name}}</td>
                                    <td>{{type.description}}</td>
                                    <td>
                                        @if (ViewBag.editarTipoBen)
                                        {
                                            <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarTipoBen)
                                        {

                                            <button ng-show="showDelete" ng-click="deleteTypeBeneficiary(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")