﻿
@{
    ViewBag.Title = "TypeSpeciality";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}
@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/typeSpecialityController.js"></script>
}
<h2>Tipo de Título</h2>
<br />
<div class="container" ng-app="generals" ng-controller="typeSpeciality" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form name="formtypeespecialty">
                        @if (ViewBag.nuevoTipoEsp || ViewBag.editarTipoEsp)
                        {
                        <div class="col-md-4">
                            <h5>Nombre de especialidad</h5>
                            <input ng-model="typeName" type="text" class="form-control" required/>
                        </div>
                        <div class="col-md-4">
                            <h5>Abreviatura</h5>
                            <input ng-model="typeAbbreviation" type="text" class="form-control" required />
                        </div>
                        <div class="col-md-4" ng-init="tyepDegree = 'Licenciatura'">
                            <h5>Grado Academico</h5>
                            <select class="form-control backgroundInput" ng-model="tyepDegree" required>
                                <option value="Licenciatura">Licenciatura</option>
                                <option value="Maestría">Maestría</option>
                                <option value="Doctorado">Doctorado</option>
                                <option value="Diplomado">Diplomado</option>
                                <option value="Curso Libre">Curso Libre</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <h5>Acciones</h5>
                            @if (ViewBag.nuevoTipoEsp)
                            {
                            <button ng-show="idTypeSpecialtyUpdate == 0 || idTypeSpecialtyUpdate == null" ng-disabled="!formtypeespecialty.$valid" ng-click="addTypeEspecialty()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarTipoEsp)
                            {
                            <button ng-show="idTypeSpecialtyUpdate > 0" ng-disabled="!formtypeespecialty.$valid" ng-click="updateTypeSpecialty()" class="btn btn-info">Actualizar</button>
                            }
                            <button ng-show="idTypeSpecialtyUpdate > 0" ng-click="idTypeSpecialtyUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                        </div>
                        }
                    </form>                
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre de Especialidad</th>
                                    <th>Grado Academico</th>
                                    <th>Abreviación</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listTypeEspecialty">
                                    <td>{{type.name}}</td>
                                    <td>{{type.degree}}</td>
                                    <td>{{type.abbreviation}}</td>
                                    <td>
                                        @if (ViewBag.editarTipoEsp)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarTipoEsp)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteTypeEspecialty(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")