﻿@{
    ViewBag.Title = "University";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/universityController.js"></script>
}

<h2>Universidades</h2>
<br />
<div class="container" ng-app="generals" ng-controller="university" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @if (ViewBag.nuevoUniversidad || ViewBag.editarUniversidad)
                    {
                    <form name="formuniversity">
                        <h5>Resumido</h5>
                        <input type="text" ng-model="universityname" class="form-control" required />
                        <h5>Universidad</h5>
                        <input type="text" ng-model="universitydescription" class="form-control" required />
                        <br />
                        @if (ViewBag.nuevoUniversidad)
                        {
                        <button ng-show="idUniversidadUpdate == 0 || idUniversidadUpdate == null" ng-disabled="!formuniversity.$valid" ng-click="addUniversity()" class="btn btn-success">Agregar</button>
                        }
                        @if (ViewBag.editarUniversidad)
                        {
                        <button ng-show="idUniversidadUpdate > 0" ng-disabled="!formuniversity.$valid" ng-click="updateUniversity()" class="btn btn-info">Actualizar</button>
                        <button ng-show="idUniversidadUpdate > 0" ng-click="idUniversidadUpdate = 0;cleanData()" class="btn btn-default">Cancelar</button>
                        }
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Resumen</th>
                                    <th>Universidad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in listUniversity">
                                    <td>{{type.name}}</td>
                                    <td>{{type.description}}</td>
                                    <td>
                                        @if (ViewBag.editarUniversidad)
                                        {
                                        <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarUniversidad)
                                        {
                                            <button ng-show="showDelete" ng-click="deleteUniversity(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")
