﻿
@{
    ViewBag.Title = "ValueTimbre";
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

@section scripts{
    <script src="~/Scripts/moduleAngular/controller/GeneralActions/valueTimbreController.js"></script>
}

<h2>Denominaciones Timbres</h2>
<br />
<div class="container" ng-app="generals" ng-controller="valueTimbre" ng-init="setAuth()">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    @if (ViewBag.nuevoValorTimb || ViewBag.editarValorTimb)
                    {
                    <form name="formunvalue">
                        <div class="col-md-6">
                            <h5>Nombre</h5>
                            <input class="form-control" ng-model="name" required />
                        </div>
                        <div class="col-md-6">
                            <h5>Denominación</h5>
                            <input ng-pattern="regexAmount" class="form-control" ng-model="denomination" required />
                        </div>
                        <div class="col-md-12">
                            <br />
                            @if (ViewBag.nuevoValorTimb)
                            {
                            <button ng-show="idObject == 0 || idObject == null" ng-disabled="!formunvalue.$valid" ng-click="add()" class="btn btn-success">Agregar</button>
                            }
                            @if (ViewBag.editarValorTimb)
                            {
                            <button ng-show="idObject > 0" ng-disabled="!formunvalue.$valid" ng-click="update()" class="btn btn-info">Actualizar</button>
                            <button ng-show="idObject > 0" ng-click="idObject = 0;cleanData()" class="btn btn-default">Cancelar</button>
                            }
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Denominaciones</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in list">
                                    <td>{{type.name}}</td>
                                    <td>{{type.denomination}}</td>
                                    <td>
                                        @if (ViewBag.editarValorTimb)
                                        {
                                            <button ng-hide="showDelete" ng-click="showDataUpdate(type)" class="btn btn-default btn-xs">Actualizar</button>
                                        }
                                        @if (ViewBag.eliminarValorTimb)
                                        {
                                            <button ng-show="showDelete" ng-click="delete(type)" class="btn btn-danger btn-xs">Eliminar</button>
                                            <button ng-show="showDelete" ng-click="showDelete = false;" class="btn btn-warning btn-xs">Cancelar</button>
                                            <button ng-hide="showDelete" ng-click="showDelete = true;" class="btn btn-danger btn-xs">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-class: showNotify;">
        <div class="recuadro-change">
            <img src="~/Content/img/Cargando.gif" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/containerGeneralActionsAngular")
